<template>
    <div>

        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <div class="breadcrumb-head">商品管理</div>
            <el-breadcrumb>
                <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="content">

            <div class="content-title">填写职员信息</div>

            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                <el-row>
                    <el-col :span='8'>
                        <el-form-item label="职员姓名" prop="employeeName">
                            <el-input v-model="ruleForm.employeeName"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span='8' :offset="4">
                        <el-form-item label="职员账号" prop="userName">
                            <el-input v-model="ruleForm.userName"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span='8'>

                        <el-form-item label="联系方式" prop="phone">
                            <el-input v-model="ruleForm.phone"></el-input>
                        </el-form-item>

                    </el-col>
                    <el-col :span='8' :offset="4">
                        <el-form-item label="登录密码" prop="userPassword">
                            <el-input v-model="ruleForm.userPassword"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span='8'>
                        <el-form-item label="职员职位" prop="position">
                            <el-input v-model="ruleForm.position"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span='8' :offset="4">
                        <el-form-item label="职员备注" prop="remark">
                            <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="ruleForm.remark">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span='8'>
                        <el-form-item label="职员头像">
                            <el-upload :action="imgApi" list-type="picture-card" :on-success="uploadImgHandler" :file-list="upImgs" :on-remove="handleRemove" :limit="1">
                                <i class="el-icon-plus"></i>
                                <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：200*200px；格式:jpg、png；大小：100KB以内</div>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                    <el-col :span='8' :offset="4">
                        <el-form-item label="账号状态" prop="userStatus">
                            <el-select v-model="val1" clearable filterable placeholder="选择账号状态" @change="selectVal1">
                                <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value" class="search-select">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span='8' :offset="4">
                        <el-form-item label="职员性别" prop="sex">
                            <el-select v-model="val2" clearable filterable placeholder="选择职员性别" @change="selectVal2">
                                <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value" class="search-select">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>

            </el-form>

        </div>

        <el-button class="purple-bg" style="margin-top:20px" @click="save">保存</el-button>
        <el-button class="orange-bg" @click="cancel">取消</el-button>

    </div>
</template>

<script>
export default {
  data() {
    return {
      imgApi: this.$imgApi, //图片上传api
      val1: "",
      val2: "",
      options1: [
        {
          value: "1",
          label: "启用"
        },
        {
          value: "2",
          label: "停用"
        }
      ],
      options2: [
        {
          value: "0",
          label: "女"
        },
        {
          value: "1",
          label: "男"
        }
      ],
      upImgs: [],
      ruleForm: {
        userName: "",
        userPassword: "",
        employeeName: "",
        position: "",
        phone: "",
        headImage: "",
        remark: "",
        userStatus: "",
        sex: ""
      },
      rules: {
        // name: [
        //   { required: true, message: "请输入内容", trigger: "blur" }
        // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        // ],
        // user: [{ required: true, message: "请输入内容", trigger: "blur" }],
        // password: [{ required: true, message: "请输入内容", trigger: "blur" }],
        // remark: [{ required: true, message: "请输入内容", trigger: "blur" }],
        // sort: [{ required: true, message: "请选择内容", trigger: "change" }],
        // status: [{ required: true, message: "请输入内容", trigger: "blur" }],
        // job: [{ required: true, message: "请输入内容", trigger: "blur" }]
      },
      dialogImageUrl: "",
      dialogVisible: false
    };
  },
  methods: {
    /** @function 保存 */
    save() {
      console.log(this.ruleForm);
      this.$http.post(this.$api.addStoreEmployee, this.ruleForm).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
        if (rsp.data.flag) {
          console.log(rsp.data);
          this.$message.success("保存成功！");
          //  保存成功后跳转
          this.$router.go(-1);
        } else {
          this.$message.error("数据未填写完毕或出错，请重新检查！");
        }
      });
    },
    /**@function 取消 */
    cancel() {
      this.$confirm(
        "取消后将放弃保存，返回上一页面，请确认是否取消？",
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }
      )
        .then(() => {
          this.$message({
            type: "success",
            message: "取消成功!"
          });
          this.$router.go(-1);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "放弃 [取消] 操作!"
          });
        });
    },
    /**@function 图片 */
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    /**@function 图片上传成功事件 */
    uploadImgHandler(data) {
      console.log("图片上传成功事件");
      // console.log(data);
      this.ruleForm.headImage = data.data[0].fileUrl;
      console.log(this.ruleForm.headImage);
    },
    selectVal1() {
      this.ruleForm.userStatus = this.val1;
    },
    selectVal2() {
      this.ruleForm.sex = this.val2;
    }
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.content1 {
  margin-bottom: 20px;
}
</style>