<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="search-group">
        <el-input placeholder="搜索物流名称" v-model.trim="val1" @keyup.enter.native="searchVal1" @blur="searchVal1" prefix-icon="el-icon-search" class="search-input" clearable>
        </el-input>

        <el-select v-model="val2" clearable filterable @change="selectVal2" placeholder="选择物流状态">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">
          </el-option>
        </el-select>

      </div>

      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="index">
        </el-table-column>
        <el-table-column prop="logisticsName" label="物流名称">
        </el-table-column>
        <el-table-column prop="tel" label="查询电话">
        </el-table-column>
        <el-table-column prop="logisticsName" label="官方网址">
        </el-table-column>
        <el-table-column prop="status" label="物流状态">
          <template slot-scope="scope">
            {{ scope.row.status | changeStatus }}
          </template>
        </el-table-column>

        <el-table-column label="操作" prop="status">
          <template slot-scope="scope">
            <el-button v-if=" scope.row.status != '1' " type="text" size="small" class="purple-txt" ref @click="toggle(scope.row,$event)">启用</el-button>
            <el-button v-if=" scope.row.status == '1' " type="text" size="small" class="orange-txt" ref @click="toggle(scope.row,$event)">停用</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px">
        <el-button type="text" disabled>

        </el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeStatus: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    }
  },
  data() {
    return {
      options: [
        {
          value: "1",
          label: "启用"
        },
        {
          value: "0",
          label: "停用"
        }
      ],
      val1: "",
      val2: "",
      tableData: [],
      total: 0,
      pages: 0,
      multipleSelection: [],
      query: {
        pageNum: 1,
        pageSize: 20,
        logisticsName: "",
        logisticsStatus: ""
      }
    };
  },
  methods: {
    /**@function 获取物流列表 */
    getLogistics() {
      this.$http
        .get(this.$api.findStoreLogisticsListPage, { params: this.query })
        .then(rsp => {
          this.$isot(rsp); //登录超时处理函数
          console.log("获取物流列表");
          console.log(rsp.data);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 切换启用停用 */
    toggle(row, e) {
      console.log(row);
      if (row.status == "1") {
        this.$confirm("是否停用物流？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            console.log("停用物流");
            params.logisticsConfId = row.logisticsConfId;
            this.$http
              .get(this.$api.delStoreLogistics, {
                params: params
              })
              .then(rsp => {
                this.$isot(rsp); //登录超时处理函数
                this.getLogistics();
              });
            // this.getLogistics();
            this.$message({
              type: "warning",
              message: "停用物流成功!"
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [停用] 操作"
            });
          });
      } else {
        let params = {};
        params.logisticsConfId = row.logisticsConfId;
        this.$http
          .get(this.$api.addStoreLogistics, { params: params })
          .then(rsp => {
            this.$isot(rsp); //登录超时处理函数
            this.getLogistics();
          });
        this.$message({
          type: "success",
          message: "启用物流成功!"
        });
      }
      //   if (row.status == "1") {
      //     this.$message({
      //       message: "停用成功！",
      //       type: "warning"
      //     });

      //     row.status = "停用";
      //   } else {
      //     this.$message({
      //       message: "启用成功。",
      //       type: "success"
      //     });
      //     row.status = "启用";
      //   }
    },
    /**@function 搜索 */
    searchVal1() {
      this.query.logisticsName = this.val1;
      this.getLogistics();
    },
    /**@function 搜索 */
    selectVal2() {
      this.query.logisticsStatus = this.val2;
      this.getLogistics();
    },
    /**@function 选择行 */
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getGoodsData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getGoodsData();
    }
  },
  created() {
    this.getLogistics();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
</style>