<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商户设置</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1">
      <div class="content-title">商户信息</div>

      <el-row :gutter="20">
        <el-col :span="5">
          <div class="content-content">

            <img :src="merchantData.storeLogo" width="200" height="200" alt="">

          </div>
        </el-col>
        <el-col :span="8">
          <div class="content-detail">
            <div class="content-info">店铺名称：{{merchantData.storeName}}</div>
            <div class="content-info">店铺编号：{{merchantData.storeCode}}</div>
            <div class="content-info">
              <el-row>
                <span style="float:left">
                  店铺星级：
                </span>
                <el-rate v-model="merchantData.starLevel" disabled show-score text-color="#ff9900" score-template="{value}" style="float:left;width:155px">
                </el-rate>
              </el-row>
            </div>
            <div class="content-info">店铺状态：{{merchantData.storeStatus|changeStoreStatus}}</div>

          </div>
        </el-col>
        <el-col :span="8">
          <div class="content-detail">
            <div class="content-info">申请时间：{{merchantData.createDate}}</div>
            <div class="content-info">公司地址：{{merchantData.storeAddress}}</div>
            <div class="content-info">联系人：{{merchantData.name}}</div>
            <div class="content-info">联系方式：{{merchantData.tel}}</div>
          </div>
        </el-col>
      </el-row>

    </div>

    <div class="content content1">
      <div class="content-title">运费信息</div>
      <el-form :model="formData" :rules="rules" :ref="formData" label-width="100px">
        <el-row>
          <el-col :span='8'>
            <el-form-item label="基础运费" prop="basicsFreightCharge">
              <el-input v-model="formData.basicsFreightCharge"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="包邮运费" prop="pinkageAmount">
              <el-input v-model="formData.pinkageAmount"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>

    <el-button class="purple-bg" @click="save">保存</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changeStoreStatus: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "禁用";
      }
    }
  },
  data() {
    return {
      merchantData: {},
      value5: 3.5,
      formData: {
        basicsFreightCharge: "",
        pinkageAmount: ""
      },
      rules: {
        basicsFreightCharge: [
          { required: true, message: "请输入内容", trigger: "blur" }
          // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        pinkageAmount: [
          { required: true, message: "请输入内容", trigger: "blur" }
          // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    /**@function 保存按钮事件 */
    getMerchantData() {
      this.$http.get(this.$api.findStoreInfo).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
        this.merchantData = rsp.data.data;
        this.formData.basicsFreightCharge = this.merchantData.basicsFreightCharge;
        this.formData.pinkageAmount = this.merchantData.pinkageAmount;
      });
    },
    save() {
      console.log(this.formData);
      this.$http
        .get(this.$api.updateStoreFreight, { params: this.formData })
        .then(rsp => {
          this.$isot(rsp); //登录超时处理函数
          if (rsp.data.flag) {
            this.$message({
              message: "保存成功。",
              type: "success"
            });
            this.getMerchantData();
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    }
  },
  created() {
    this.getMerchantData();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.content1 {
  margin-bottom: 20px;
}

.box-border {
  border: 1px solid #dcdfe6;
  padding: 30px;
  border-radius: 4px;
}

.content-detail {
  & .content-info {
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(48, 49, 51, 1);
    font-weight: bold;
    padding-bottom: 30px;
  }
}
</style>