<template>
    <div>

        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <div class="breadcrumb-head">商品管理</div>
            <el-breadcrumb>
                <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="content">

            <div class="btn-group">
                <el-button icon="el-icon-plus" class="purple-bg" @click="addStaff">新增职员</el-button>
            </div>

            <div class="search-group">
                <el-input placeholder="搜索职员姓名/账号" v-model.trim="val1" @keyup.enter.native="searchVal" @blur="searchVal" clearable prefix-icon="el-icon-search" class="search-input">
                </el-input>

                <el-select v-model="val2" clearable filterable @change="selectVal" placeholder="选择账号状态">
                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">
                    </el-option>
                </el-select>

            </div>

            <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%">
                <el-table-column type="index" label="序号">
                </el-table-column>
                <el-table-column prop="employeeName" label="职员姓名">
                </el-table-column>
                <el-table-column prop="userName" label="职员账号">
                </el-table-column>
                <el-table-column prop="position" label="职位">
                </el-table-column>
                <el-table-column prop="phone" label="联系方式">
                </el-table-column>
                <el-table-column prop="remark" label="备注">
                </el-table-column>
                <el-table-column prop="userStatus" label="账号状态">
                    <template slot-scope="scope">
                        {{ scope.row.userStatus | changeUserStatus }}
                    </template>
                </el-table-column>

                <el-table-column label="操作" prop="status">
                    <template slot-scope="scope">
                        <!-- <el-button @click="checkStaff(scope.row)" type="text" size="small" class="purple-txt">查看</el-button> -->
                        <el-button v-if=" scope.row.userStatus != '1' " type="text" size="small" class="purple-txt" ref @click="toggle(scope.row,$event)">启用</el-button>
                        <el-button v-if=" scope.row.userStatus == '1' " type="text" size="small" class="orange-txt" ref @click="toggle(scope.row,$event)">停用</el-button>
                    </template>
                </el-table-column>

            </el-table>

            <div style="margin-top: 20px">
                <el-button type="text" disabled>

                </el-button>
                <div class="pagination">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
export default {
  filters: {
    changeUserStatus: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    }
  },
  data() {
    return {
      options: [
        {
          value: "1",
          label: "启用"
        },
        {
          value: "0",
          label: "停用"
        }
      ],
      val1: "",
      val2: "",
      total: 0,
      pages: 0,
      tableData: [],
      query: {
        pageNum: 1,
        pageSize: 20,
        userName: "",
        userStatus: ""
      }
    };
  },
  methods: {
    /**@function 获取职员列表 */
    getStaffList() {
      this.$http
        .get(this.$api.findStoreEmployeeListPage, { params: this.query })
        .then(rsp => {
          this.$isot(rsp); //登录超时处理函数
          console.log("获取职员列表");
          console.log(rsp.data);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 查看职员详情 */
    checkStaff(row) {
      console.log(row);
      //   this.$router.push("/goods/checkgoods");
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getGoodsData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getGoodsData();
    },
    /**@function 新增 */
    addStaff() {
      this.$router.push("/shop/addstaff");
    },
    /**@function 搜索 */
    searchVal() {
      this.query.userName = this.val1;
      this.getStaffList();
    },
    /**@function 选择 */
    selectVal() {
      this.query.userStatus = this.val2;
      this.getStaffList();
    },
    /**@function 启用停用 */
    toggle(row, e) {
      console.log(row);
      if (row.userStatus == "1") {
        this.$confirm("是否停用职员？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            console.log("停用职员");
            params.storeEmployeeId = row.storeEmployeeId;
            params.employeeStatus = 0;
            this.$http
              .get(this.$api.updateStoreEmployeeStatus, {
                params: params
              })
              .then(rsp => {
                this.$isot(rsp); //登录超时处理函数
                this.getStaffList();
              });
            // this.getLogistics();
            this.$message({
              type: "warning",
              message: "停用职员成功!"
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [停用] 操作"
            });
          });
      } else {
        let params = {};
        params.storeEmployeeId = row.storeEmployeeId;
        params.employeeStatus = 1;
        this.$http
          .get(this.$api.updateStoreEmployeeStatus, { params: params })
          .then(rsp => {
            this.$isot(rsp); //登录超时处理函数
            this.getStaffList();
          });
        this.$message({
          type: "success",
          message: "启用职员成功!"
        });
      }
    }
  },
  created() {
    this.getStaffList();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
</style>