<template>
	<div>
		<script id="editor" type="text/plain"></script>
	</div>
</template>
<script>
import "../../../static/UE/ueditor.config.js";
import "../../../static/UE/ueditor.all.js";
import "../../../static/UE/lang/zh-cn/zh-cn.js";
import "../../../static/UE/ueditor.parse.js";
export default {
  name: "ue",
  data() {
    return {
      editor: null
    };
  },
  props: {
    defaultMsg: {
      type: String
    },
    config: {
      type: Object
    },
    id: {
      type: String
    }
  },
  mounted() {
    // const _this = this;
    // console.log(this);
    this.editor = new UE.ui.Editor(this.config);
    this.editor.render("editor"); // 初始化UE

    // this.editor = UE.getEditor("editor", this.config).destroy(); // 初始化UE
    // this.editor = UE.getEditor("editor", this.config);

    this.editor.addListener("ready", function() {
      _this.editor.setContent(_this.defaultMsg); // 确保UE加载完成后，放入内容。
      // _this.editor.URL('/static/UE/'); // 确保UE加载完成后，放入内容。
      // this.$emit('ready', this.editor);
    });
  },
  methods: {
    getUEContent() {
      // 获取内容方法
      return this.editor.getContent();
    },
    getUEContentTxt() {
      // 获取纯文本内容方法
      return this.editor.getContentTxt();
    }
  },
  destroyed() {
    this.editor.destroy();
  }
};
</script>
