<template>
    <div class="login">
        <div class="login_bg flex flex-center">
            <div class="myLogo flex flex-column flex-center">
                <img src="../../img/myLogo.png" alt="" width="400px" height="100px">
                <div class="myBrand">商户后台管理系统</div>
            </div>
            <div class="login_box">
                <div class="login_title">后台登录</div>
                <div class="login_box_form">
                    <el-form :model="user" :rules="formRules" label-position="left" status-icon ref="ruleForm" label-width="70px" class="demo-ruleForm">
                        <el-input type="text" v-model="user.phone" auto-complete="off" placeholder="请输入用户名" style="margin-bottom: 20px" clearable></el-input>

                        <el-input type="password" v-model="user.pwd" auto-complete="off" placeholder="请输入密码" @keyup.enter.native="login" style="margin-bottom: 20px" clearable></el-input>
                        <div style="display: flex;justify-content: flex-start;align-items: center">

                            <el-checkbox v-model="remember_on">记住账号</el-checkbox>
                            <el-button type="text" @click="regUser" style="margin-left:210px" class="purple-txt">注册账号</el-button>
                        </div>
                    </el-form>
                </div>
                <el-button type="primary" style="width: 100%;background:#4D6CF3;margin-top: 34px;height: 56px; font-size: 20px" @click="login">登 录</el-button>
            </div>

        </div>

    </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        phone: "",
        pwd: ""
      },
      remember_on: false,
      // 配置校验规则
      formRules: {
        uname: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          {
            pattern: /\w{5,18}/,
            message: "长度在4到18个字符的字母或数字",
            trigger: "blur"
          }
        ],
        upwd: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { pattern: /.{6,18}/, message: "长度在6到18个字符", trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    //   登录处理事件
    login() {
      // 判断是否记住账号
      if (this.remember_on) {
        this.remember_on = 10;
      } else {
        this.remember_on = 0;
      }
      if (this.user.phone) {
        if (this.user.pwd) {
          let postData = this.$qs.stringify({
            phone: this.user.phone,
            pwd: this.user.pwd,
            remember_on: this.remember_on
          });

          this.$http.post(this.$api.login, postData).then(rsp => {
            console.log("登录");
            console.log(rsp);
            if (rsp.data.result == "0") {
              console.log("登陆成功");
              //    判断是否记住账号密码
              var storage = window.localStorage;
              if (this.remember_on == 10) {
                console.log("记住账号密码");
                storage.setItem("remember_on", true);
                storage.setItem(
                  "user",
                  JSON.stringify({ phone: this.user.phone, pwd: this.user.pwd })
                );
              } else {
                storage.removeItem("remember_on");
                storage.removeItem("user");
              }
              // 获取用户信息
              this.$http.post(this.$api.findUserInfo).then(rsp => {
                console.log("获取用户信息");
                console.log(rsp);
                var session = window.sessionStorage;
                // session.setItem("shop_id", rsp.data.data.user_info.shop_id);
                session.setItem("shop_id", 2);
                this.$shop_id
                this.$router.replace("/goods/goods");
              });
            } else {
              this.$message.error(rsp.data.message);
            }
          });
        } else {
          this.$message.error("请输入密码");
        }
      } else {
        this.$message.error("请输入登录账号");
      }
    },
    /**@function 注册账号 */
    regUser() {
      this.$router.push("/register");
    }
  },
  created() {
    var storage = window.localStorage;
    var remember_on = storage.getItem("remember_on");
    var user = JSON.parse(storage.getItem("user"));
    console.log(remember_on);
    console.log(user);
    if (remember_on) {
      this.remember_on = true;
    }
    if (user) {
      this.user = user;
    }
  }
};
</script>

<style scoped lang="less">
.login {
  height: 100%;
  background: rgba(45, 44, 49, 1);
}
.login_title {
  color: #676975;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}
.login_box {
  background: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  border-top: 2px solid #4d6cf3;
}
.login_bg {
  background: url("../../img/login_bg.png");
  width: 100%;
  height: 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.isKeepLogin {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 10px;
}
.goLogin {
  width: 100%;
  height: 56px;
  background-color: #4d6cf3;
}
.myLogo {
  margin-right: 125px;
}
.myBrand {
  color: #ff7f00;
  font-size: 24px;
  width: 360px;
  height: 50px;
  background: rgba(97, 94, 108, 0.53);
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  margin-top: 80px;
}
</style>
