<template>
  <div class="flex flex-center flex-column">


    <div class="content flex flex-center flex-column" style="width:50%;margin-top:60px;">

      <div class="content-title f32 c666">填写注册信息</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">

        <el-row>
          <el-col :span='8'>
            <el-form-item label="用户名" prop="user_name">
              <el-input v-model.trim="ruleForm.user_name" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="密码" prop="user_pwd">
              <el-input  v-model="ruleForm.user_pwd" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="ruleForm.phone" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="真实姓名" prop="real_name">
              <el-input v-model="ruleForm.real_name" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="邮箱" prop="email">
              <el-input type="number" v-model="ruleForm.email" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <!--<el-row>-->
          <!--<el-col :span='8'>-->
            <!--<el-form-item label="职位" prop="postion">-->
              <!--<el-input v-model="ruleForm.postion" style="width:300px"></el-input>-->
            <!--</el-form-item>-->
          <!--</el-col>-->
        <!--</el-row>-->
      </el-form>

    </div>

    <!-- <el-button class="purple-bg" @click="register">注册</el-button>
    <el-button class="orange-bg" @click="cancel">取消</el-button> -->
  <div class="flex flex-center mt20">
     <el-button class="orange-bg" @click="goBack">返回</el-button>
     <el-button class="purple-bg" @click="next">下一步</el-button>
  </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    }
  },
  data() {
    return {
      imgApi: this.$imgApi, //图片上传api
      upImgs: [],
      keepTime: "",
      getGoodsIds: [],
      multipleSelection: [],
      val1: "",
      val2: "",
      val3: "",
      val4: "",
      options2: [],
      options3: [
        {
          value: "1",
          label: "上线"
        },
        {
          value: "0",
          label: "下线"
        }
      ],
      options4: [
        {
          value: "1",
          label: "已添加"
        },
        {
          value: "0",
          label: "未添加"
        }
      ],
      ruleForm: {
        user_name:'',
        user_pwd:'',
        phone:'',
        real_name:'',
        email:''
      },
      rules: {
        user_name: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        user_pwd: [
          { required: true, message: "请输入密码", trigger: "blur" },
        ],
        phone: [{ required: true, message: "请输入手机号", trigger: "blur" }]
      },
      value8: "",
      tableData: []
    };
  },
  methods: {
    // 注册
    register() {
      console.log(this.ruleForm);
      let postData = this.$qs.stringify({
        user_name: this.ruleForm.user_name,
        user_pwd: this.ruleForm.user_pwd,
        phone: this.ruleForm.phone,
        real_name: this.ruleForm.real_name,
        email: this.ruleForm.email,
      });
      console.log(postData);
      this.$http.post(this.$api.register, postData).then(rsp => {
        console.log("注册信息");
        console.log(rsp);
      });
      // this.$http.get('https://flyphant.cn/mk_mall/admin/test1/').then((rsp)=>{
      //   console.log('测试接口')
      //   console.log(rsp);
      // })
    },
    next() {
      if(this.ruleForm.user_name&&this.ruleForm.user_pwd&&this.ruleForm.phone){
        // this.$router.push({ name: "3" });
        this.$router.push('/registerstore');

      }else {
        this.$message.error("请完整填写数据");
      }
    },
    goBack(){
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.el-input__inner {
  width: 300px;
}
</style>
