<template>
  <div class="flex flex-center flex-column">


    <div class="content content1 addcarousel flex flex-center flex-column" style="width:50%;margin-top:60px;">

      <div class="content-title c666">填写注册店铺信息</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">

        <el-row>
          <el-col>
            <el-form-item label="商店名" prop="user_name">
              <el-input v-model.trim="ruleForm.shop_name" style="width:300px"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-form-item label="姓名" prop="user_pwd">
              <el-input  v-model="ruleForm.shop_owner_name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-form-item label="拥有者身份证	" prop="phone">
              <el-input v-model="ruleForm.shop_owner_IDcard"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-form-item label="店铺logo" prop="real_name">
              <el-upload
          :action="uploadApi"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
          :data=upload_data
          name="upload_file"
          with-credentials
          :limit="1"
          class="avatar-uploader"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-form-item label="店铺简介" prop="email">
              <el-input v-model="ruleForm.shop_detail"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>

    </div>

    <!-- <el-button class="purple-bg" @click="register">注册</el-button>
    <el-button class="orange-bg" @click="cancel">取消</el-button> -->
    <div class="flex flex-center">
      <el-button class="orange-bg" @click="goBack">上一步</el-button>
      <el-button class="purple-bg" @click="register">注册店铺</el-button>
    </div>


  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    }
  },
  data() {
    return {
      uploadApi: this.$uploadApi, //图片上传api
      upImgs: [],
      upload_data: { file_type: 10 },
      upload_header: {
        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"
      },
      ruleForm: {
        shop_name: "",
        shop_owner_name: "",
        shop_owner_IDCard: "",
        logo: "",
        shop_detail: ""
      },
      rules: {
        user_name: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        user_pwd: [
          { required: true, message: "请输入密码", trigger: "blur" },
          {
            pattern: /^\d+$/,
            message: "请输入数字",
            trigger: "blur"
          }
        ],
        phone: [{ required: true, message: "请输入手机号", trigger: "blur" }]
      },
      value8: "",
      tableData: []
    };
  },
  methods: {
    // 上传前检验图片
    beforeAvatarUpload(){
      console.log('上传前检验图片');
    },
    // 上传图片成功
    handleAvatarSuccess(res) {
      console.log("上传图片成功");
      console.log(res);
    },
    // 注册
    register() {
      console.log(this.ruleForm);
      let postData = this.$qs.stringify({
        shop_name: this.ruleForm.shop_name,
        shop_owner_name: this.ruleForm.shop_owner_name,
        shop_owner_IDCard: this.ruleForm.shop_owner_IDCard,
        logo: this.ruleForm.logo,
        shop_detail: this.ruleForm.shop_detail
      });
      console.log(postData);
      this.$http.post(this.$api.registerStore, postData).then(rsp => {
        console.log("注册店铺信息");
        console.log(rsp);
      });
      // this.$http.get('https://flyphant.cn/mk_mall/admin/test1/').then((rsp)=>{
      //   console.log('测试接口')
      //   console.log(rsp);
      // })
    },
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}

</style>
