<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">订单管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <el-row :gutter="20" style="margin-bottom:20px">

      <el-col :span="6">
        <div class="content" style="text-align:center">
          <div :class="{'type_title':1,'orange-txt':co,'purple-txt':cp}">{{typeTitle }}</div>
          <div class="detail_gray" style="margin-bottom:10px">购买用户：{{orderData.nickName}}</div>
          <div class="detail_gray">订单编号：{{orderData.orderSn}}</div>
        </div>
      </el-col>
      <el-col :span="18">
        <div class="content" style="height:115px;" finish-status="success">
          <el-steps finish-status="success" v-if="$route.params.flag==5" :active="3" align-center style="padding-top:20px;">
            <el-step title="提交订单" :description="orderData.createDate
"></el-step>
            <el-step title="支付成功" :description="orderData.payDate|changeLD"></el-step>
            <el-step title="用户取消" :description="orderData.refundTime|changeLD"></el-step>
          </el-steps>
          <el-steps v-else finish-status="success" :active="stepFlag" align-center style="padding-top:20px;">
            <!-- <el-step title="提交订单" description="2018-01-24 11:21"></el-step> -->
            <el-step title="提交订单" :description="orderData.createDate
"></el-step>
            <el-step title="支付成功" :description="orderData.payDate|changeLD"></el-step>
            <el-step title="商家发货" :description="orderData.deliveryDate|changeLD"></el-step>
            <el-step title="用户收货" :description="orderData.receiveDate|changeLD"></el-step>
          </el-steps>

        </div>
      </el-col>

    </el-row>

    <el-row :gutter="20" style="margin-bottom:20px">

      <el-col :span="(logistics_flag==1)?8:12">
        <div class="content">
          <div class="content-title">收货人信息</div>
          <div class="detail_gray" style="margin-bottom:20px">购买用户：{{userDeliveryAddress.name|changeLD}}</div>
          <div class="detail_gray" style="margin-bottom:20px">电话：{{userDeliveryAddress.tel}}</div>
          <div class="detail_gray">地址：{{address}}</div>
        </div>
      </el-col>
      <el-col :span="(logistics_flag==1)?8:12">
        <div class="content">
          <div class="content-title">付款信息</div>
          <div class="detail_gray" style="margin-bottom:20px">支付状态：{{orderData.payStatus|changePayStatus}}</div>
          <div class="detail_gray" style="margin-bottom:20px">支付金额(元)：{{orderData.cash}}</div>
          <div class="detail_gray">支付流水号：{{orderData.transactionNo}}</div>
        </div>
      </el-col>
      <el-col v-if="logistics_flag" :span="8">
        <div class="content">
          <div class="content-title">物流信息</div>
          <div class="detail_gray" style="margin-bottom:20px">承运物流：{{orderData.orderDetailsDeliveryDto.deliveryName}}</div>
          <div class="detail_gray" style="margin-bottom:20px">运单编号：{{orderData.orderDetailsDeliveryDto.logisticsSn}}</div>
          <div class="detail_gray">状态：{{currentRecord.currentRecordDate|changeLD}}
            <span class="orange-txt">
              {{currentRecord.currentRecordAddress|changeLD}}
            </span>
          </div>
        </div>
      </el-col>

    </el-row>

    <div class="content" id="print_goods">
      <div class="content-title">商品信息</div>

      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号">
        </el-table-column>
        <el-table-column prop="detail" label="商品名称">
        </el-table-column>
        <el-table-column prop="goodsCode" label="商品编号">
        </el-table-column>
        <el-table-column label="商品图片">
          <template slot-scope="scope">
            <img :src="scope.row.skuImageUrl" alt="" width="52" height="52">
          </template>
        </el-table-column>
        <el-table-column prop="skuSellingPrice" label="商品价格(元)">
        </el-table-column>
        <el-table-column prop="goodsNumber" label="商品数量">
        </el-table-column>
        <el-table-column prop="totalAmount" label="商品总额(元)">
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px;overflow:hidden">
        <div class="pagination">
          <el-row class="detail_gray" style="margin-bottom:20px">
            <el-col class="text_right">商品总价(元)：</el-col>
            <el-col class="text_right">{{orderData.actualAmount}}</el-col>
          </el-row>
          <el-row class="detail_gray" style="margin-bottom:20px">
            <el-col class="text_right">运费(元)：</el-col>
            <el-col class="text_right">{{orderData.logisticsAmount}}</el-col>
          </el-row>
          <el-row class="detail_gray" style="margin-bottom:20px;font-weight:700">
            <el-col class="text_right">订单总价(元)：</el-col>
            <el-col class="text_right">{{orderData.payableAmount}}</el-col>
          </el-row>
          <el-row class="detail_gray" style="font-weight:700">
            <el-col class="text_right">实付款(元)：</el-col>
            <el-col class="text_right orange-txt">{{orderData.cash}}</el-col>
          </el-row>
        </div>
      </div>

    </div>

    <div v-if="this.$route.params.flag == 2" class="content mt20">
      <div class="content-title">填写发货信息</div>

      <el-form :model="formData" :rules="rules" :ref="formData" label-width="100px">
        <el-row>
          <el-col :span='8'>
            <el-form-item label="承运物流" prop="val1">
              <el-select v-model="formData.val1" @change="selectVal" filterable placeholder="请选择物流">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="运单编号" prop="val2">
              <el-input v-model="formData.val2" @keyup.enter.native="searchVal"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>

    <el-button v-if="this.$route.params.flag == 2" class="purple-bg mt20" @click="delivery">发货</el-button>
    <!-- <el-button v-if="this.$route.params.flag == 1" style="color:#4d6cf3;border:1px solid #4d6cf3" @click="printLogistics">打印物流信息</el-button> -->
    <el-button v-if="this.$route.params.flag == 2||this.$route.params.flag == 3" style="color:#4d6cf3;border:1px solid #4d6cf3" class="mt20" @click="printGoods">打印商品清单</el-button>
    <el-button class="orange-bg mt20" @click="goBack">返回</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changePayStatus: function(value) {
      if (value == 1) {
        return "未付款";
      } else if (value == 2) {
        return "已付款";
      } else if (value == 3) {
        return "已取消";
      }
    },
    changeLD: function(value) {
      if (!value) {
        return "";
      } else {
        return value;
      }
    }
  },
  data() {
    return {
      stepFlag: 1,
      orderData: [],
      userDeliveryAddress: {},
      currentRecord: [],
      address: "",
      options: [],
      formData: {
        val1: "",
        val2: ""
      },
      rules: {
        val1: [
          { required: true, message: "请选择物流", trigger: "change" }
          // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        val2: [
          { required: true, message: "请输入运单编号", trigger: "blur" },
          {
            pattern: /^\d+(\.\d+)?$/,
            message: "请输入正确格式的运单编号",
            trigger: "blur"
          }
        ]
      },
      logistics_flag: 0,
      co: 0,
      cp: 0,
      type: "",
      typeTitle: "",
      tableData: []
    };
  },
  // computed: {
  //   orderData: function () {
  //     return this.orderData
  //   }
  // },
  methods: {
    /**@function 获取物流选项数据 */
    getLogistics() {
      this.$http.get(this.$api.findStoreLogisticsList).then(rsp => {
        console.log("获取物流选项数据");
        console.log(rsp.data);
        let logistics = rsp.data.data;
        for (let i = 0; i < logistics.length; i++) {
          var obj = {};
          obj.value = logistics[i].storeLogisticsId;
          obj.label = logistics[i].logisticsName;
          this.options.push(obj);
        }
      });
    },
    /**@function 获取订单详情 */
    getOrderDetail() {
      let id = this.$route.params.no;
      this.$http.get(this.$api.findOrders + `?orderId=${id}`).then(rsp => {
        console.log("获取订单详情");
        console.log(rsp.data);
        this.orderData = rsp.data.data;
        this.userDeliveryAddress = this.orderData.userDeliveryAddress;

        this.stepFlag = this.orderData.orderStatus;
        let addressAll = this.orderData.userDeliveryAddress;
        this.address =
          addressAll.province +
          addressAll.city +
          addressAll.district +
          addressAll.addressDetail;
        this.tableData = rsp.data.data.ordersGoodsDetailDtoList;
        if (this.orderData.orderDetailsDeliveryDto.currentRecord.length != 0) {
          this.currentRecord = this.orderData.orderDetailsDeliveryDto.currentRecord[0];
        } else {
          this.currentRecord = {
            currentRecordDate: "",
            currentRecordAddress: ""
          };
        }
        //   this.total = rsp.data.data.total;
      });
    },
    handleClick(row) {
      console.log(row);
      this.$router.push("/goods/checkgoods");
    },
    edit(row) {
      console.log(row);
      this.$router.push("/goods/editgoods");
    },
    /**新增商品 */
    addCarousel() {
      this.$router.push("/carousel/addcarousel");
    },
    /**@function 选择 */
    selectVal() {
      console.log(this.formData.val1);
    },
    /**@function 搜索 */
    searchVal() {
      console.log(this.formData.val2);
    },
    /**@function 发货 */
    delivery() {
      console.log("发货");
      let params = {};
      params.orderId = this.orderData.orderId;
      params.storeLogisticsId = this.formData.val1;
      params.logisticsSn = this.formData.val2;
      console.log(params);
      let formDataToJson = JSON.stringify(params);
      this.$http.post(this.$api.deliverGoods, formDataToJson).then(rsp => {
        if (rsp.data.flag) {
          this.$message.success("发货成功！");
          this.$router.go(-1);
        } else {
          this.$message.error(rsp.data.msg);
        }
      });
    },
    /**@function 打印物流信息 */
    // printLogistics() {
    //   console.log("打印物流信息");
    // },
    /**@function 打印商品清单 */
    printGoods() {
      //   this.$message.warning("请在关闭打印的页面后再返回后台继续操作！");
      let newwindow = window.open("_blank");
      let trstr = "";
      for (let i = 0; i < this.tableData.length; i++) {
        trstr += `
		<tr>
        <td>${this.tableData[i].detail}</td>
        <td>${this.tableData[i].goodsCode}</td>
        <td>${this.tableData[i].skuSellingPrice}</td>
        <td>${this.tableData[i].goodsNumber}</td>
        <td>${this.tableData[i].totalAmount}</td>
		</tr>
		`;
      }
      let printStr = `
	  <h2>商品清单</h2>
    <h4>买家：${this.orderData.nickName}</h4>
    <table  border="1" cellpadding="2" cellspacing="0">
      <tr>
        <th>商品名称</th>
        <th>商品编号</th>
        <th>单价</th>
        <th>数量</th>
        <th>商品总额</th>
      </tr>`;
      printStr += trstr;
      printStr += `</table>
    <div style='text-align:right'>
      <p>商品总价：${this.orderData.payableAmount}</p>
      <p>运费：${this.orderData.logisticsAmount}</p>
      <p>实付款：${this.orderData.cash}</p>
    </div>
    `;
      newwindow.document.write(printStr);
      newwindow.print();
      newWindow.document.close();
      return true;
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    }
  },
  created() {
    /** 根据传入的flag判断进入订单详情的状态
     * 1:待付款
     * 2:待发货
     * 3:待收货
     * 4:已完成
     * 5:已取消
     */
    // console.log(this.$route);
    // console.log(this.$route.params.type);
    this.typeTitle = this.$route.params.type;
    // console.log(this.typeTitle);

    // 判断 类型  的字体颜色
    if (this.$route.params.flag == 5) {
      this.co = 1; //橙色字体
    } else {
      this.cp = 1; //紫色字体
    }
    // 判断 是否有  物流信息
    if (this.$route.params.flag == 3 || this.$route.params.flag == 0) {
      this.logistics_flag = 1; //显示物流信息
    } else {
      this.logistics_flag = 0; //不显示物流信息
    }
    this.getOrderDetail();
    this.getLogistics();
  }
};
</script>

<style scoped lang="less">
.pagination {
  float: right;
}
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 0 20px 0;
  }
}

.type_title {
  font-size: 34px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: Bold;
  margin-bottom: 30px;
}
.detail_gray {
  font-size: 16px;
  font-family: MicrosoftYaHei;
  color: rgba(96, 98, 102, 1);
}
.text_right {
  text-align: right;
  width: 150px;
}
</style>