<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">订单管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="search-group" style="margin-bottom:20px">
        <el-input v-model.trim="val1" placeholder="搜索购买用户/订单号" prefix-icon="el-icon-search" @keyup.enter.native="searchVal1" @blur="searchVal1" clearable class="search-input">
        </el-input>

        <el-select v-model="val2" clearable filterable placeholder="选择订单状态" @change="selectVal2">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">
          </el-option>
        </el-select>

        <el-date-picker v-model="val3" clearable @change="selectVal3" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>

      </div>

      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" :default-sort="{prop: 'time', order: 'descending'}">
        <el-table-column type="index" label="序号">
        </el-table-column>
        <el-table-column prop="orderSn" label="订单号">
        </el-table-column>
        <el-table-column prop="nickName" label="购买用户">
        </el-table-column>
        <el-table-column prop="payableAmount" label="订单金额(元)">
        </el-table-column>
        <el-table-column prop="orderStatus" label="订单状态">
          <template slot-scope="scope">
            {{ scope.row.orderStatus | changeOrderStatus }}
          </template>
        </el-table-column>
        <el-table-column prop="createDate" label="下单时间" sortable width="200">
        </el-table-column>
        <el-table-column prop="detail" label="商品详情">
        </el-table-column>

        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="checkOrder(scope.row)" type="text" size="small" class="purple-txt">查看</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px">
        <el-button type="text" disabled>

        </el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>
    <el-button style="margin-top: 20px" class="purple-bg" @click="exportOrder">导出订单</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changeOrderStatus: function(value) {
      if (value == 1) {
        return "待付款";
      } else if (value == 2) {
        return "待发货";
      } else if (value == 3) {
        return "待收货";
      } else if (value == 4) {
        return "已完成";
      } else if (value == 5) {
        return "已取消";
      }
    }
  },
  data() {
    return {
      val1: "",
      val2: "",
      val3: "",
      options: [
        {
          value: "",
          label: "全部"
        },
        {
          value: "2",
          label: "待发货"
        },
        {
          value: "3",
          label: "待收货"
        },
        {
          value: "4",
          label: "已完成"
        },
        {
          value: "5",
          label: "已取消"
        }
      ],
      value8: "",
      total: 0,
      pages: 0,
      multipleSelection: [],
      query: {
        shop_id:"",
        ordering_status: "1",
        start_time: "0",
        end_time: "0"
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取订单列表 */
    getOrderList() {

      this.$http
        .get(this.$api.findOrdersListPage, { params: this.query })
        .then(rsp => {
          console.log("获取订单列表");
          console.log(rsp.data);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 查看 */
    checkOrder(row) {
      //   console.log(row);
      /** 根据传入的flag判断进入订单详情的状态
       * 1:待付款
       * 2:待发货
       * 3:待收货
       * 4:已完成
       * 5:已取消
       */
      let oderflag = 0;
      switch (row.orderStatus) {
        case 1:
          oderflag = 1;
          console.log("待付款");
          //   this.$router.push("/oders/orderdetail");
          this.$router.push({
            name: "oo",
            params: {
              no: row.orderId,
              flag: oderflag,
              type: "待付款",
              query: this.query
            }
          });
          break;
        case 2:
          oderflag = 2;
          console.log("待发货");
          this.$router.push({
            name: "oo",
            params: {
              no: row.orderId,
              flag: oderflag,
              type: "待发货",
              query: this.query
            }
          });
          break;
        case 3:
          oderflag = 3;
          console.log("待收货");
          this.$router.push({
            name: "oo",
            params: {
              no: row.orderId,
              flag: oderflag,
              type: "待收货",
              query: this.query
            }
          });
          break;
        case 4:
          oderflag = 4;
          console.log("已完成");
          this.$router.push({
            name: "oo",
            params: {
              no: row.orderId,
              flag: oderflag,
              type: "已完成",
              query: this.query
            }
          });
          break;
        case 5:
          oderflag = 5;
          console.log("已取消");
          this.$router.push({
            name: "oo",
            params: {
              no: row.orderId,
              flag: oderflag,
              type: "已取消",
              query: this.query
            }
          });
          break;
        default:
          break;
      }
    },
    /**@function 选择行 */
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getOrderList();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getOrderList();
    },
    /**@function 搜索购买用户/订单号 */
    searchVal1() {
      this.query.name = this.val1;
      this.getOrderList();
    },
    /**@function 选择订单状态 */
    selectVal2() {
      this.query.orderStatus = this.val2;
      this.getOrderList();
    },
    /**@function 选择日期 */
    selectVal3() {
      if (this.val3) {
        this.query.beginDate = this.val3[0];
        this.query.endDate = this.val3[1].substring(0, 10) + " 23:59:59";
      } else {
        this.query.beginDate = this.query.endDate = "";
      }
      this.getOrderList();
    },
    /**@function 导出订单 */
    exportOrder() {
      console.log("this.router");
      console.log(this.$router);

      window.location.assign(
        `${this.$apiDomain}/admin/orders/exportOrderList?name=${
          this.query.name
        }&orderStatus${this.query.orderStatus}=&beginDate${
          this.query.beginDate
        }=&endDate=${this.query.endDate}`
      );
    }
  },
  created() {
    console.log('shop_id');
    console.log(window.sessionStorage.getItem('shop_id'));
    var shop_id = window.sessionStorage.getItem('shop_id');
    this.query.shop_id = shop_id;
    this.getOrderList();
  }
};
</script>

<style scoped lang="less">
.pagination {
  float: right;
}
</style>
