<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1">
      <div class="content-title">填写商品信息</div>

      <el-form :model="formData" :rules="rules" ref="ruleForm" label-width="100px">
        <el-row>
          <el-col :span='8'>
            <el-form-item label="商品名称" prop="goods_title">
              <el-input v-model="formData.goods_title"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='8' :offset="4">
            <el-form-item label="商品货号" prop="goods_num">
              <el-input v-model="formData.goods_num"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <!--<el-row>-->
        <!--<el-col :span='8' >-->
        <!--<el-form-item label="原价(元)" prop="originalPrice">-->
        <!--<el-input v-model="formData.originalPrice"></el-input>-->
        <!--</el-form-item>-->
        <!--</el-col>-->
        <!--<el-col :span='8' :offset="4">-->
        <!--<el-form-item label="销售价(元)" prop="sellingPrice">-->
        <!--<el-input v-model="formData.sellingPrice"></el-input>-->
        <!--</el-form-item>-->
        <!--</el-col>-->
        <!--</el-row>-->
        <el-row class="select_width">
          <!--<el-col :span='8'>-->
          <!--<el-form-item label="商品分类" prop="goodsCategoryId">-->
          <!--<el-select class="mt5 mb5" v-model="formData.category_id" filterable clearable placeholder="选择分类"-->
          <!--@change="">-->
          <!--<el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">-->
          <!--</el-option>-->
          <!--</el-select>-->
          <!--</el-form-item>-->
          <!--</el-col>-->
          <!--<el-col :span='1'>-->
          <!--<el-button class="purple-bg ml20" @click="addCategory">新增分类</el-button>-->
          <!--</el-col>-->

          <el-col :span='8'>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="formData.goods_weight"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='8' :offset="4">
            <el-form-item label="是否上架" prop="up_time">
              <el-select class="mt5 mb5" v-model="formData.up_time" filterable clearable placeholder="选择上架时间"
                         @change="">
                <el-option v-for="item in upTimeOption" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="商品品牌" prop="brand">
              <!--<el-select v-model="formData.brandId" filterable placeholder="选择商品品牌">-->
              <!--<el-option v-for="item in brandOptions" :key="item.value" :label="item.label" :value="item.value">-->
              <!--</el-option>-->
              <!--</el-select>-->
              <el-input v-model="formData.brand"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='8' :offset="4">
            <el-form-item label="限制购买数量" prop="limit_buy">
              <el-input type="number" v-model="formData.limit_buy"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="邮费价格" prop="goods_title">
              <el-input v-model="formData.express_price"></el-input>  
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

    </div>

    <div class="content content1">
      <div class="content-title">添加商品属性</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-row>
          <el-col :span='4'>
            <el-form-item label="商品规格" :rules="attributeRules" prop="attribute">
              <el-input v-model="attrTemp"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='4'>
            <el-button class="purple-bg ml20" @click="addAttributeOptions">添加</el-button>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item label="销售属性:"></el-form-item>
          </el-col>
        </el-row>

        <el-row :key="index" v-for="(item,index) in attrArr" :index='index'>
          <el-col>
            <el-form-item :label="item.specName" style="vertical-align:center">
              <el-tag :key="tag" v-for="tag in item.dynamicTags" closable :disable-transitions="false"
                      @close="handleClose(tag,index)">
                {{tag}}
              </el-tag>
              <el-input class="input-new-tag" v-if="item.inputVisible" v-model="item.inputVal" ref="saveTagInput"
                        @keyup.enter.native="handleInputConfirm(index)" @blur="handleInputConfirm(index)">
              </el-input>
              <div class="my-icon" v-else @click="showInput(index)">
                <i class="el-icon-plus"></i>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- <el-row v-if='attrArr.length>1?true:false'>
                    <el-col>
                        <el-form-item :label="attrArr[1].goodsSpecName" style="vertical-align:center">
                            <el-tag :key="tag" v-for="tag in dynamicTags1" closable :disable-transitions="false" @close="handleClose1(tag)">
                                {{tag}}
                            </el-tag>
                            <el-input class="input-new-tag" v-if="inputVisible1" v-model="inputVal1" ref="saveTagInput" @keyup.enter.native="handleInputConfirm1" @blur="handleInputConfirm1">
                            </el-input>
                            <div class="my-icon" v-else @click="showInput1">
                                <i class="el-icon-plus"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row v-if='attrArr.length>2?true:false'>
                    <el-col>
                        <el-form-item :label="attrArr[2].goodsSpecName" style="vertical-align:center">
                            <el-tag :key="tag" v-for="tag in dynamicTags2" closable :disable-transitions="false" @close="handleClose2(tag)">
                                {{tag}}
                            </el-tag>
                            <el-input class="input-new-tag" v-if="inputVisible2" v-model="inputVal2" ref="saveTagInput" @keyup.enter.native="handleInputConfirm2" @blur="handleInputConfirm2">
                            </el-input>
                            <div class="my-icon" v-else @click="showInput2">
                                <i class="el-icon-plus"></i>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row> -->

        <!-- <el-row v-if="tempFormFlag">
                    <el-form :model="tempForm" ref="tempForm">
                        <el-col :span="2">
                            <div class="my-label">统一填写：</div>
                        </el-col>
                        <el-col :span="3">
                            <el-form-item prop="v1">
                                <el-input type="number" placeholder="原价(元)" v-model="tempForm.v1" @blur="setAllV1"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col class="ml10" :span="3">
                            <el-form-item prop="v2">
                                <el-input type="number" placeholder="销售价(元)" v-model="tempForm.v2" @blur="setAllV2"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col class="ml10" :span="3">
                            <el-form-item prop="v3">
                                <el-input type="number" placeholder="库存(件)" v-model="tempForm.v3" @blur="setAllV3"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-form>
                </el-row> -->
        <div class="orange-txt" style="margin-bottom:20px">**商品不同属性的图片尺寸：750*750px；格式:jpg、png；大小：400KB以内</div>
        <el-table :data="tableData" ref="multipleTable" tooltip-effect="dark" border style="width: 100%"
                  @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55">
          </el-table-column>
          <el-table-column v-if='attrArr.length>0?true:false' prop="val1" :label="attrArr[0].specName">
          </el-table-column>
          <el-table-column v-if='attrArr.length>1?true:false' prop="val2" :label="attrArr[1].specName">
          </el-table-column>
          <el-table-column v-if='attrArr.length>2?true:false' prop="val3" :label="attrArr[2].specName">
          </el-table-column>
          <el-table-column label="原价（元）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.before_price" placeholder="请填写价格" type="number"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="销售价（元）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.current_price" placeholder="请填写价格" type="number"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="stock" label="库存量（件）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.stock" placeholder="请填写库存量" type="number"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="商品图片">
            <template slot-scope="scope">
              <img :src="scope.row.images" alt="" width="50px" height="50px">
            </template>
          </el-table-column>
          <!-- <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button type="text" size="small" class="orange-txt">清空</el-button>
                        </template>
                    </el-table-column> -->
        </el-table>
        <el-upload class="upload-goodsImg mt20" :action="uploadApi" :on-progress="uploadingSkuImg"
                   :show-file-list="false" :on-success="uploadImgHandlerSku" list-type="picture"
                   :disabled="disUploadSkuImg" :data=upload_data name="upload_file" with-credentials>
          <el-button @click="tapLoadSkuImg" size="mini" type="primary" icon="el-icon-upload"
                     style="display:inline-block">{{uploadSkuImgText}}
          </el-button>
        </el-upload>
      </el-form>

    </div>

    <div class="content content1">
      <div class="content-title">添加商品图片</div>
      <div class="box-border">

        <el-upload multiple :action="uploadApi" list-type="picture-card" :limit="5" :before-upload="beforeAvatarUpload"
                   :file-list="upImgs" :on-success="uploadImgHandler" :on-remove="handleRemove" :data=upload_data
                   name="upload_file" with-credentials>
          <i class="el-icon-plus"></i>
          <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*750px；格式:jpg、png；大小：400KB以内；图片最多:5张；可多选</div>
        </el-upload>
      </div>

    </div>

    <div class="content">
      <div class="content-title">添加商品详情</div>
      <div class="orange-txt" style="margin-bottom:20px">**图片尺寸：建议宽度为750px；格式:jpg、png；大小：2MB以内</div>
      <el-form :model="formData" :rules="rules" ref="ruleForm" size="0">
        <!--<el-form-item prop="content" class="editor-container">-->
        <div class="editor-container">
          <UE :defaultMsg="defaultMsg" :config="config" ref="ue"></UE>
        </div>
        <!--<quill-editor :options="editorOption" v-model="formData.detail" data-placeholder="请输入详情"></quill-editor>-->
        <!--</el-form-item>-->

        <el-form-item>

          <el-button class="purple-bg mt10" @click="submitForm('ruleForm')">保存</el-button>
          <el-button class="orange-bg mt10" @click="resetForm('formData')">取消</el-button>

        </el-form-item>
      </el-form>
    </div>


    <!-- 新增分类弹框-->
    <!--<el-dialog title="新增分类" :visible.sync="isAddCategory">-->
    <!--<el-form :model="sortData">-->
    <!--<el-form-item label="分类类型" prop="name">-->
    <!--<el-select v-model="sortData.category_type" placeholder="请选择类型">-->
    <!--<el-option-->
    <!--v-for="item in typeOptions"-->
    <!--:key="item.value"-->
    <!--:label="item.label"-->
    <!--:value="item.value">-->
    <!--</el-option>-->
    <!--</el-select>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="分类名称" prop="name">-->
    <!--<el-input v-model="sortData.name"></el-input>-->
    <!--</el-form-item>-->
    <!--<el-form-item label="分类logo" prop="real_name">-->
    <!--<el-upload-->
    <!--:action="uploadApi"-->
    <!--list-type="picture-card"-->
    <!--:file-list="imageUrl"-->
    <!--show-file-list-->
    <!--:on-preview="handlePictureCardPreview"-->
    <!--:on-remove="handleRemove"-->
    <!--:on-success="handleAvatarSuccess"-->
    <!--:data=upload_data-->
    <!--name="upload_file"-->
    <!--with-credentials-->
    <!--:limit=1-->
    <!--&gt;-->
    <!--<i class="el-icon-plus"></i>-->
    <!--</el-upload>-->
    <!--<el-dialog :visible.sync="dialogVisible">-->
    <!--<img width="100%" :src="sortData.image" alt="">-->
    <!--</el-dialog>-->
    <!--</el-form-item>-->
    <!--</el-form>-->
    <!--<div slot="footer" class="dialog-footer">-->
    <!--<el-button @click="dialogFormVisible = false">取 消</el-button>-->
    <!--<el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>-->
    <!--</div>-->
    <!--</el-dialog>-->
  </div>
</template>

<script>
  // 导入富文本编辑器样式以及组件,富文本插件
  import "quill/dist/quill.core.css";
  import "quill/dist/quill.snow.css";
  import "quill/dist/quill.bubble.css";
  import {quillEditor, Quill} from "vue-quill-editor";
  import {container, ImageExtend, QuillWatch} from "quill-image-extend-module";

  Quill.register("modules/ImageExtend", ImageExtend);
  import UE from "../../ue/ue.vue";

  export default {
    components: {UE},
    data() {
      return {
        shop_id: "",
        defaultMsg: "",
        config: {
          autoHeightEnabled: false,
          autoFloatEnabled: true, //是否工具栏可浮动
          initialContent: "", //初始化编辑器的内容,也可以通过textarea/script给值，看官网例子
          autoClearinitialContent: false, //是否自动清除编辑器初始内容，注意：如果focus属性设置为true,这个也为真，那么编辑器一上来就会触发导致初始化的内容看不到了
          initialFrameWidth: 1200,
          initialFrameHeight: 750
        },
        uploadApi: this.$uploadApi, //图片上传api
        upload_data: {file_type: 10},
        disUploadSkuImg: true,
        skuUpImgs: [],
        uploadSkuImgText: "上传选中项图片",
        uploadSkuImgIndex: [],
        upImgs: [], //轮播图片保存的url数组
        category: [], //选择的分类
        categorOptions: [], //分类的选项
        isAddCategory: false,// 是否新增分类
        sortData: {
          category_type: 10,
          cond: -1,
          name: "",
          index: "",
          image: "",
          goods_ids: ""
        },
        typeOptions: [
          {
            label: "普通分类",
            value: 10
          },
          {
            label: "价格分类",
            value: 20
          },
          {
            label: "折扣分类",
            value: 30
          },
          {
            label: "品牌分类",
            value: 40
          }
        ],
        attribute: [], //选择的属性类型
        attributeOptions: [], //属性类型的选项
        brand: [], //选择的属性类型
        brandOptions: [], //属性类型的选项
        upTimeOption: [{
          label: '立即上架',
          value: 10
        },
          {
            label: '暂不上架',
            value: 30
          },
        ],// 上架时间选项
        attrArr: [], //选择属性之后，生成相应的id与名称的数组，用于在表格中生成属性行
        multipleSelection: [],
        formData: {
          goods_title: "", // 商品标题
          goods_type: 10,  // 商品类型 (10 实体物品 20 虚拟商品 30 电子卡券 40 酒店商品 50 蛋糕烘焙)
          goods_num: "", // 卖家自定义商品编号
          goods_images: "", // 商品图片
          goods_weight: "1", // 商品重量
          brand: "",
          goods_outbound_url: "",
          goods_share_desc: "",
          goods_video: "",
          member_count_id: "1",
          express_template_id: "1",
          up_time: "1", // 是否上架 (10 立即上架 20 自定义时间 30 下架)
          express_price: "0.00", // 快递价格 不填传0.00(最少0.00最多500.00)
          shop_id: "",
          limit_buy: "1", // 限制购买数量
          limit_member_id: "", // 限制会员购买
          c_id: "",
          spec_name1: "", // 规格1
          spec_name2: "",  // 规格2
          spec_json: [], // 规格数据
          goods_detail: ""
        },
        attrTemp: '',
        dynamicTags0: [],
        dynamicTags1: [],
        dynamicTags2: [],
        inputVisible1: false,
        inputVisible2: false,
        inputVisible3: false,
        inputVal: "",
        inputVal1: "",
        inputVal2: "",
        inputVal3: "",
        tableData: [],

        tempForm: {
          //统一填写sku表格中的原价销售价库存
          val1: "",
          val2: "",
          val2: ""
        },

        ruleForm: {},
        options1: [{
          label: '面膜',
          value: 1
        }
        ],
        categoryRules: {
          category: [
            {required: true, message: "请选择商品分类", trigger: "change"}
          ]
        },
        attributeRules: {
          attribute: [
            {required: true, message: "请选择商品类型", trigger: "change"}
          ]
        },
        rules: {
          goodsName: [
            {required: true, message: "请输入商品名称", trigger: "blur"},
            {min: 0, max: 60, message: "长度不能超过60个字(每个空格、标点和字母单独计算为一个字)", trigger: "blur"}
          ],
          originalPrice: [
            {required: true, message: "请输入原价", trigger: "blur"},
            {
              pattern: /^\d+(\.\d+)?$/,
              message: "请输入正确的价格数字",
              trigger: "blur"
            }
          ],
          itemCode: [
            {required: true, message: "请输入商品货号", trigger: "blur"}
          ],
          sellingPrice: [
            {required: true, message: "请输入销售价", trigger: "blur"},
            {
              pattern: /^\d+(\.\d+)?$/,
              message: "请输入正确的价格数字",
              trigger: "blur"
            }
          ],

          brandId: [
            {required: true, message: "请选择商品品牌", trigger: "change"}
          ]
        },
        dialogImageUrl: "",
        dialogVisible: false,
        tempFormFlag: false, //统一填写输入框显示标志
        addFlag: false //保存标志  false为新增   true为新增并保存
      };
    },
    methods: {
      // 点击新增分类
      addCategory() {
        this.isAddCategory = true
      },
      // 添加商品规格
      addAttributeOptions() {
        if (this.attrTemp) {
          if (this.attrArr.length < 3) {
            var specList = [];
            this.attrArr.forEach(function (o) {
              specList.push(o.specName)
            })
            if (specList.indexOf(this.attrTemp) == -1) {
              console.log(this.attrTemp);
              var attrObj = {};
              attrObj.specName = this.attrTemp;
              attrObj.inputVisible = false;
              attrObj.dynamicTags = [];
              // attrObj.inputVal='';
              console.log(attrObj);
              this.attrArr.push(attrObj);
              this.attrTemp = "";
              console.log(this.attrArr)
            } else {
              this.$message.error("该规格已存在")
            }
          } else {
            this.$message.error("最多创建三种规格")
          }
        } else {
          this.$message.error("请输入商品规格")
        }

      },
      tapLoadSkuImg() {
        if (this.multipleSelection.length == 0) {
          this.disUploadSkuImg = true;
          this.$message.error("请选择要上传的项");
        } else {
          this.disUploadSkuImg = false;
        }
      },
      /**@function 统一设置 */
      setAll() {
        var tableData = this.tableData;
        this.tableData = [];
        tableData.forEach((v, i) => {
          var tempObj = {};
          tempObj.originalPrice = this.tempForm.val1;
          tempObj.sellingPrice = this.tempForm.val2;
          tempObj.inventory = this.tempForm.val3;
          tempObj.v1 = v.v1;
          if (v.v2) {
            tempObj.v2 = v.v2;
          }
          if (v.v3) {
            tempObj.v3 = v.v3;
          }
          this.tableData.push(tempObj);
        });
        console.log("统一设置");
        console.log(this.tableData);
      },
      /**@function 统一设置 */
      setAllV1() {
        this.setAll();
      },
      setAllV2() {
        this.setAll();
      },
      setAllV3() {
        this.setAll();
      },
      /**@function 获取分类数据 */
      getCategoryData() {
        this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
          console.log("分类数据");
          console.log(rsp.data);
          let orData = rsp.data.data;

          var toget = function (orData) {
            var data = orData;
            var arrl = orData.length;
            var arr = [];
            for (var i = 0; i < arrl; i++) {
              //一级
              var obj1 = {};
              obj1.value = data[i].goodsCategoryId;
              obj1.label = data[i].goodsCategoryName;
              if (data[i].childCategoryList != null) {
                //有2级
                obj1.childrentemp = data[i].childCategoryList;
                obj1.children = [];
                for (var j = 0; j < obj1.childrentemp.length; j++) {
                  var obj2 = {};

                  obj2.value = obj1.childrentemp[j].goodsCategoryId;
                  obj2.label = obj1.childrentemp[j].goodsCategoryName;
                  obj1.children.push(obj2);

                  if (obj1.childrentemp[j].childCategoryList != null) {
                    //有3级
                    obj2.children = [];
                    obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                    for (var k = 0; k < obj2.childrentemp.length; k++) {
                      var obj3 = {};
                      obj3.value = obj2.childrentemp[k].goodsCategoryId;
                      obj3.label = obj2.childrentemp[k].goodsCategoryName;
                      obj2.children.push(obj3);
                    }
                  } else {
                    //没有3级
                  }
                }
                arr[i] = obj1;
              } else {
                //没有2级
                arr[i] = obj1;
              }
            }
            return arr;
          };
          var arr = toget(orData);
          console.log("生成分类数据");
          console.log(arr);
          this.categorOptions = arr;
        });
      },
      /**@function 获取attribute数据 */
      getattributeData() {
        this.$http.get(this.$api.findGoodsAttributeCategoryList).then(rsp => {
          console.log("attribute数据");
          console.log(rsp.data);
          let orData = rsp.data.data;

          var toget = function (orData) {
            var data = orData;
            var arrl = orData.length;
            var arr = [];
            for (var i = 0; i < arrl; i++) {
              //一级
              var obj1 = {};
              obj1.value = data[i].goodsAttributeCategoryId;
              obj1.label = data[i].attributeCategoryName;
              if (data[i].childCategory) {
                //是否有2级
                obj1.childrentemp = data[i].childCategory;
                obj1.children = [];
                for (var j = 0; j < obj1.childrentemp.length; j++) {
                  var obj2 = {};
                  obj2.label = obj1.childrentemp[j].attributeCategoryName;
                  obj2.value = obj1.childrentemp[j];
                  obj1.children.push(obj2);
                }
                arr[i] = obj1;
              }
            }
            return arr;
          };
          var arr = toget(orData);
          console.log("生成attribute数据");
          console.log(arr);
          this.attributeOptions = arr;
        });
      },
      /**@function 获取品牌数据 */
      getBrandData() {
        this.$http.get(this.$api.findGoodsBrandList).then(rsp => {
          this.$isot(rsp); //登录超时处理函数
          console.log("获取品牌数据");
          console.log(rsp.data.data);
          let orData = rsp.data.data;
          let arr = [];
          for (let i = 0; i < orData.length; i++) {
            var obj = {};
            obj.label = orData[i].goodsBrandCnName;
            obj.value = orData[i].goodsBrandId;
            arr.push(obj);
          }
          this.brandOptions = arr;
        });
      },
      /**@function 选择分类 */
      selectCategory(value) {
        console.log("选择分类");
        console.log(value);
      },
      /**@function 选择类型 */
      selectAttribute(value) {
        console.log("选择attribute");
        console.log(value);
        let attrOfGoods = value[1].goodsAttributes;
        let arr = [];

        for (let i = 0; i < attrOfGoods.length; i++) {
          var goodsAddBaseSkuParams = {};
          goodsAddBaseSkuParams.goodsSpecName = attrOfGoods[i].attributeName;
          goodsAddBaseSkuParams.goodsAttributeId =
            attrOfGoods[i].goodsAttributeId;
          arr.push(goodsAddBaseSkuParams);
        }
        this.attrArr = arr;
      },
      /**@function 正在上传SKU图片 */
      uploadingSkuImg() {
        this.disUploadSkuImg = true;
        this.uploadSkuImgText = "正在上传...";
      },
      /**@function SKU图片上传成功事件 */
      uploadImgHandlerSku(res) {
        var self = this;
        var tableData = this.tableData;
        this.tableData = [];
        console.log("Sku图片上传成功事件");
        console.log(res)
        if (res.data.file_md5) {
          this.uploadSkuImgText = "上传选中项图片";
          tableData.forEach(function (o, i) {
            self.uploadSkuImgIndex.forEach(function (v, k) {
              if (i == v) {
                o.images = self.$imgApi + res.data.file_md5;
              }
            });
            self.tableData.push(o);
          });
          console.log(this.tableData);
        }
      },
      /**@function Sku图片删除事件 */
      handleRemoveSku(file, fileList) {
        console.log("Sku图片删除事件");
      },
      /**@function 选择行 */
      handleSelectionChange(val) {
        var self = this;
        this.multipleSelection = val;
        this.uploadSkuImgIndex = [];
        console.log(val);
        val.forEach(function (o, i) {
          let index = self.tableData.indexOf(o);
          self.uploadSkuImgIndex.push(index);
        });
        if (val.length == 0) {
          this.disUploadSkuImg = true;
        } else {
          this.disUploadSkuImg = false;
        }
        console.log(this.uploadSkuImgIndex);
      },
      /**@function 商品轮播图片上传成功事件 */
      uploadImgHandler(res) {
        console.log("商品轮播图片上传成功事件");
        console.log(res);
        this.upImgs.push({url: this.$imgApi + res.data.file_md5});
        console.log(this.upImgs);
      },
      /**@function 商品轮播图片删除事件 */
      handleRemove(file, fileList) {
        // console.log(file);
        console.log("商品轮播图片删除事件");
        //   console.log(fileList);
        let arr = []; //重新保存图片url到upImgs
        for (let i = 0; i < fileList.length; i++) {
          arr.push(fileList[i].response.data[0].fileUrl);
        }
        console.log(arr);
        this.upImgs = arr;
      },
      /**@function 控制上传文件规格 */
      beforeAvatarUpload(file) {
        console.log("控制上传文件规格");
        console.log(file);
        const isType = file.type === "image/jpeg" || "image/png";
        const isLt = file.size / 1024 / 1024 < 0.5;
        if (!isType) {
          this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
        }
        if (!isLt) {
          this.$message.error("上传图片大小不能超过 400KB!");
        }
        return isType && isLt;
      },
      /**@function 保存 */
      submitForm() {
        var self = this
        let goods_images = '';
        this.upImgs.forEach(function (o) {
          let md5 = o.url.replace(self.$imgApi, '');
          console.log('md5   ' + md5);
          goods_images = goods_images + md5 + ','
        });
        this.formData.goods_images = goods_images;
        let spec_json = [];
        this.tableData.forEach(function (o, i) {
          console.log(o);
          spec_json.push(o)
        });
        console.log(spec_json);
        this.formData.spec_json = JSON.stringify(spec_json);
        let content = this.$refs.ue.getUEContent(); // 调用子组件方法
        console.log(content);
        console.log(goods_images);
        this.formData.goods_detail = content;

        console.log(this.formData);

        if (this.formData.goods_title &&
          this.formData.goods_detail &&
          this.formData.goods_num &&
          this.formData.goods_images &&
          this.formData.up_time &&
          JSON.parse(this.formData.spec_json).length != 0
        ) {
          let postData = this.$qs.stringify({
              goods_title: this.formData.goods_title,
              goods_detail: this.formData.goods_detail,
              goods_type: this.formData.goods_type,
              goods_num: this.formData.goods_num,
              goods_images: this.formData.goods_images,
              brand: this.formData.brand,
              goods_weight: this.formData.goods_weight,
              goods_outbound_url: this.formData.goods_outbound_url,
              goods_share_desc: this.formData.goods_share_desc,
              goods_video: this.formData.goods_video,
              member_count_id: this.formData.member_count_id,
              up_time: this.formData.up_time,
              express_price: this.formData.express_price,
              express_template_id: this.formData.express_template_id,
              limit_buy: this.formData.limit_buy,
              limit_member_id: this.formData.limit_member_id,
              spec_name1: this.formData.spec_name1,
              spec_name2: this.formData.spec_name2,
              spec_json: this.formData.spec_json,
              up_time: this.formData.up_time,
              shop_id: this.shop_id,
              c_id: this.formData.c_id
            })
          ;
          this.$http.post(this.$api.addGoods, postData).then(rsp => {
            console.log("新增商品");
            console.log(rsp);
            if (rsp.data.message == "OK") {
              this.$message.success("成功");
              this.$router.go(-1);
            } else {
              this.$message.error('新增失败')
            }
          });
        } else {
          this.$message.error('请完整填写信息')


        }
        // for (let i = 0; i < this.tableData.length; i++) {
        //   var obj = {};
        //   obj.images = this.tableData[i].images;
        //   obj.stock = this.tableData[i].stock;
        //   obj.before_price = this.tableData[i].before_price;
        //   obj.current_price = this.tableData[i].current_price;
        // }

        // this.formData.goodsCarouselImage = this.upImgs;
        // this.formData.category_id = this.category[this.category.length - 1];
        // this.formData.goodsAddSkuParams = goodsAddSkuParams;
        // this.formData.detail = this.$refs.ue.getUEContent();
        // let newForm = this.formData;
        // delete newForm.brand;
        // console.log(newForm);
        // if (
        //   newForm.goodsName &&
        //   newForm.itemCode &&
        //   newForm.goodsCategoryId &&
        //   newForm.brandId &&
        //   newForm.sellingPrice &&
        //   newForm.originalPrice &&
        //   newForm.goodsCarouselImage &&
        //   newForm.detail &&
        //   newForm.goodsCarouselImage.length > 0 &&
        //   newForm.goodsAddSkuParams[0].sellingPrice &&
        //   newForm.goodsAddSkuParams[0].originalPrice &&
        //   newForm.goodsAddSkuParams[0].inventory &&
        //   newForm.goodsAddSkuParams[0].imageUrl
        // ) {
        //   let formDataToJson = JSON.stringify(newForm);
        //   console.log("formDataToJson");
        //   console.log(formDataToJson);
        //   this.$http
        //     .post(this.$api.addGoods, formDataToJson)
        //     .then(rsp => {
        //       if (rsp.data.flag) {
        //         console.log(rsp.data);
        //         this.$message.success("保存成功！");
        //         // if (this.addFlag) {
        //         //保存并新增
        //         // this.$router.go(0);
        //         // this.addFlag = false;
        //         // } else {
        //         //保存
        //         this.$router.go(-1);
        //         // this.addFlag = false;
        //         // }
        //       } else {
        //         this.$message.error("数据未填写完毕或出错，请重新检查！");
        //         // this.addFlag = false;
        //       }
        //       // console.log(rsp.data);
        //     })
        //     .catch(err => {
        //       console.log(`err-------------------`);
        //       console.log(err);
        //       this.$message.error(err);
        //       this.addFlag = false;
        //     });
        // } else {
        //   this.$message.error("请填写完整信息");
        // }
      },

      /**@function 保存并新增 */
      // saveAndAdd() {
      //   this.addFlag = true;
      //   this.submitForm();
      // },
      /**@function 取消 */
      resetForm(formData) {
        this.$confirm(
          "取消后将放弃新增，返回上一页面，请确认是否取消？",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }
        )
          .then(() => {
            this.$message({
              type: "success",
              message: "取消成功!"
            });
            this.$router.go(-1);
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "放弃 [取消] 操作!"
            });
          });
      },

      // -----------0----------
      handleClose(tag, index) {
        this.attrArr[index].dynamicTags.splice(this.attrArr[index].dynamicTags.indexOf(tag), 1);
        this.doMix();
      },

      showInput(index) {
        console.log(index);
        this.attrArr[index].inputVisible = true;
        // this.$nextTick(function () {
        //   console.log(this.$refs);
        //   this.$refs.saveTagInput[index].$refs.input.focus();
        // });
      },

      handleInputConfirm(index) {
        console.log(index);
        let inputVal = this.attrArr[index].inputVal;
        if (inputVal) {
          this.attrArr[index].dynamicTags.push(inputVal);
        }
        this.attrArr[index].inputVisible = false;
        this.attrArr[index].inputVal = "";
        this.doMix();
      },
      // -----------0---------- ||||
      // -----------1----------
      handleClose1(tag) {
        this.dynamicTags1.splice(this.dynamicTags1.indexOf(tag), 1);
        //   console.log(tag);
        this.doMix();
      },


      handleInputConfirm1() {
        let inputVal1 = this.inputVal1;
        if (inputVal1) {
          this.dynamicTags1.push(inputVal1);
        }
        this.inputVisible1 = false;
        this.inputVal1 = "";
        this.doMix();
      },
      // -----------1--------- ||||
      // -----------2----------
      handleClose2(tag) {
        this.dynamicTags2.splice(this.dynamicTags2.indexOf(tag), 1);
        //   console.log(tag);
        this.doMix();
      },

      showInput2() {
        this.inputVisible2 = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },

      handleInputConfirm2() {
        let inputVal2 = this.inputVal2;
        if (inputVal2) {
          this.dynamicTags2.push(inputVal2);
        }
        this.inputVisible2 = false;
        this.inputVal2 = "";
        this.doMix();
      },
      // -----------2---------- ||
      //  一种属性的情况
      addAttrList1() {
        var self = this;
        this.tableData = [];
        this.attrArr[0].dynamicTags.forEach(function (v, k) {
          var item = {};
          item.val1 = v;
          item.val2 = "";
          item.current_price = "";
          item.before_price = "";
          item.images = "";
          item.stock = "";
          item.cost = "";
          item.is_default = 1
          self.tableData.push(item);
        });
        console.log(self.tableData);
      },
      //  两种属性的情况
      addAttrList2() {
        this.tableData = [];
        var self = this;
        var itemArry = [];
        self.attrArr[0].dynamicTags.forEach(function (o, i) {
          var item = {};
          item.val1 = o;
          self.attrArr[1].dynamicTags.forEach(function (v, k) {
            item.val2 = v;
            var itemStr = JSON.stringify(item);
            itemArry.push(itemStr);
          });
        });
        itemArry.forEach(function (o, i) {
          var itemObj = JSON.parse(o);
          self.tableData.push(itemObj);
        });
        console.log(this.tableData);
      },
      //三种属性的情况
      addAttrList3() {
        this.tableData = [];
        var self = this;
        var itemArry = [];
        self.attrArr[0].dynamicTags.forEach(function (o, i) {
          var item = {};
          item.val1 = o;
          // console.log(item);
          self.attrArr[1].dynamicTags.forEach(function (a, j) {
            item.val2 = a;

            self.attrArr[2].dynamicTags.forEach(function (b, k) {
              item.val3 = b;
              var itemStr = JSON.stringify(item);
              itemArry.push(itemStr);
            });
          });
        });
        itemArry.forEach(function (o, i) {
          var itemObj = JSON.parse(o);
          self.tableData.push(itemObj);
        });
      },
      doMix() {
        if (this.attrArr.length == 1) {
          this.addAttrList1();
        } else if (this.attrArr.length == 2) {
          this.addAttrList2();
        } else {
          this.addAttrList3();
        }

        console.log("SKU表格");
        console.log(this.tableData);
      },
      getUEContent() {
        let content = this.$refs.ue.getUEContent(); // 调用子组件方法
        this.$notify({
          title: "获取成功，可在控制台查看！",
          message: content,
          type: "success"
        });
        console.log(content);
      },
      getUEContentTxt() {
        let content = this.$refs.ue.getUEContentTxt(); // 调用子组件方法
        this.$notify({
          title: "获取成功，可在控制台查看！",
          message: content,
          type: "success"
        });
        console.log(content);
      }
    },
    created() {
      //获取 分类  attribute 品牌
      console.log('shop_id');
      console.log(window.sessionStorage.getItem('shop_id'));
      var shop_id = window.sessionStorage.getItem('shop_id');
      this.shop_id = shop_id;

    }
  };
</script>

<style scoped lang="less">
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }

  .content1 {
    margin-bottom: 20px;
  }

  .my-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #afb1b5;
    border: 1px solid #000;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
  }

  .box-border {
    border: 1px solid #dcdfe6;
    padding: 30px;
    border-radius: 4px;
  }

  .el-tag {
    display: border-box;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    background: #fff;
  }

  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }

  .select_width {
    .el-cascader,
    .el-select {
      width: 100%;
    }
  }

  .upload-goodsImg {
    width: 80px !important;
  }

  .my-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    height: 40px;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .editor-container {
    width: 100%;
    height: 100%;
  }
</style>
