1
<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content content1">
      <div class="content-title">新增分类</div>
      <el-form :model="sortData" :rules="rules" ref="sortData" label-width="120px">
        <el-row>
          <el-col :span='6'>
            <el-form-item label="分类类型" prop="name">
              <el-select v-model="sortData.category_type" placeholder="请选择类型">
                <el-option
                  v-for="item in typeOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="sortData.category_type==20">
          <el-form-item label="价格区间" prop="name">

            <el-col :span='2'>
              <el-input v-model="priceStart" style="display:inline-block"></el-input>
            </el-col>
            <el-col :span='2'>
              <div style="text-align:center">——</div>
            </el-col>
            <el-col :span='2'>
              <el-input v-model="priceEnd" style="display:inline-block"></el-input>
            </el-col>
          </el-form-item>

        </el-row>
        <el-row v-if="sortData.category_type==30">
          <el-col :span='6'>
            <el-form-item label="折扣" prop="name">
              <el-input v-model="discount" placeholder="必须为小数"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if="sortData.category_type==40">
          <el-col :span='6'>
            <el-form-item label="品牌名" prop="name">
              <el-input v-model="brandName"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='6'>
            <el-form-item label="分类名称" prop="name">
              <el-input v-model="sortData.name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col>
            <el-form-item label="分类logo" prop="real_name">
              <el-upload
                :action="uploadApi"
                list-type="picture-card"
                :file-list="imageUrl"
                show-file-list
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove"
                :on-success="handleAvatarSuccess"
                :data=upload_data
                name="upload_file"
                with-credentials
                :limit=1
              >
                <i class="el-icon-plus"></i>
              </el-upload>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="sortData.image" alt="">
              </el-dialog>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='6'>
            <el-form-item label="排序号" prop="index">
              <el-input v-model="sortData.index"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <!--<div class="content content1" v-if="isEdit">-->
      <!--<div class="content-title">编辑分类商品列表</div>-->

      <!--<div class="search-group">-->
        <!--&lt;!&ndash; <el-input v-model.trim="val1" placeholder="请输入商品编号添加商品" prefix-icon="el-icon-search" class="search-input" clearable>-->
        <!--</el-input> &ndash;&gt;-->
        <!--<el-button icon="el-icon-plus" class="purple-bg mb20" @click="addGoods">添加</el-button>-->
      <!--</div>-->

      <!--&lt;!&ndash; <div class="search-group">-->
        <!--<el-input v-model.trim="val1" clearable @blur="searchVal1" @keyup.enter.native="searchVal1" placeholder="搜索广告名称" prefix-icon="el-icon-search" class="search-input">-->
        <!--</el-input>-->

        <!--<el-select v-model="val2" clearable filterable placeholder="选择广告状态" @change="selectVal2">-->
          <!--<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">-->
          <!--</el-option>-->
        <!--</el-select>-->

        <!--<el-date-picker v-model="val3" clearable @change="selectVal3" type="daterange" range-separator="至" start-placeholder="选择开始日期" end-placeholder="选择结束日期">-->
        <!--</el-date-picker>-->

      <!--</div> &ndash;&gt;-->

      <!--<el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"-->
                <!--@selection-change="handleSelectionChange" :default-sort="{prop: 'brand', order: 'descending'}">-->
        <!--<el-table-column type="selection">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="goodsName" label="名称">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="goodsCode" label="编号">-->
        <!--</el-table-column>-->
        <!--<el-table-column label="图片" width="70">-->
          <!--<template slot-scope="scope">-->
            <!--<img :src="scope.row.imageUrl" width="52" height="52"/>-->
          <!--</template>-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="goodsBrandName" label="品牌">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="categoryName" label="分类">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="sellingPrice" label="销售价(元)">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="inventory" label="库存量(件)">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="isUp" label="销售状态">-->
          <!--<template slot-scope="scope">-->
            <!--{{scope.row.isUp|changeIsUp}}-->
          <!--</template>-->
        <!--</el-table-column>-->
        <!--&lt;!&ndash; <el-table-column prop="stock" label="排序号" sortable width="140">-->
					<!--<template slot-scope="scope">-->
						<!--<el-input v-model="scope.row.stock" placeholder="999"></el-input>-->
					<!--</template>-->
				<!--</el-table-column> &ndash;&gt;-->

        <!--<el-table-column label="操作">-->
          <!--<template slot-scope="scope">-->
            <!--&lt;!&ndash; <el-button @click="checkGoods(scope.row)" type="text" size="small" class="purple-txt">查看</el-button> &ndash;&gt;-->
            <!--<el-button type="text" size="small" class="orange-txt" @click="delGoods(scope.row)">删除</el-button>-->
          <!--</template>-->
        <!--</el-table-column>-->

      <!--</el-table>-->

      <!--<div style="margin-top: 20px">-->
        <!--&lt;!&ndash; <el-button class="orange-bg" @click="delSelected">批量删除</el-button> &ndash;&gt;-->

        <!--&lt;!&ndash; <div class="pagination">-->
					<!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="400">-->
					<!--</el-pagination>-->
				<!--</div> &ndash;&gt;-->
      <!--</div>-->

    <!--</div>-->
    <el-button class="purple-bg" @click="save">保存</el-button>
    <el-button class="orange-bg" @click="cancal">取消</el-button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isEdit: 0,
        shop_id: "",
        category_id: "",
        imageUrl: [],
        uploadApi: this.$uploadApi, //图片上传api
        upload_data: {file_type: 10},
        dialogVisible: false,
        typeOptions: [
          {
            label: "普通分类",
            value: 10
          },
          {
            label: "价格分类",
            value: 20
          },
          {
            label: "折扣分类",
            value: 30
          },
          {
            label: "品牌分类",
            value: 40
          }
        ],
        priceStart: "",
        priceEnd: "",
        discount: "",
        brandName: "",
        sortData: {
          category_type: 10,
          cond: -1,
          name: "",
          index: "",
          image: "",
          goods_ids: ""
        },
        rules: {
          storeCategoryName: [
            {required: true, message: "必填", trigger: "blur"}
          ],
          sort: [{required: true, message: "必填", trigger: "blur"}]
        }
      };
    },
    methods: {
      // 图片
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        console.log("handlePictureCardPreview");
        this.sortData.image = file.url;
        this.dialogVisible = true;
      },
      // 上传图片前校验
      beforeAvatarUpload() {
      },
      // 上传图片成功
      handleAvatarSuccess(res) {
        console.log("上传图片成功");
        console.log(res);
        this.sortData.image = res.data.file_md5;
      },
      change() {
        //   todo
      },

      save() {
        console.log(this.sortData);
        if (this.sortData.category_type == 20) {
          this.sortData.cond = this.priceStart + "-" + this.priceEnd;
        } else if (this.sortData.category_type == 30) {
          this.sortData.cond = this.discount;
        } else if (this.sortData.category_type == 40) {
          this.sortData.cond = this.brandName;
        }
        let postData = this.$qs.stringify({
          category_type: this.sortData.category_type,
          name: this.sortData.name,
          cond: this.sortData.cond,
          image: this.sortData.image,
          index: this.sortData.index,
          goods_ids: this.sortData.goods_ids,
          parent_category_uid:'',
          shop_id: this.shop_id,
          c_id: this.category_id
        });

        if (this.sortData.name && this.sortData.index && this.sortData.image) {
          if (this.isEdit) {
            this.$http.post(this.$api.editCategory, postData).then(rsp => {
              console.log("修改分类");
              console.log(rsp);
              if (rsp.data.message == "OK") {
                this.$message.success("成功");
                this.$router.go(-1);
              }
            });
          } else {
            this.$http.post(this.$api.insertCategory, postData).then(rsp => {
              console.log("新增分类");
              console.log(rsp);
              if (rsp.data.message == "OK") {
                this.$message.success("成功");
                this.$router.go(-1);
              } else {
                this.$message.error('新增失败')
              }
            });
          }
        } else {
          this.$message.error('请完整填写数据')
        }

      },
      cancal() {
        this.$router.go(-1);
      }
    },
    created() {
      console.log("shop_id");
      console.log(window.sessionStorage.getItem("shop_id"));
      var shop_id = window.sessionStorage.getItem("shop_id");
      this.shop_id = shop_id;
      if (this.$route.params.category_id) {
        this.isEdit = 1;
        this.category_id = this.$route.params.category_id;
        this.$http.get(this.$api.findCategory, {
            params: {
              shop_id: this.shop_id,
              category_id: this.category_id
            }
          })
          .then(rsp => {
            console.log("获取单个分类信息");
            console.log(rsp);
            let upImgObj = {};
            upImgObj.name = upImgObj.url = rsp.data.data.category_info.image;
            this.imageUrl.push(upImgObj);
            this.sortData = rsp.data.data.category_info;
            console.log(this.sortData);
          });

      }
    }
  };
</script>

<style scoped lang="less">
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }
</style>
