<template>
    <div>
        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <div class="breadcrumb-head">商品管理</div>
            <el-breadcrumb>
                <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="content content1">
            <div class="content-title">商品信息</div>

            <el-row :gutter="20" type="flex" justify="space-between">
                <el-col :span="10">
                    <div class="content-content">
                        <div class="check_goods carousel">
                            <template>
                                <el-carousel indicator-position="outside">
                                    <el-carousel-item v-for="item in carouselItem" :key="item">
                                        <img :src="item" width="380" height="380">
                                    </el-carousel-item>
                                </el-carousel>
                            </template>
                        </div>
                    </div>
                </el-col>
                <el-col>
                    <div class="content-detail">
                        <div class="content-info">商品名称：{{goodsDetail.title}}</div>
                        <div class="content-info">商品编号：{{goodsDetail.goods_num}}</div>
                        <!--<div class="content-info">商品货号：{{goodsDetail.itemCode}}</div>-->
                        <div class="content-info">商品分类：{{goodsDetail.goodsCategoryName}}</div>
                        <div class="content-info">商品品牌：{{goodsDetail.goodsBrandName}}</div>
                        <div class="content-info">原价(元)：
                            <span class="orange-txt">{{goodsDetail.originalPrice}}</span>
                        </div>
                        <div class="content-info">销售价(元)：
                            <span class="orange-txt">{{goodsDetail.sellingPrice}}</span>
                        </div>
                        <div class="content-info">库存(件)：
                            <span class="orange-txt">{{goodsDetail.inventory}}</span>
                        </div>

                    </div>
                </el-col>
            </el-row>

        </div>

        <div class="content content1">
            <div class="content-title">商品属性</div>

            <el-table :data="tableData" border style="width: 100%">
                <el-table-column prop="specName1" :label="attrName[0].attributeName">
                </el-table-column>
                <el-table-column v-if="attrName[1]" prop="specName2" :label="attrName[1].attributeName">
                </el-table-column>
                <el-table-column v-if="attrName[2]" prop="specName3" :label="attrName[2].attributeName">
                </el-table-column>
                <el-table-column prop="originalPrice" label="原价">
                </el-table-column>
                <el-table-column prop="sellingPrice" label="销售价">
                </el-table-column>
                <el-table-column prop="inventory" label="库存">
                </el-table-column>
                <el-table-column label="商品图片">
                    <template slot-scope="scope">
                        <img :src="scope.row.imageUrl" width="50" height="50">
                    </template>
                </el-table-column>
            </el-table>

        </div>

        <div class="content">
            <div class="content-title">商品详情</div>
            <div class="box-border" v-html="goodsDetail.detail">
            </div>
        </div>

        <el-button class="orange-bg mt20" v-if="this.fromActivity!=1" style="margin-top: 20px" @click="goBack">返回</el-button>

    </div>
</template>

<script>
export default {
  data() {
    return {
      fromActivity: 0, //从活动页来的标志
      goodsDetail: "",
      carouselItem: [],
      attrName: [],
      tableData: []
    };
  },
  methods: {
    /**@function 获取商品详情 */
    getGoodsDetail() {
      let goodsId = this.$route.params.id;
      this.$http.get(this.$api.findGoods + `?goods_ids=${goodsId}`).then(rsp => {
        console.log("获取商品详情");
        console.log(rsp.data);
        this.goodsDetail = rsp.data.data;
        this.carouselItem = this.goodsDetail.goodsCarouselImages;
        this.attrName = this.goodsDetail.goodsAttributeDtos;
        this.tableData = this.goodsDetail.goodsSkuDtos;
      });
    },
    /**@function 返回 */
    goBack() {
      this.$router.push({
        name: "gg",
        params: {
          query: this.$route.params.query
        }
      });
    }
  },
  created() {
    if (this.$route.params.fromActivity) {
      this.fromActivity = 1;
    } else {
      this.fromActivity = 0;
    }
    this.getGoodsDetail();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.content1 {
  margin-bottom: 20px;
}

.box-border {
  border: 1px solid #dcdfe6;
  padding: 30px;
  border-radius: 4px;
}

.carousel {
  width: 380px;
}
.content-detail {
  & .content-info {
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(48, 49, 51, 1);
    font-weight: bold;
    padding-bottom: 30px;
  }
}
</style>
