<template>
  <div>
    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1">
      <div class="content-title">填写商品信息</div>

      <el-form :model="formData" :rules="rules" ref="ruleForm" label-width="100px">
        <el-row>
          <el-col :span='8'>
            <el-form-item label="商品名称" prop="goodsName">
              <el-input v-model="formData.goodsName"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='8' :offset="4">
            <el-form-item label="原价(元)" prop="originalPrice">
              <el-input v-model="formData.originalPrice"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="商品货号" prop="itemCode">
              <el-input v-model="formData.itemCode"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span='8' :offset="4">
            <el-form-item label="销售价(元)" prop="sellingPrice">
              <el-input v-model="formData.sellingPrice"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="select_width">
          <el-col :span='8'>

            <el-form-item label="商品分类" :rules="categoryRules" prop="category">
              <el-cascader expand-trigger="click" :options="categorOptions" v-model="category" @change="selectCategory" :change-on-select="false">
                <!-- <el-cascader expand-trigger="hover" :options="options" v-model="category" @change="selectCategory">-->
              </el-cascader>
            </el-form-item>
          </el-col>
          <!-- <el-col :span='8' :offset="4">
						<el-form-item label="库存(件)" prop="stock">
							<el-input v-model="formData.stock"></el-input>
						</el-form-item>
					</el-col> -->
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="商品品牌" prop="brandId">
              <el-select v-model="formData.brandId" filterable placeholder="选择商品品牌">
                <el-option v-for="item in brandOptions" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>

    </div>

    <div class="content content1">
      <div class="content-title">添加商品属性</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
        <el-row>
          <el-col>
            <el-form-item label="商品类型" :rules="attributeRules" prop="attribute">
              <el-cascader expand-trigger="hover" :options="attributeOptions" v-model="attribute" @change="selectAttribute">
              </el-cascader>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item label="销售属性:">

            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if=' attrArr.length>0?true:false'>
          <el-col>
            <el-form-item :label="attrArr[0].goodsSpecName" style="vertical-align:center">
              <el-tag :key="tag" v-for="tag in dynamicTags0" closable :disable-transitions="false" @close="handleClose0(tag)">
                {{tag}}
              </el-tag>
              <el-input class="input-new-tag" v-if="inputVisible0" v-model="inputVal0" ref="saveTagInput" @keyup.enter.native="handleInputConfirm0" @blur="handleInputConfirm0">
              </el-input>
              <div class="my-icon" v-else @click="showInput0">
                <i class="el-icon-plus"></i>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if='attrArr.length>1?true:false'>
          <el-col>
            <el-form-item :label="attrArr[1].goodsSpecName" style="vertical-align:center">
              <el-tag :key="tag" v-for="tag in dynamicTags1" closable :disable-transitions="false" @close="handleClose1(tag)">
                {{tag}}
              </el-tag>
              <el-input class="input-new-tag" v-if="inputVisible1" v-model="inputVal1" ref="saveTagInput" @keyup.enter.native="handleInputConfirm1" @blur="handleInputConfirm1">
              </el-input>
              <div class="my-icon" v-else @click="showInput1">
                <i class="el-icon-plus"></i>
              </div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row v-if='attrArr.length>2?true:false'>
          <el-col>
            <el-form-item :label="attrArr[2].goodsSpecName" style="vertical-align:center">
              <el-tag :key="tag" v-for="tag in dynamicTags2" closable :disable-transitions="false" @close="handleClose2(tag)">
                {{tag}}
              </el-tag>
              <el-input class="input-new-tag" v-if="inputVisible2" v-model="inputVal2" ref="saveTagInput" @keyup.enter.native="handleInputConfirm2" @blur="handleInputConfirm2">
              </el-input>
              <div class="my-icon" v-else @click="showInput2">
                <i class="el-icon-plus"></i>
              </div>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row v-if="tempFormFlag">
          <el-form :model="tempForm" ref="tempForm">
            <el-col :span="2">
              <div class="my-label">统一填写：</div>
            </el-col>
            <el-col :span="3">
              <el-form-item prop="v1">
                <el-input type="number" placeholder="原价(元)" v-model="tempForm.v1" @blur="setAllV1"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="ml10" :span="3">
              <el-form-item prop="v2">
                <el-input type="number" placeholder="销售价(元)" v-model="tempForm.v2" @blur="setAllV2"></el-input>
              </el-form-item>
            </el-col>
            <el-col class="ml10" :span="3">
              <el-form-item prop="v3">
                <el-input type="number" placeholder="库存(件)" v-model="tempForm.v3" @blur="setAllV3"></el-input>
              </el-form-item>
            </el-col>
          </el-form>
        </el-row>
        <div class="orange-txt" style="margin-bottom:20px">**商品不同属性的图片尺寸：750*750px；格式:jpg、png；大小：400KB以内</div>
        <el-table :data="tableData" border style="width: 100%" ref="multipleTable" tooltip-effect="dark" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55">
          </el-table-column>
          <el-table-column v-if='attrArr.length>0?true:false' prop="v1" :label="attrArr[0].goodsSpecName">
          </el-table-column>
          <el-table-column v-if='attrArr.length>1?true:false' prop="v2" :label="attrArr[1].goodsSpecName">
          </el-table-column>
          <el-table-column v-if='attrArr.length>2?true:false' prop="v3" :label="attrArr[2].goodsSpecName">
          </el-table-column>
          <el-table-column prop="originalPrice" label="原价（元）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.originalPrice" type="number" placeholder="请填写价格"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="sellingPrice" label="销售价（元）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.sellingPrice" type="number" placeholder="请填写价格"></el-input>
            </template>
          </el-table-column>
          <el-table-column prop="inventory" label="库存量（件）">
            <template slot-scope="scope">
              <el-input v-model="scope.row.inventory" type="number" placeholder="请填写库存量"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="商品图片">
            <template slot-scope="scope">
              <img :src="scope.row.imageUrl" alt="" width="50px" height="50px">
              <!--<img v-if="showImgFlag" :src="scope.row.imageUrl" width="52" height="52" style="float:right">-->
              <!--<el-upload class="upload-goodsImg" :action="imgApi" :file-list="skuUpImgs" :on-success="uploadImgHandlerSku" list-type="picture" :limit="1">-->
              <!--<el-button size="mini" @click="getIndex(scope.$index)" type="primary" icon="el-icon-upload" style="display:inline-block">上传图片</el-button>-->
              <!--</el-upload>-->
            </template>
          </el-table-column>
          <!-- <el-table-column label="操作">
						<template slot-scope="scope">
							<el-button type="text" size="small" class="orange-txt">清空</el-button>
						</template>
					</el-table-column> -->
        </el-table>
        <el-upload class="upload-goodsImg mt20" :action="imgApi" :on-progress="uploadingSkuImg" :show-file-list="false" :on-success="uploadImgHandlerSku" list-type="picture" :disabled="disUploadSkuImg">
          <el-button @click="tapLoadSkuImg" size="mini" type="primary" icon="el-icon-upload" style="display:inline-block">{{uploadSkuImgText}}</el-button>
        </el-upload>
      </el-form>

    </div>

    <div class="content content1">
      <div class="content-title">添加商品图片</div>
      <div class="box-border">

        <el-upload multiple :action="imgApi" list-type="picture-card" :file-list="upImgs" :on-success="uploadImgHandler" :limit="5" :before-upload="beforeAvatarUpload" :before-remove="beforeRemove" :on-remove="handleRemove">
          <i class="el-icon-plus"></i>
          <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*750px；格式:jpg、png；大小：400KB以内；图片最多:5张；可多选</div>
        </el-upload>
      </div>

    </div>

    <div class="content">
      <div class="content-title">添加商品详情</div>
      <div class="orange-txt" style="margin-bottom:20px">**图片尺寸：建议宽度为750px；格式:jpg、png；大小：2MB以内</div>
      <el-form :model="formData" :rules="rules" ref="ruleForm" size="0">
        <div class="editor-container">
          <UE :defaultMsg="defaultMsg" :config="config" ref="ue"></UE>
        </div>

        <el-form-item>

          <el-button class="purple-bg" @click="submitForm('ruleForm')">保存</el-button>
          <el-button class="orange-bg" @click="cancel()">取消</el-button>
          <el-button class="orange-bg mt20" @click="delGoods">删除商品</el-button>

        </el-form-item>
      </el-form>
    </div>

  </div>
</template>

<script>
// 导入富文本编辑器样式以及组件,富文本插件
// import "quill/dist/quill.core.css";
// import "quill/dist/quill.snow.css";
// import "quill/dist/quill.bubble.css";
// import { quillEditor, Quill } from "vue-quill-editor";
// import { container, ImageExtend, QuillWatch } from "quill-image-extend-module";
// Quill.register("modules/ImageExtend", ImageExtend);
import UE from "../../ue/ue.vue";

export default {
  components: { UE },
  data() {
    return {
      defaultMsg: "",
      config: {
        autoHeightEnabled: false,
        autoFloatEnabled: true, //是否工具栏可浮动
        initialContent: "", //初始化编辑器的内容,也可以通过textarea/script给值，看官网例子
        autoClearinitialContent: false, //是否自动清除编辑器初始内容，注意：如果focus属性设置为true,这个也为真，那么编辑器一上来就会触发导致初始化的内容看不到了
        initialFrameWidth: 800,
        initialFrameHeight: 750
      },
      imgApi: this.$imgApi, //图片上传api
      // editorOption: {
      //   modules: {
      //     ImageExtend: {
      //       // 如果不作设置，即{}  则依然开启复制粘贴功能且以base64插入
      //       name: "url", // 图片参数名
      //       size: 2, // 可选参数 图片大小，单位为M，1M = 1024kb
      //       action: this.$imgApi, // 服务器地址, 如果action为空，则采用base64插入图片
      //       response: res => {
      //         return res.data[0].fileUrl;
      //       },
      //       headers: xhr => {
      //         // xhr.setRequestHeader('myHeader','myValue')
      //       }, // 可选参数 设置请求头部
      //       sizeError: () => {}, // 图片超过大小的回调
      //       start: () => {}, // 可选参数 自定义开始上传触发事件
      //       end: () => {}, // 可选参数 自定义上传结束触发的事件，无论成功或者失败
      //       error: () => {}, // 可选参数 上传失败触发的事件
      //       success: () => {}, // 可选参数  上传成功触发的事件
      //       change: (xhr, formData) => {
      //         // xhr.setRequestHeader('myHeader','myValue')
      //         // formData.append('token', 'myToken')
      //       } // 可选参数 每次选择图片触发，也可用来设置头部，但比headers多了一个参数，可设置formData
      //     },
      //     toolbar: {
      //       // 如果不上传图片到服务器，此处不必配置
      //       container: container, // container为工具栏，此次引入了全部工具栏，也可自行配置
      //       handlers: {
      //         image: function() {
      //           // 劫持原来的图片点击按钮事件
      //           QuillWatch.emit(this.quill.id);
      //         }
      //       }
      //     }
      //   }
      // },
      fileListRet: {},
      fileListRetLength: false,
      showImgFlag: true,
      goodsDetail: "",
      rowIndex: "",
      skuUpImgs: [],
      skuUpImgsAndIndex: [],
      disUploadSkuImg: true,
      skuUpImgs: [],
      uploadSkuImgText: "上传选中项图片",
      uploadSkuImgIndex: [],
      upImgs: [],
      category: [], //选择的分类
      categorOptions: [], //分类的选项
      attribute: [], //选择的属性类型
      attributeOptions: [], //属性类型的选项
      brand: [], //选择的品牌
      brandOptions: [], //品牌的选项
      attrArr: [],

      formData: {
        goodsName: "",
        itemCode: "",
        goodsCategoryId: "",
        brandId: "",
        detail: "",
        sellingPrice: "",
        originalPrice: "",
        goodsCarouselImage: [],
        goodsAddSkuParams: [
          {
            sellingPrice: "",
            originalPrice: "",
            inventory: "",
            imageUrl: ""
          }
        ]
      },

      dynamicTags0: [],
      dynamicTags1: [],
      dynamicTags2: [],
      inputVisible0: false,
      inputVisible1: false,
      inputVisible2: false,
      inputVisible3: false,
      inputVal0: "",
      inputVal1: "",
      inputVal2: "",
      inputVal3: "",
      tableData: [],

      tempForm: {
        //统一填写sku表格中的原价销售价库存
        v1: "",
        v2: "",
        v3: ""
      },

      ruleForm: {
        content: "",
        name: "",
        img: "",
        no: "",
        art_no: "",
        brand: "",
        sort: "",
        or_price: "",
        pretium: "",
        stock: "",
        sales_status: "",
        app_status: "",
        type: "",
        attr: "",
        color: "",
        size: ""
      },

      categoryRules: {
        category: [
          { required: true, message: "请选择商品分类", trigger: "change" }
        ]
      },
      attributeRules: {
        attribute: [
          { required: true, message: "请选择商品类型", trigger: "change" }
        ]
      },
      rules: {
        goodsName: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
          {
            min: 0,
            max: 60,
            message: "长度不能超过60个字(每个空格、标点和字母单独计算为一个字)",
            trigger: "blur"
          }
        ],
        originalPrice: [
          { required: true, message: "请输入原价", trigger: "blur" },
          {
            pattern: /^\d+(\.\d+)?$/,
            message: "请输入正确的价格数字",
            trigger: "blur"
          }
        ],
        itemCode: [
          { required: true, message: "请输入商品货号", trigger: "blur" }
        ],
        sellingPrice: [
          { required: true, message: "请输入销售价", trigger: "blur" },
          {
            pattern: /^\d+(\.\d+)?$/,
            message: "请输入正确的价格数字",
            trigger: "blur"
          }
        ],

        brandId: [
          { required: true, message: "请选择商品品牌", trigger: "change" }
        ]
      },
      dialogImageUrl: "",
      dialogVisible: false,
      tempFormFlag: false //统一填写输入框显示标志
    };
  },
  methods: {
    tapLoadSkuImg() {
      if (this.multipleSelection.length == 0) {
        this.disUploadSkuImg = true;
        this.$message.error("请选择要上传的项");
      } else {
        this.disUploadSkuImg = false;
      }
    },
    /**@function 正在上传SKU图片 */
    uploadingSkuImg() {
      this.disUploadSkuImg = true;
      this.uploadSkuImgText = "正在上传...";
    },
    /**@function SKU图片上传成功事件 */
    uploadImgHandlerSku(data) {
      var self = this;
      var tableData = this.tableData;
      this.tableData = [];
      console.log("Sku图片上传成功事件");
      if (data.data[0].fileUrl) {
        this.uploadSkuImgText = "上传选中项图片";
        tableData.forEach(function(o, i) {
          self.uploadSkuImgIndex.forEach(function(v, k) {
            if (i == v) {
              o.imageUrl = data.data[0].fileUrl;
            }
          });
          self.tableData.push(o);
        });
        console.log(this.tableData);
      }
    },
    /**@function 选择行 */
    handleSelectionChange(val) {
      var self = this;
      this.multipleSelection = val;
      this.uploadSkuImgIndex = [];
      console.log(val);
      val.forEach(function(o, i) {
        let index = self.tableData.indexOf(o);
        self.uploadSkuImgIndex.push(index);
      });
      if (val.length == 0) {
        this.disUploadSkuImg = true;
      } else {
        this.disUploadSkuImg = false;
      }
      console.log(this.uploadSkuImgIndex);
    },
    /**@function 获取商品详情数据 */
    getGoodsDetail() {
      let goodsId = this.$route.params.id;
      this.$http.get(this.$api.findGoods + `?goodsId=${goodsId}`).then(rsp => {
        //   this.$isot(rsp);
        console.log("获取商品详情");
        console.log(rsp.data.data);
        this.goodsDetail = rsp.data.data;
        this.tempBrand = this.goodsDetail.goodsBrandName;
        this.formData.goodsName = this.goodsDetail.goodsName;
        this.formData.originalPrice = this.goodsDetail.originalPrice;
        this.formData.itemCode = this.goodsDetail.itemCode;
        this.formData.sellingPrice = this.goodsDetail.sellingPrice;
        this.formData.goodsCarouselImage = this.goodsDetail.goodsCarouselImages;
        //----图片回显
        for (let i = 0; i < this.goodsDetail.goodsCarouselImages.length; i++) {
          var obj = {};
          obj.name = obj.url = this.goodsDetail.goodsCarouselImages[i];
          obj.inx = i;
          this.upImgs.push(obj);
        }
        //----/
        this.$refs.ue.editor.setContent(this.goodsDetail.detail, false);
        //----品牌回显
        let brandName = this.goodsDetail.goodsBrandName;
        for (let j = 0; j < this.brandOptions.length; j++) {
          if (this.brandOptions[j].label == brandName) {
            this.formData.brandId = this.brandOptions[j].value;
          }
        }
        //----/
        //----类型回显
        console.log("------------>>>>>>>>>>类型回显");
        console.log(this.goodsDetail.goodsDetailAttributeCategoryDto);
        let attrNo = this.goodsDetail.goodsDetailAttributeCategoryDto
          .goodsAttributeCategoryId; //回显的数组的第一个值
        let attrName = this.goodsDetail.goodsDetailAttributeCategoryDto
          .childCategory.attributeCategoryName; //回显的数组的第二个值的attr名称
        let attrOptions = this.attributeOptions; //类型的下拉数组
        console.log("this.attributeOptions");
        console.log(this.attributeOptions);
        for (let k = 0; k < attrOptions.length; k++) {
          if (attrOptions[k].value == attrNo) {
            let attrChild = attrOptions[k].children;
            for (let m = 0; m < attrChild.length; m++) {
              if (attrChild[m].label == attrName) {
                this.attribute.push(attrNo);
                this.attribute.push(attrChild[m].value);
              }
            }
          }
        }
        console.log("------->类型回显");
        console.log(this.attribute);
        this.selectAttribute(this.attribute);
        //----/
        //----SKU属性回显
        let attrDtos = this.goodsDetail.goodsAttributeDtos;
        let specDtos = this.goodsDetail.goodsSpecDtos;
        for (let x = 0; x < attrDtos.length; x++) {
          let attrId = attrDtos[x].goodsAttributeId;
          for (let y = 0; y < specDtos.length; y++) {
            if (attrId == specDtos[y].goodsAttributeId) {
              if (x == 0) {
                this.dynamicTags0.push(specDtos[y].specName);
              } else if (x == 1) {
                this.dynamicTags1.push(specDtos[y].specName);
              } else if (x == 2) {
                this.dynamicTags2.push(specDtos[y].specName);
              }
            }
          }
        }
        console.log("-----》SKU属性回显");
        console.log(this.dynamicTags0);
        console.log(this.dynamicTags1);
        console.log(this.dynamicTags2);

        //----表格回显
        this.tableData = this.goodsDetail.goodsSkuDtos;
        console.log("this.tableData");
        console.log(this.tableData);
        for (let p = 0; p < this.tableData.length; p++) {
          //回显的时候把sku图片存入skuUpImgsAndIndex，点击保存按钮的时候取图片
          let objImg = {};
          objImg.index = p;
          objImg.imageUrl = this.tableData[p].imageUrl;
          this.skuUpImgsAndIndex.push(objImg);
        }
        console.log(`***********************this.skuUpImgsAndIndex.....`);
        console.log(this.skuUpImgsAndIndex);
        // //----/
        if (this.dynamicTags2.length != 0) {
          for (let z = 0; z < this.tableData.length; z++) {
            this.tableData[z].v1 = this.tableData[z].specName1;
            this.tableData[z].v2 = this.tableData[z].specName2;
            this.tableData[z].v3 = this.tableData[z].specName3;
          }
          return false;
        } else if (this.dynamicTags1.length != 0) {
          for (let z = 0; z < this.tableData.length; z++) {
            this.tableData[z].v1 = this.tableData[z].specName1;
            this.tableData[z].v2 = this.tableData[z].specName2;
          }
          return false;
        } else {
          for (let z = 0; z < this.tableData.length; z++) {
            this.tableData[z].v1 = this.tableData[z].specName1;
          }
        }

        //----/
      });
    },
    getIndex(i) {
      this.rowIndex = i;
      this.showImgFlag = false;
    },
    setAll() {
      var tableData = this.tableData;
      this.tableData = [];
      tableData.forEach((v, i) => {
        var tempObj = {};
        tempObj.originalPrice = this.tempForm.v1;
        tempObj.sellingPrice = this.tempForm.v2;
        tempObj.inventory = this.tempForm.v3;
        tempObj.v1 = v.v1;
        if (v.v2) {
          tempObj.v2 = v.v2;
        }
        if (v.v3) {
          tempObj.v3 = v.v3;
        }
        this.tableData.push(tempObj);
      });
      console.log("统一设置");
      console.log(this.tableData);
    },
    /**@function 统一设置 */
    setAllV1() {
      this.setAll();
    },
    setAllV2() {
      this.setAll();
    },
    setAllV3() {
      this.setAll();
    },
    /**@function 获取分类数据 */
    getCategoryData() {
      this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
        console.log("分类数据");
        let orData = rsp.data.data;

        var toget = function(orData) {
          var data = orData;
          var arrl = orData.length;
          var arr = [];
          for (var i = 0; i < arrl; i++) {
            //一级
            var obj1 = {};
            obj1.value = data[i].goodsCategoryId;
            obj1.label = data[i].goodsCategoryName;
            if (data[i].childCategoryList) {
              //是否有2级
              obj1.childrentemp = data[i].childCategoryList;
              obj1.children = [];
              for (var j = 0; j < obj1.childrentemp.length; j++) {
                var obj2 = {};
                obj2.children = [];
                obj2.value = obj1.childrentemp[j].goodsCategoryId;
                obj2.label = obj1.childrentemp[j].goodsCategoryName;
                obj1.children.push(obj2);
                if (obj1.childrentemp[j].childCategoryList) {
                  //是否有3级
                  obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                  for (var k = 0; k < obj2.childrentemp.length; k++) {
                    var obj3 = {};
                    obj3.value = obj2.childrentemp[k].goodsCategoryId;
                    obj3.label = obj2.childrentemp[k].goodsCategoryName;
                    obj2.children.push(obj3);
                  }
                }
              }
              arr[i] = obj1;
            } else {
              arr[i] = obj1;
            }
          }
          return arr;
        };
        var arr = toget(orData);
        console.log("生成分类数据");
        console.log(arr);
        this.categorOptions = arr;

        //-----分类回显
        let cateId = this.goodsDetail.goodsCategoryId;
        let cateName = this.goodsDetail.goodsCategoryName.split("-");
        console.log(cateName);

        for (let i = 0; i < this.categorOptions.length; i++) {
          if (this.categorOptions[i].label == cateName[0]) {
            let categoryLevel1 = this.categorOptions[i];
            this.category.push(categoryLevel1.value);
            for (let j = 0; j < categoryLevel1.children.length; j++) {
              if (categoryLevel1.children[j].label == cateName[1]) {
                let categoryLevel2 = categoryLevel1.children[j];
                this.category.push(categoryLevel2.value);
                this.category.push(cateId);
              }
            }
          }
        }
        console.log("-------->分类回显");
        console.log(this.category);
        //---------/
      });
    },
    /**@function 获取attribute数据 */
    getattributeData() {
      this.$http.get(this.$api.findGoodsAttributeCategoryList).then(rsp => {
        console.log("attribute数据");
        console.log(rsp.data);
        let orData = rsp.data.data;

        var toget = function(orData) {
          var data = orData;
          var arrl = orData.length;
          var arr = [];
          for (var i = 0; i < arrl; i++) {
            //一级
            var obj1 = {};
            obj1.value = data[i].goodsAttributeCategoryId;
            obj1.label = data[i].attributeCategoryName;
            if (data[i].childCategory) {
              //是否有2级
              obj1.childrentemp = data[i].childCategory;
              obj1.children = [];
              for (var j = 0; j < obj1.childrentemp.length; j++) {
                var obj2 = {};
                obj2.label = obj1.childrentemp[j].attributeCategoryName;
                obj2.value = obj1.childrentemp[j];
                obj1.children.push(obj2);
              }
              arr[i] = obj1;
            }
          }
          return arr;
        };
        var arr = toget(orData);
        console.log("生成attribute数据");
        console.log(arr);
        this.attributeOptions = arr;
        this.getCategoryData();
        this.getGoodsDetail();
      });
    },
    /**@function 获取品牌数据 */
    getBrandData() {
      this.$http.get(this.$api.findGoodsBrandList).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
        console.log("获取品牌数据");
        console.log(rsp.data.data);
        let orData = rsp.data.data;
        let arr = [];
        for (let i = 0; i < orData.length; i++) {
          var obj = {};
          obj.label = orData[i].goodsBrandCnName;
          obj.value = orData[i].goodsBrandId;
          arr.push(obj);
        }
        this.brandOptions = arr;
      });
    },
    /**@function 选择分类 */
    selectCategory(value) {
      console.log("选择分类");
      console.log(value);
    },
    /**@function 选择分类 */
    selectAttribute(value) {
      console.log("选择attribute");
      console.log(value);
      let attrOfGoods = value[1].goodsAttributes;
      let arr = [];

      for (let i = 0; i < attrOfGoods.length; i++) {
        var goodsAddBaseSkuParams = {};
        goodsAddBaseSkuParams.goodsSpecName = attrOfGoods[i].attributeName;
        goodsAddBaseSkuParams.goodsAttributeId =
          attrOfGoods[i].goodsAttributeId;
        arr.push(goodsAddBaseSkuParams);
      }
      this.attrArr = arr;
    },

    /**@function Sku图片删除前事件 */
    beforeRemove(file, fileList) {
      console.log("Sku图片前删除事件------");
      console.dir(fileList);
    },
    /**@function Sku图片删除事件 */
    handleRemoveSku(file, fileList) {
      console.log("Sku图片删除事件");
    },
    /**@function 图片上传成功事件 */
    uploadImgHandler(data) {
      console.log("图片上传成功事件");
      console.log(data);
      this.upImgs.push(data.data[0].fileUrl);
      console.log(this.upImgs);
    },
    /**@function 图片删除事件 */
    handleRemove(file, fileList) {
      this.fileListRet = fileList;
      if (fileList.length <= 0) {
        this.fileListRetLength = true;
      }
    },
    /**@function 控制上传文件规格 */
    beforeAvatarUpload(file) {
      console.log("控制上传文件规格");
      console.log(file);
      const isType = file.type === "image/jpeg" || "image/png";
      const isLt = file.size / 1024 / 1024 < 2;
      if (!isType) {
        this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
      }
      if (!isLt) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return isType && isLt;
    },
    /**@function 保存 */
    submitForm() {
      console.log("44444444444444444444444444");
      console.log(this.fileListRet);
      console.log(this.upImgs);
      var imageListRet = [];
      if (this.fileListRet.length != 0 && this.fileListRet.length) {
        console.log("有删除事件");
        for (var x = 0; x < this.fileListRet.length; x++) {
          for (var z = 0; z < this.upImgs.length; z++) {
            if (!this.upImgs[z].uid) {
              var hasImage = false;
              if (imageListRet.length) {
                for (var m = 0; m < imageListRet.length; m++) {
                  if (imageListRet[m] == this.upImgs[z]) {
                    hasImage = true;
                  }
                }
              }
              if (!hasImage) {
                imageListRet.push(this.upImgs[z]);
              }
            } else if (this.fileListRet[x].uid == this.upImgs[z].uid) {
              imageListRet.push(this.upImgs[z].name);
            }
          }
        }
      } else if (this.fileListRetLength) {
      } else {
        console.log("没有删除事件");
        for (var z = 0; z < this.upImgs.length; z++) {
          if (!this.upImgs[z].uid) {
            var hasImage = false;
            if (imageListRet.length) {
              for (var m = 0; m < imageListRet.length; m++) {
                if (imageListRet[m] == this.upImgs[z]) {
                  hasImage = true;
                }
              }
            }
            if (!hasImage) {
              imageListRet.push(this.upImgs[z]);
            }
          } else {
            imageListRet.push(this.upImgs[z].name);
          }
        }
      }

      console.log("需要上传的图片集合");
      console.log(imageListRet);
      this.formData.goodsCarouselImage = imageListRet;

      let goodsAddSkuParams = [];
      for (let i = 0; i < this.tableData.length; i++) {
        var obj = {};
        obj.imageUrl = this.tableData[i].imageUrl;

        obj.inventory = this.tableData[i].inventory;
        obj.originalPrice = this.tableData[i].originalPrice;
        obj.sellingPrice = this.tableData[i].sellingPrice;
        obj.goodsAddBaseSkuParams = [];
        for (let j = 0; j < this.attrArr.length; j++) {
          var obj1 = {};
          obj1.goodsAttributeId = this.attrArr[j].goodsAttributeId;
          if (j == 0) {
            obj1.goodsSpecName = this.tableData[i].v1;
          }
          if (j == 1) {
            obj1.goodsSpecName = this.tableData[i].v2;
          }
          if (j == 2) {
            obj1.goodsSpecName = this.tableData[i].v3;
          }
          obj.goodsAddBaseSkuParams.push(obj1);
        }
        goodsAddSkuParams.push(obj);
      }
      this.formData.goodsAddSkuParams = goodsAddSkuParams;
      this.formData.goodsCategoryId = this.category[this.category.length - 1];
      this.formData.goodsId = this.$route.params.id;

      this.formData.detail = this.$refs.ue.getUEContent();

      let newForm = this.formData;
      let formDataToJson = JSON.stringify(newForm);
      console.log("formDataToJson");

      console.log(formDataToJson);
      this.$http.post(this.$api.updateGoods, formDataToJson).then(rsp => {
        if (rsp.data.flag) {
          console.log(rsp.data);
          this.$message.success("保存成功！");
          this.$router.push({
            name: "gg",
            params: {
              query: this.$route.params.query
            }
          });
        } else {
          this.$message.error("数据未填写完毕或出错，请重新检查！");
        }
        console.log(rsp.data);
      });
    },

    /**@function 取消 */
    cancel(formData) {
      this.$confirm(
        "取消后将放弃修改，返回上一页面，请确认是否取消？",
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }
      )
        .then(() => {
          this.$message({
            type: "success",
            message: "取消成功!"
          });
          this.$router.push({
            name: "gg",
            params: {
              query: this.$route.params.query
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "放弃 [取消] 操作!"
          });
        });
    },

    // -----------0----------
    handleClose0(tag) {
      this.dynamicTags0.splice(this.dynamicTags0.indexOf(tag), 1);
      this.doMix();
    },

    showInput0() {
      this.inputVisible0 = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm0() {
      let inputVal0 = this.inputVal0;
      if (inputVal0) {
        this.dynamicTags0.push(inputVal0);
      }
      this.inputVisible0 = false;
      this.inputVal0 = "";
      this.doMix();
    },
    // -----------0---------- ||||
    // -----------1----------
    handleClose1(tag) {
      this.dynamicTags1.splice(this.dynamicTags1.indexOf(tag), 1);
      this.doMix();
    },

    showInput1() {
      this.inputVisible1 = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm1() {
      let inputVal1 = this.inputVal1;
      if (inputVal1) {
        this.dynamicTags1.push(inputVal1);
      }
      this.inputVisible1 = false;
      this.inputVal1 = "";
      this.doMix();
    },
    // -----------1--------- ||||
    // -----------2----------
    handleClose2(tag) {
      this.dynamicTags2.splice(this.dynamicTags2.indexOf(tag), 1);
      this.doMix();
    },
    showInput2() {
      this.inputVisible2 = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    handleInputConfirm2() {
      let inputVal2 = this.inputVal2;
      if (inputVal2) {
        this.dynamicTags2.push(inputVal2);
      }
      this.inputVisible2 = false;
      this.inputVal2 = "";
      this.doMix();
    },
    // -----------2---------- ||
    //  一种属性的情况
    addAttrList1() {
      var self = this;
      this.tableData = [];
      self.dynamicTags0.forEach(function(o, i) {
        var item = {};
        item.v1 = o;
        self.tableData.push(item);
        console.log(self.tableData);
      });
    },
    //  两种属性的情况
    addAttrList2() {
      this.tableData = [];
      var self = this;
      var itemArry = [];
      self.dynamicTags0.forEach(function(o, i) {
        var item = {};
        item.v1 = o;
        self.dynamicTags1.forEach(function(a, j) {
          item.v2 = a;
          var itemStr = JSON.stringify(item);
          itemArry.push(itemStr);
        });
      });
      itemArry.forEach(function(o, i) {
        var itemObj = JSON.parse(o);
        self.tableData.push(itemObj);
      });
      console.log(this.tableData);
    },
    //三种属性的情况
    addAttrList3() {
      this.tableData = [];
      var self = this;
      var itemArry = [];
      self.dynamicTags0.forEach(function(o, i) {
        var item = {};
        item.v1 = o;
        self.dynamicTags1.forEach(function(a, j) {
          item.v2 = a;
          self.dynamicTags2.forEach(function(b, k) {
            item.v3 = b;
            var itemStr = JSON.stringify(item);
            itemArry.push(itemStr);
          });
        });
      });
      itemArry.forEach(function(o, i) {
        var itemObj = JSON.parse(o);
        self.tableData.push(itemObj);
      });
      console.log(itemArry);
      console.log("33333333");
    },
    doMix() {
      this.showImgFlag = false;
      if (this.attrArr.length == 1) {
        this.addAttrList1();
      } else if (this.attrArr.length == 2) {
        this.addAttrList2();
      } else {
        this.addAttrList3();
      }
      this.tempFormFlag = true;
      console.log("SKU表格");
      console.log(this.tableData);
    },
    /**@function 删除商品 */
    delGoods() {
      let id = this.goodsDetail.goodsId;

      this.$confirm("请确认是否删除？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$http.get(this.$api.delGoods + `?goodsId=${id}`).then(rsp => {
            if (rsp.data.flag) {
              this.$message.success("删除成功！");
            }
          });
          this.$router.push({
            name: "gg",
            params: {
              query: this.$route.params.query
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "放弃 [删除] 操作!"
          });
        });
    }
  },
  created() {
    //获取 分类  attribute 品牌
    this.getattributeData();
    this.getBrandData();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.content1 {
  margin-bottom: 20px;
}
.my-icon {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #afb1b5;
  border: 1px solid #000;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
}
.box-border {
  border: 1px solid #dcdfe6;
  padding: 30px;
  border-radius: 4px;
}

.el-tag {
  display: border-box;
  margin-left: 10px;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.upload-goodsImg {
  width: 80px !important;
}
.select_width {
  .el-cascader,
  .el-select {
    width: 100%;
  }
}
.editor-container {
  width: 100%;
  height: 100%;
}
</style>
