<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content  mb20">
      <div class="content-title">分类信息</div>
        <el-form :model="asortData" :rules="rules" ref="asortData">
            <el-row>
                <el-col :span='6' style="height:50px;">
                    <el-form-item label="所属分类" prop="asortName">
                        <label for="">{{storeCategoryName}}</label>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span='6' style="height:50px;">
                    <el-form-item label="排序号" prop="sort" label-width="80px">
                        <el-input v-model="asortData.sort"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <el-button @click="save('asortData')" class="purple-bg mt20" style="width:100px;">保存</el-button>
    </div>

    <div class="content  mb20">
      <div class="content-title">推荐商品信息</div>
      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">商品名称：{{data.goodsName}}</div>
          <div class="p10">商品编号：{{data.goodsCode}}</div>
          <div class="p10">商品货号：{{data.itemCode}}</div>
          <div class="p10">商品品牌：{{data.goodsBrandName}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">商品分类：{{data.goodsCategoryName}}</div>
          <div class="p10">商品原价（元）：{{data.originalPrice}}</div>
          <div class="p10">商品销售价（元）：{{data.sellingPrice}}</div>
          <div class="p10">库存量（件）：{{data.inventory}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">商品属性</div>
      <el-table :data="tableData" border tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="specName1" :label="attrName[0].attributeName">
        </el-table-column>
        <el-table-column v-if="attrLength==2" prop="specName2" :label="attrName[1].attributeName">
        </el-table-column>
        <el-table-column v-if="attrLength==3" prop="specName3" :label="attrName[2].attributeName">
        </el-table-column>
        <el-table-column prop="originalPrice" label="原价(元)">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="imageUrl" label="*商家图片" width="600px">
          <template slot-scope="scope">
            <img :src="scope.row.imageUrl" style="width:60px;height:60px;"></img>
          </template>
        </el-table-column>
      </el-table>

    </div>

    <el-button @click="goBack" class="orange-bg mt20">返  回</el-button>
    <el-button @click="Delete" class="orange-bg mt20">删  除</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    }
  },
  data() {
    return {
      allCommission: "",
      data: [],
      attrName: [],
      asortData: {
        asortName: "",
        sort: ""
      },
      storeCategoryName: "",
      sortNum: "",
      inverseStr: "",
      tableData: [],
      attrLength: 1,
      rules: {
        sort: [{ required: true, message: "必填", trigger: "blur" }]
      }
    };
  },
  methods: {
    /**@function 获取商品详情 */
    getChannelGoods() {
      this.$http
        .get(this.$api.findGoods, {
          params: {
            goodsId: this.$route.params.goodsId
          }
        })
        .then(rsp => {
          console.log("获取商品详情");
          console.log(rsp);
          let data = rsp.data.data;
          this.data = data;
          this.GoodsInfo = rsp.data.data;

          // 获取goodsAttributeDtos 长度 渲染标题
          this.attrLength = this.GoodsInfo.goodsSkuDtos.length;
          this.attrName = this.GoodsInfo.goodsAttributeDtos;

          // 商品信息数据
          let skuDetail = this.GoodsInfo.goodsSkuDtos;

          this.tableData = skuDetail;
        });
    },
    /**@function 获取排序号 */
    getStoreGoodsCategorySort() {
      this.$http
        .get(this.$api.findStoreGoodsCategorySort, {
          params: {
            storeGoodsCategoryId: this.$route.params.storeGoodsCategoryId
          }
        })
        .then(rsp => {
          console.log("获取排序号");
          console.log(rsp);
          this.storeCategoryName = rsp.data.data.storeCategoryName;
          this.asortData.sort = rsp.data.data.sort;
        });
    },
    /**@function 搜索名称/编号/品牌 */
    searchVal1() {
      console.log(this.val1);
      this.query.searchName = this.val1;
      this.getGoodsDetail();
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    },
    // 修改排序号
    save(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$http
            .get(this.$api.updateStoreGoodsCategorySort, {
              params: {
                storeGoodsCategoryId: this.$route.params.storeGoodsCategoryId,
                sort: this.asortData.sort
              }
            })
            .then(rsp => {
              console.log("获取保存状态");
              console.log(rsp);
              if (rsp.data.flag == true) {
                this.$message({
                  type: "success",
                  message: "保存成功"
                });
              } else {
                this.$message({
                  type: "error",
                  message: "保存失败"
                });
              }
            });
        } else {
          this.$message({
            type: "error",
            message: "请按要求填写。"
          });
          return false;
        }
      });
    },
    add() {},
    Delete() {
      this.$router.push("/recommendation/asort/goods");
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      console.log(rowIndex);
      console.log(columnIndex);
      if (columnIndex === 0) {
        if (rowIndex % 2 === 0) {
          return {
            rowspan: 2,
            colspan: 1
          };
        } else {
          return {
            rowspan: 0,
            colspan: 0
          };
        }
      }
    }
  },
  created() {
    this.getChannelGoods();
    this.getStoreGoodsCategorySort();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
</style>