<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="btn-group">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addGoods">新增商品</el-button>
        <!--<el-button icon="el-icon-upload2" class="purple-bg  up-btn">导入商品-->
        <!--<input id="upload" type="file" @change="importfxx(this)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class='file-upload'>-->
        <!--</el-button>-->
        <!--<el-button type="text" icon="el-icon-download" class="purple-txt">下载模板</el-button>-->

      </div>

      <div class="search-group">
        <el-input placeholder="搜索商品名称/编号/品牌" prefix-icon="el-icon-search" class="search-input mt5 mb5"
                  v-model.trim="val1" @keyup.enter.native="searchVal1" @blur="searchVal1" clearable>
        </el-input>

        <el-cascader class="mt5 mb5" clearable placeholder="选择分类" expand-trigger="click" :options="sortOptions"
                     v-model="val4" @change="selectVal4" change-on-select>
        </el-cascader>

        <el-select class="mt5 mb5" v-model="goods_status" filterable clearable placeholder="选择商品状态" @change="selectStatus">
          <el-option v-for="item in statusOptions" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <!--<el-select class="mt5 mb5" v-model="val6" filterable clearable placeholder="选择审核状态" @change="selectVal6">-->
          <!--<el-option v-for="item in val6Options" :key="item.value" :label="item.label" :value="item.value">-->
          <!--</el-option>-->
        <!--</el-select>-->
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%"
                @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="title" label="名称">
        </el-table-column>
        <el-table-column label="图片" width="150">
          <template slot-scope="scope">
            <img :src="scope.row.images" width="52" height="52"/>
          </template>
        </el-table-column>
        <el-table-column prop="goods_num" label="编号">
        </el-table-column>
        <el-table-column prop="brand" label="品牌">
        </el-table-column>
        <el-table-column prop="categoryName" label="分类">
        </el-table-column>
        <!--<el-table-column prop="originalPrice" label="原价(元)">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="sellingPrice" label="销售价(元)">-->
        <!--</el-table-column>-->
        <!--<el-table-column prop="inventory" label="库存量(件)">-->
        <!--</el-table-column>-->
        <el-table-column prop="isUp" label="销售状态">
          <template slot-scope="scope">
            {{ scope.row.up_time | changeIsUp }}
          </template>
        </el-table-column>
        <el-table-column prop="weight" label="重量">
        </el-table-column>
        <el-table-column prop="express_price" label="邮费">
        </el-table-column>

        <el-table-column label="操作" width="140px">
          <template slot-scope="scope">
            <el-button @click="checkgoods(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看
            </el-button>
            <el-button v-if=" scope.row.isUp == '0' && scope.row.goodsAudit==2" type="text" size="small"
                       class="purple-txt" ref @click="toggle(scope.row,$event)">上架
            </el-button>
            <el-button v-if=" scope.row.isUp == '1'  && scope.row.goodsAudit==2" type="text" size="small"
                       class="orange-txt" ref @click="toggle(scope.row,$event)">下架
            </el-button>
            <el-button type="text" size="small" class="orange-txt" @click="edit(scope.row)">修改</el-button>
          </template>
        </el-table-column>

      </el-table>

      <!--<div style="margin-top: 20px">-->
        <!--<el-button class="purple-bg" @click="upSelect">批量上架</el-button>-->
        <!--<el-button class="orange-bg" @click="downSelect">批量下架</el-button>-->
        <!--<div class="pagination">-->
          <!--<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"-->
                         <!--:current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize"-->
                         <!--layout="total, sizes, prev, pager, next, jumper" :total="total">-->
          <!--</el-pagination>-->
        <!--</div>-->
      <!--</div>-->

    </div>

  </div>
</template>

<script>
  export default {
    filters: {
      changeIsUp: function (value) {
        if (value == 10) {
          return "销售中";
        } else if(value == 30){
          return "已下架";
        } else{
          return "即将上架";
        }
      },
      changeGoodsAudit: function (value) {
        if (value == 2) {
          return "通过";
        } else if (value == 3) {
          return "驳回";
        } else {
          return "未审核";
        }
      }
    },
    data() {
      return {
        goods_status:1,
        val1: "",
        val2: "",
        val3: "",
        val4: [],
        val5: "",
        val6: "",
        statusOptions: [
          {
            value: 1,
            label: "全部"
          },
          {
            value: 10,
            label: "已上架"
          },
          {
            value: 30,
            label: "已下架"
          },
          {
            value: 20,
            label: "已售罄"
          },
        ],
        //分类下拉选项
        sortOptions: [
          {
            value: "1",
            label: "上架"
          },
          {
            value: "0",
            label: "下架"
          }
        ],
        total: 0,
        pages: 0,
        multipleSelection: [],
        options: [
          {
            value: "0",
            label: "不可用"
          }
        ],
        value8: "",

        tableData: []
      };
    },
    methods: {
      /**@function 获取商品列表 */
      getGoodsData() {
        var self=this
        this.$http.get(this.$api.findGoodsListPage, {params: {shop_id: this.shop_id,goods_status:this.goods_status}}).then(rsp => {
          console.log("获取商品列表");
          console.log(rsp);
          // 补全图片路径
          rsp.data.data.goods_list.forEach(function (o) {
              o.images= self.$imgApi+ o.images.split(',')[0];

          });
          this.tableData = rsp.data.data.goods_list;
          this.total = rsp.data.data.total;

        });
      },
      /**@function 获取分类下拉列表 */
      getCategoryData() {
        this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
          let orData = rsp.data.data;
          var toget = function (orData) {
            var data = orData;
            var arrl = orData.length;
            var arr = [];
            for (var i = 0; i < arrl; i++) {
              //一级
              var obj1 = {};
              obj1.value = data[i].goodsCategoryId;
              obj1.label = data[i].goodsCategoryName;
              if (data[i].childCategoryList) {
                //是否有2级
                obj1.childrentemp = data[i].childCategoryList;
                obj1.children = [];
                for (var j = 0; j < obj1.childrentemp.length; j++) {
                  var obj2 = {};
                  obj2.children = [];
                  obj2.value = obj1.childrentemp[j].goodsCategoryId;
                  obj2.label = obj1.childrentemp[j].goodsCategoryName;
                  obj1.children.push(obj2);
                  // obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                  if (obj1.childrentemp[j].childCategoryList) {
                    //是否有3级
                    obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                    for (var k = 0; k < obj2.childrentemp.length; k++) {
                      var obj3 = {};
                      obj3.value = obj2.childrentemp[k].goodsCategoryId;
                      obj3.label = obj2.childrentemp[k].goodsCategoryName;
                      obj2.children.push(obj3);
                    }
                  }
                }
                arr[i] = obj1;
              } else {
                arr[i] = obj1;
              }
            }
            return arr;
          };
          var arr = toget(orData);
          console.log("生成分类数据");
          console.log(arr);

        });
      },
      /**@function 搜索商品名称/编号/品牌 */
      searchVal1() {
        this.query.name = this.val1;
        this.getGoodsData();
      },
      /**@function 选择分类 */
      selectVal4() {
        let l = this.val4.length;
        this.query.goodsCategoryId = this.val4[l - 1];
        this.getGoodsData();
      },
      /**@function 选择销售状态 */
      selectStatus(res) {
        console.log(res);
        this.goods_status = res;
        this.getGoodsData();
      },
      /**@function 启用停用 */
      toggle(row, e) {
        if (row.isUp == "1") {
          this.$confirm("是否下架该商品？(注意：下架后商品将无法销售!)", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              let params = {};
              console.log("下架商品");
              params.goodsIds = row.goodsId;
              params.goodsStatus = 0;
              this.$http
                .get(this.$api.updateGoodsIsUp, {
                  params: params
                })
                .then(rsp => {
                  this.$isot(rsp); //登录超时处理函数
                  if (rsp.data.flag) {
                    this.getGoodsData();
                    this.$message({
                      type: "success",
                      message: "下架商品成功!"
                    });
                  }
                });
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消 [下架] 操作"
              });
            });
        } else {
          let params = {};
          console.log("上架商品");
          params.goodsIds = row.goodsId;
          params.goodsStatus = 1;
          this.$http
            .get(this.$api.updateGoodsIsUp, {
              params: params
            })
            .then(rsp => {
              this.$isot(rsp); //登录超时处理函数
              if (rsp.data.flag) {
                this.getGoodsData();
                this.$message({
                  type: "success",
                  message: "上架商品成功!"
                });
              }
            });
        }
      },
      /**@function 批量上架 */
      upSelect() {
        let flag = true;
        this.multipleSelection.forEach((v, i) => {
          if (v.goodsAudit != 2) {
            flag = false;
          }
        });
        if (this.multipleSelection.length && flag) {
          this.$confirm("是否上架选中商品？", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              let params = {};
              params.goodsIds = [];
              console.log("上架选中商品1");
              for (let i = 0; i < this.multipleSelection.length; i++) {
                params.goodsIds.push(this.multipleSelection[i].goodsId);
              }
              params.goodsIds = params.goodsIds.join(",");
              params.goodsStatus = 1;
              this.$http
                .get(this.$api.updateGoodsIsUp, {
                  params: params
                })
                .then(rsp => {
                  if (rsp.data.flag) {
                    this.getGoodsData();
                    this.$message({
                      type: "success",
                      message: "上架选中商品成功!"
                    });
                  }
                });
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消 [上架] 操作"
              });
            });
        } else {
          if (!flag) {
            this.$message({
              type: "error",
              message: "所选的商品审核状态必须为通过！"
            });
          } else {
            this.$message({
              type: "error",
              message: "当前未选中任何行！"
            });
          }
        }
      },
      /**@function 批量下架 */
      downSelect() {
        let flag = true;
        this.multipleSelection.forEach((v, i) => {
          if (v.goodsAudit != 2) {
            flag = false;
          }
        });
        if (this.multipleSelection.length && flag) {
          this.$confirm("是否下架选中商品？", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              let params = {};
              params.goodsIds = [];
              for (let i = 0; i < this.multipleSelection.length; i++) {
                params.goodsIds.push(this.multipleSelection[i].goodsId);
              }
              params.goodsStatus = 0;
              params.goodsIds = params.goodsIds.join(",");
              console.log(params);
              this.$http
                .get(this.$api.updateGoodsIsUp, {
                  params: params
                })
                .then(rsp => {
                  this.$isot(rsp); //登录超时处理函数
                  if (rsp.data.flag) {
                    this.getGoodsData();
                    this.$message({
                      type: "success",
                      message: "下架选中商品成功!"
                    });
                  }
                });
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消 [下架] 操作"
              });
            });
        } else {
          if (!flag) {
            this.$message({
              type: "error",
              message: "所选的商品审核状态必须为通过！"
            });
          } else {
            this.$message({
              type: "error",
              message: "当前未选中任何行！"
            });
          }
        }
      },
      /**@function 查看商品 */
      checkgoods(row, $index) {
          console.log(row);
        console.log("跳转商品详情页，id ↓");
        console.log(row.goods_id);
        this.$router.push({
          name: "gc",
          params: {id: row.goods_id, query: this.query}
        });
      },
      /**@function 修改商品 */
      edit(row) {
        console.log("跳转商品详情页，id ↓");
        console.log(row.goodsId);
        this.$router.push({
          name: "ge",
          params: {id: row.goodsId, query: this.query}
        });
      },
      /**@function 选择行 */
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      /**@function 分页 */
      handleSizeChange(pageSize) {
        this.query.pageSize = pageSize;
        this.getGoodsData();
      },
      /**@function 分页 */
      handleCurrentChange(pageNum) {
        this.query.pageNum = pageNum;
        this.getGoodsData();
      },
      /**@function 新增商品 */
      addGoods() {
        this.$router.push("/goods/addgoods");
      }
    },
    created() {
      console.log('shop_id');
      console.log(window.sessionStorage.getItem('shop_id'));
      var shop_id = window.sessionStorage.getItem('shop_id');
      this.shop_id = shop_id;
      this.getGoodsData();
    }
  };
</script>

<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }

  .pagination {
    float: right;
  }

  .up-btn {
    position: relative;
  }

  .file-upload {
    //   background: #4d6cf3;
    position: absolute;
    background: red;
    color: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .hover_show {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: block;
    border: 4px solid rgba(77, 108, 243, 0.8);
    border-radius: 4px;
  }

  .hover_hide {
    display: none;
  }
</style>
