1
<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">
      <div class="btn-group">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addCategory">新增分类</el-button>
      </div>
      <div class="search-group select_width">
        <!-- <el-select v-model="val1" clearable @change="selectVal1" filterable placeholder="选择分类" class="search-select mb10">
          <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select> -->
        <el-select v-model="val2" clearable @change="selectVal2" filterable placeholder="选择显示状态"
                   class="search-select mb10">
          <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号" width="200">
        </el-table-column>
        <el-table-column prop="name" label="分类名称">
        </el-table-column>
        <el-table-column prop="image" label="分类图标">
          <template slot-scope="scope">
            <img :src="scope.row.image" alt="" width="100px">
          </template>
        </el-table-column>
        <!-- <el-table-column prop="isUp" label="显示状态">
          <template slot-scope="scope">
              {{ scope.row.isUp | changeIsUp }}
          </template>
        </el-table-column> -->
        <el-table-column prop="index" sortable label="排序号">
          <!--<template slot-scope="scope">-->
            <!--<el-input v-model="scope.row.index" disabled placeholder="999" @keyup.enter.native="changeSort(scope.row)"-->
                      <!--@blur="changeSort(scope.row)" style="width: 80px"></el-input>-->
          <!--</template>-->
        </el-table-column>

        <el-table-column label="操作" width="220">
          <template slot-scope="scope">
            <el-button @click="editCategory(scope.row)" type="text" size="small" class="purple-txt">修改</el-button>
            <el-button @click="editGoods(scope.row)" type="text" size="small" class="purple-txt">编辑商品</el-button>
            <el-button @click="deleteCategory(scope.row)" type="text" size="small" class="orange-txt">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- <div style="margin-top: 20px;height:40px;">
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div> -->
      <el-dialog title="编辑商品" :visible.sync="dialogTableVisible" style="width: 100%">
        <el-table :data="allGoods" ref="multipleTable" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55">
          </el-table-column>
          <el-table-column prop="title" label="名称">
          </el-table-column>
          <el-table-column label="图片" width="120">
            <template slot-scope="scope">
              <img :src="scope.row.images" width="52" height="52"/>
            </template>
          </el-table-column>
          <el-table-column prop="goods_num" label="编号">
          </el-table-column>
          <el-table-column prop="brand" label="品牌">
          </el-table-column>
          <el-table-column prop="categoryName" label="分类">
          </el-table-column>
          <el-table-column prop="isUp" label="销售状态">
            <template slot-scope="scope">
              {{ scope.row.up_time | changeIsUp }}
            </template>
          </el-table-column>
          <el-table-column prop="weight" label="重量">
          </el-table-column>
          <el-table-column prop="express_price" label="邮费">
          </el-table-column>
        </el-table>
        <el-button @click="save" class="purple-bg mt20" >保存</el-button>
        <el-button @click="close" class="orange-bg mt20" >关闭</el-button>
      </el-dialog>
    </div>
  </div>
</template>

<script>
  export default {
    filters: {
      changeIsUp: function (value) {
        if (value == 1) {
          return "显示";
        } else {
          return "隐藏";
        }
      }
    },
    data() {
      return {
        shop_id: '',
        Num: "",
        asortName: "",
        showState: "",
        sortNum: "",
        val1: "",
        val2: "",
        options1: [],
        options2: [
          {
            label: "显示",
            value: 1
          },
          {
            label: "隐藏",
            value: 0
          }
        ],
        tableData: [],
        query: {
          pageNum: 1,
          pageSize: 20
        },
        category_id:'',
        dialogTableVisible: false,
        categoryGoods: [],
        allGoods:[],
        multipleSelection:[],

        currentPage: 1
      };
    },
    methods: {
      // 获取分类列表
      getCategoryListPage() {
        this.$http.get(this.$api.findCategoryListPage, {
          params: {shop_id: this.shop_id}
        })
          .then(rsp => {
            console.log("获取分类列表");
            console.log(rsp);
            this.tableData = rsp.data.data.category_list;
          });
      },
      /**@function 获取商品列表 */
      getGoodsData() {
        var self=this
        this.$http.get(this.$api.findGoodsListPage, {params: {shop_id: this.shop_id,goods_status:1}}).then(rsp => {
          console.log("获取商品列表");
          console.log(rsp);
          // 补全图片路径
          rsp.data.data.goods_list.forEach(function (o) {
            o.images= self.$imgApi+ o.images.split(',')[0];

          });
          this.allGoods = rsp.data.data.goods_list;

        });
      },
      /**@function 搜索商户分类id */
      selectVal1() {
        this.query.storeCategoryId = this.val1;
        this.getStoreCategoryListPage();
      },
      /**@function 选择是否上线 */
      selectVal2() {
        console.log(this.val2);
        this.query.isUp = this.val2;
        this.getStoreCategoryListPage();
      },
      /**@function 选择行 */
      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log(val);
        console.log(this.allGoods);
      },
      /**@function 分页 */
      handleSizeChange(pageSize) {
        this.query.pageSize = pageSize;
        this.getGoodsData();
      },
      /**@function 分页 */
      handleCurrentChange(pageNum) {
        this.query.pageNum = pageNum;
        this.getGoodsData();
      },

      // 新增分类
      addCategory() {
        this.$router.push({name: 'aa'})

      },
      // 修改分类
      editCategory(row) {
        console.log(row);
        this.$router.push({
          name: "aa",
          params: {
            category_id: row.category_id
          }
        });
      },

      //编辑商品
      editGoods(row) {
        console.log(row);
        this.category_id=row.category_id
        var self=this;
        this.dialogTableVisible = true;
        this.$http.get(this.$api.getCategoryGoods, {
          params: {
            shop_id: this.shop_id,
            category_id: row.category_id
          }
        })
          .then(rsp => {
            console.log("通过分类ID获取绑定商品");
            console.log(rsp);
            var categoryGoods = rsp.data.data.goods_list;
            self.$refs.multipleTable.clearSelection();
            this.allGoods.forEach(function (o) {
              console.log(categoryGoods.indexOf(o));
              if(categoryGoods.indexOf(o)!=-1) {
                self.$refs.multipleTable.toggleRowSelection(o);
                self.multipleSelection.push(o)
              }
            });
            console.log(this.allGoods);
          });
      },
      // 保存编辑商品
      save(){
        console.log(this.multipleSelection);
        var goods_ids='';
        this.multipleSelection.forEach(function (o) {
          goods_ids= o.goods_id+goods_ids+','
        })
        let postData = this.$qs.stringify({
          category_id: this.category_id,
          shop_id: this.shop_id,
          goods_ids: goods_ids
        });
        this.$http.post(this.$api.bindCategoryGoods, postData).then(rsp => {
          console.log("绑定分类商品");
          console.log(rsp);

        });
      },

      // 关闭弹框
      close(){
        this.dialogTableVisible = false;
      },
      // 删除分类
      deleteCategory(row) {
        console.log(row)
        this.$confirm('确认删除此分类?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let postData = this.$qs.stringify({
            c_id: row.category_id,
            shop_id: this.shop_id
          });
          this.$http.post(this.$api.deleteCategory, postData).then(rsp => {
            console.log('删除分类')
            console.log(rsp)
            if (rsp.data.result == 0) {
              this.$message.success('删除成功')
              this.getCategoryListPage()
            } else {
              this.$message.error('删除失败')
            }
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });

      }

    },
    created() {
      console.log('shop_id');
      console.log(window.sessionStorage.getItem('shop_id'));
      var shop_id = window.sessionStorage.getItem('shop_id');
      this.shop_id = shop_id;
      this.getCategoryListPage();
      this.getGoodsData()
    }
  };
</script>

<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }

  .pagination {
    float: right;
  }

  .up-btn {
    position: relative;
  }

  .file-upload {
    //   background: #4d6cf3;
    position: absolute;
    background: red;
    color: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .select_width {
    .el-cascader {
      width: 240px;
    }
  }
</style>
