<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="search-group">
        <el-input v-model="val1" clearable @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="搜索商品名称/编号/品牌" prefix-icon="el-icon-search" class="search-input mb10">
        </el-input>
        <el-cascader class="mb10" clearable placeholder="选择分类" expand-trigger="click" :options="options2" v-model="val2" @change="selectVal2" :change-on-select="false">
        </el-cascader>
        <!-- <el-select class="mb10" v-model="val3" clearable @change="selectVal3" filterable placeholder="选择品牌">
          <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select> -->

        <el-select class="mb10" v-model="val4" clearable @change="selectVal4" filterable placeholder="选择添加状态">
          <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="index" label="序号" width="55">
        </el-table-column>
        <el-table-column prop="goodsName" label="商品名称">
        </el-table-column>
        <el-table-column prop="goodsCode" label="编号">
        </el-table-column>
        <el-table-column prop="goodsBrandName" label="品牌">
        </el-table-column>
        <el-table-column prop="categoryName" label="分类">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="isUp" label="销售状态">
          <template slot-scope="scope">
            {{ scope.row.isUp | changeIsUp }}
          </template>
        </el-table-column>
        <el-table-column prop="hasAddChannel" label="添加状态">
          <template slot-scope="scope">
            {{ scope.row.hasAddChannel | changeHasAdd }}
          </template>
        </el-table-column>
        <el-table-column prop="goodsAudit" label="审核状态">
          <template slot-scope="scope">
            {{ scope.row.goodsAudit | changeGoodsAudit }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="140">
          <template slot-scope="scope">
            <el-button @click="check(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button v-if="scope.row.hasAddChannel==0&&scope.row.isUp==1" @click="edit(scope.row,scope.$index)" type="text" size="small" class="purple-txt">编辑推荐信息</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="mt20">
        <el-button type="text" size="small"></el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100, 200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>
    <el-button class="orange-bg mt20" @click="goBack">返回</el-button>
  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    },
    changeHasAdd: function(value) {
      if (value == 1) {
        return "已添加";
      } else {
        return "未添加";
      }
    },
    changeGoodsAudit: function(value) {
      if (value == 2) {
        return "通过";
      } else if (value == 3) {
        return "驳回";
      } else {
        return "未审核";
      }
    }
  },
  data() {
    return {
      showDialog: false,
      val1: "", //搜索商品名称/编号
      val2: [], //选择分类
      val3: "", //选择品牌
      val4: "", //选择店铺
      options2: [
        //分类选项
      ],
      options3: [
        //品牌选项
      ],
      options4: [
        //添加状态选项
        {
          value: "0",
          label: "未添加"
        },
        {
          value: "1",
          label: "已添加"
        }
      ],
      multipleSelection: [],
      total: 0,
      pages: 0,
      query: {
        pageNum: 1,
        pageSize: 20,
        name: "",
        goodsCategoryId: "",
        isUp: "",
        goodsAudit: "",
        hasAddChannel: ""
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取商品列表 */
    getGoodsData() {
      this.$http
        .get(this.$api.findGoodsListPage, { params: this.query })
        .then(rsp => {
          console.log("获取商品列表");
          console.log(rsp);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 获取分类下拉列表 */
    getCategoryData() {
      this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
        let orData = rsp.data.data;
        var toget = function(orData) {
          var data = orData;
          var arrl = orData.length;
          var arr = [];
          for (var i = 0; i < arrl; i++) {
            //一级
            var obj1 = {};
            obj1.value = data[i].goodsCategoryId;
            obj1.label = data[i].goodsCategoryName;
            if (data[i].childCategoryList) {
              //是否有2级
              obj1.childrentemp = data[i].childCategoryList;
              obj1.children = [];
              for (var j = 0; j < obj1.childrentemp.length; j++) {
                var obj2 = {};
                obj2.children = [];
                obj2.value = obj1.childrentemp[j].goodsCategoryId;
                obj2.label = obj1.childrentemp[j].goodsCategoryName;
                obj1.children.push(obj2);
                // obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                if (obj1.childrentemp[j].childCategoryList) {
                  //是否有3级
                  obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                  for (var k = 0; k < obj2.childrentemp.length; k++) {
                    var obj3 = {};
                    obj3.value = obj2.childrentemp[k].goodsCategoryId;
                    obj3.label = obj2.childrentemp[k].goodsCategoryName;
                    obj2.children.push(obj3);
                  }
                }
              }
              arr[i] = obj1;
            } else {
              arr[i] = obj1;
            }
          }
          return arr;
        };
        var arr = toget(orData);
        console.log("生成分类数据");
        console.log(arr);
        this.options2 = arr;
      });
    },
    /**@function 搜索商品名称/编号/品牌*/
    searchVal1() {
      this.query.name = this.val1;
      this.getGoodsData();
    },
    /**@function 选择分类 */
    selectVal2() {
      let l = this.val2.length;
      this.query.goodsCategoryId = this.val2[l - 1];
      this.getGoodsData();
    },
    // /**@function 选择品牌 */
    // selectVal3() {
    //   this.query.isUp = this.val3;
    //   this.getGoodsData();
    // },
    /**@function 选择添加状态 */
    selectVal4() {
      this.query.hasAddChannel = this.val4;
      this.getGoodsData();
    },

    /**@function 查看*/
    check(row, $index) {
      console.log(row);
      console.log("跳转查看，id ↓");
      //   console.log(row.goodsId);
      //   console.log(row.storeId);
      this.$router.push({
        name: "gc",
        params: { id: row.goodsId, query: this.query }
      });
    },
    /**@function 编辑*/
    edit(row, $index) {
      console.log(row);
      if (row.hasAddChannel == 0) {
        this.$router.push({
          name: "raa",
          params: { id: row.goodsId, query: this.query }
        });
      } else if (row.hasAddChannel == 1) {
        this.$router.push({
          name: "rae",
          params: { id: row.goodsId, query: this.query }
        });
      } else {
        this.$messege.error("商品出问题啦~暂时无法编辑推荐信息~");
      }
    },
    /**@function 选择行 */
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getGoodsData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getGoodsData();
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    }
  },
  created() {
    this.getGoodsData();
    this.getCategoryData();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}

.up-btn {
  position: relative;
}

.file-upload {
  //   background: #4d6cf3;
  position: absolute;
  background: red;
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
</style>