<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content  mb20">
      <div class="content-title">商品基本信息</div>
      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">商品名称：{{goodsData.goodsName}}</div>
          <div class="p10">商品编号：{{goodsData.goodsCode}}</div>
          <div class="p10">商品库存：{{goodsData.inventory}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">商品品牌：{{goodsData.goodsBrandName}}</div>
          <div class="p10">商品分类：{{goodsData.goodsCategoryName}}</div>
          <div class="p10">商品价格（元）：{{goodsData.sellingPrice}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">设置推荐截止时间</div>
      <span>截止时间:</span>
      <el-date-picker v-model="endTime" type="date" value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择截止时间">
      </el-date-picker>
    </div>

    <div class="content  mb20">
      <div class="content-title">设置佣金比例</div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="60px">
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item v-if="levelNames[0]" :label="levelNames[0]" prop="v1">
              <el-input @input="setAll" v-model="ruleForm.v1" class="p10 w120"> </el-input>%(￥{{ Math.floor(ruleForm.v1/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[2]" :label="levelNames[2]" prop="v3">
              <el-input @input="setAll" v-model="ruleForm.v3" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v3/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[4]" :label="levelNames[4]" prop="v5">
              <el-input @input="setAll" v-model="ruleForm.v5" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v5/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[6]" :label="levelNames[6]" prop="v7">
              <el-input @input="setAll" v-model="ruleForm.v7" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v7/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>

          </el-col>
          <el-col :span="6" :offset="5">
            <el-form-item v-if="levelNames[1]" :label="levelNames[1]" prop="v2">
              <el-input @input="setAll" v-model="ruleForm.v2" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v2/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[3]" :label="levelNames[3]" prop="v4">
              <el-input @input="setAll" v-model="ruleForm.v4" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v4/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[5]" :label="levelNames[5]" prop="v6">
              <el-input @input="setAll" v-model="ruleForm.v6" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v6/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[7]" :label="levelNames[7]" prop="v8">
              <el-input @input="setAll" v-model="ruleForm.v8" class="p10 w120"> </el-input>%(￥{{Math.floor(ruleForm.v8/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
          </el-col>
        </el-row>
        <!-- <el-button @click="setAll" class="purple-bg">统一设置佣金比例</el-button> -->
      </el-form>
    </div>

    <div class="content  mb20">
      <div class="content-title">商品属性</div>
      <el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="specName1" :label="attrName[0].attributeName">
        </el-table-column>
        <el-table-column v-if="attrName[1]" prop="specName2" :label="attrName[1].attributeName">
        </el-table-column>
        <el-table-column v-if="attrName[2]" prop="specName3" :label="attrName[2].attributeName">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="commissionLevelsTemp" label="*佣金比例">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row,scope.$index)" type="text" size="small" class="orange-txt">编辑佣金</el-button>
          </template>
        </el-table-column>
      </el-table>

    </div>

    

    <!-- <div class="content mt20"> -->
    <div class="content mt20" v-if="saveFlag==true">
      <div class="content-title">推荐文案</div>
      <div class="mt10 mb10">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addContent">新增文案</el-button>
      </div>
      <div class="mt10 mb10">
        <el-select class="mt5 mb5" v-model="val1" filterable clearable placeholder="选择显示状态" @change="selectVal1">
          <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table :data="tableDataOfContent" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号">
        </el-table-column>
        <el-table-column prop="documentContent" label="文案内容">
        </el-table-column>
        <el-table-column prop="isUp" label="显示状态">
          <template slot-scope="scope">
            {{scope.row.isUp|changeIsUp}}
          </template>
        </el-table-column>
        <el-table-column prop="sort" label="排序号" width="120">
          <template slot-scope="scope">
            <el-input placeholder="999" @keyup.enter.native="editSort(scope.row)" @blur="editSort(scope.row)" v-model="scope.row.sort"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作" width="120">
          <template slot-scope="scope">
            <el-button @click="change(scope.row,scope.$index)" type="text" size="small" class="orange-txt">修改</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="queryOfContent.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="queryOfContent.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

    <el-button v-if="!saveFlag" @click="save" class="purple-bg mt10">保 存</el-button>
    <el-button @click="goBack" class="orange-bg mt10">返 回</el-button>

    <!-- 编辑佣金弹出框 -->
    <el-dialog title="编辑属性佣金" :visible.sync="showDialog">

      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">商品名称：{{goodsData.goodsName}}</div>
          <div class="p10">销售价（元）：{{FormDialogRow.sellingPrice}}</div>
          <div class="p10">库存量：{{FormDialogRow.inventory}}</div>

        </el-col>
        <el-col :span="13">
          <div class="p10">{{attrName[0].attributeName}}：{{FormDialogRow.specName1}}</div>
          <div v-if="attrName[1]" class="p10">{{attrName[1].attributeName}}：{{FormDialogRow.specName2}}</div>
          <div v-if="attrName[2]" class="p10">{{attrName[2].attributeName}}：{{FormDialogRow.specName3}}</div>
        </el-col>
      </el-row>
      <hr/>
      <div style="font-size: 18px !important;padding-bottom:30px">设置佣金比例</div>
      <el-form :model="FormDialog" :rules="rules" ref="FormDialog" label-width="60px">
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item v-if="levelNames[0]" :label="levelNames[0]" prop="v1">
              <el-input v-model="FormDialog.commissionRate1" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate1/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[2]" :label="levelNames[2]" prop="v1">
              <el-input v-model="FormDialog.commissionRate3" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate3/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[4]" :label="levelNames[4]" prop="v1">
              <el-input v-model="FormDialog.commissionRate5" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate5/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[6]" :label="levelNames[6]" prop="v1">
              <el-input v-model="FormDialog.commissionRate7" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate7/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>

          </el-col>
          <el-col :span="10" :offset="4">
            <el-form-item v-if="levelNames[1]" :label="levelNames[1]" prop="v1">
              <el-input v-model="FormDialog.commissionRate2" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate2/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[3]" :label="levelNames[3]" prop="v1">
              <el-input v-model="FormDialog.commissionRate4" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate4/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[5]" :label="levelNames[5]" prop="v1">
              <el-input v-model="FormDialog.commissionRate6" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate6/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
            <el-form-item v-if="levelNames[7]" :label="levelNames[7]" prop="v1">
              <el-input v-model="FormDialog.commissionRate8" class="p10 w120"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate8/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- <div> -->
        <el-button @click="saveDialog" class="purple-bg">保 存</el-button>
        <el-button @click="cancelDialog" class="orange-bg">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 新增文案弹出框 -->
    <el-dialog title="新增文案" :visible.sync="showDialogOfAdd">
      <el-form :model="formOfAdd" label-position="left" ref="content" label-width="100px">
        <el-row>
          <el-col>
            <el-form-item label="文案内容" prop="name">
              <el-input type="textarea" :autosize="{ minRows: 6, maxRows: 10}" v-model="formOfAdd.content" placeholder="请输入内容"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="display:none">
          <el-col :span="8">
            <el-form-item label="">
              <el-input></el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="saveDialogOfAdd" class="purple-bg">保 存</el-button>
        <el-button @click="cancelDialogOfAdd" class="orange-bg">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 修改文案弹出框 -->
    <el-dialog title="修改文案" :visible.sync="showDialogOfEdit">
      <el-form :model="formOfEdit" label-position="left" ref="showDialogOfEdit" label-width="100px">
        <el-row>
          <el-col>
            <el-form-item label="文案内容" prop="name">
              <el-input type="textarea" :autosize="{ minRows: 6, maxRows: 10}" v-model="formOfEdit.documentContent"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="排序号">
              <el-input v-model="formOfEdit.sort"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item prop="isShow" label="显示状态">
            <el-switch v-model="formOfEdit.isUp">
            </el-switch>
          </el-form-item>
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="saveDialogOfEdit" class="purple-bg">保 存</el-button>
        <!-- <el-button @click="delDialogOfEdit" class="orange-bg">删 除</el-button> -->
        <el-button @click="cancelDialogOfEdit" class="orange-bg">返 回</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "显示";
      } else {
        return "不显示";
      }
    }
  },
  data() {
    return {
      channelGoodsId: "",
      saveFlag: false,
      val1: "",
      options1: [{ value: 0, label: "不显示" }, { value: 1, label: "显示" }],
      total: 0,
      queryOfContent: {
        pageNum: 1,
        pageSize: 20,
        channelGoodsId: "",
        isUp: ""
      },
      tableDataOfContent: [],
      endTime: "",
      rowIndex: 0,
      setAllFlag: false,
      cl: 1, //等级数
      levelNames: [],
      commissionLevel: [],
      showDialog: false,
      showDialogOfAdd: false,
      formOfAdd: {
        channelGoodsId: "",
        content: ""
      },
      showDialogOfEdit: false,
      formOfEdit: {
        channelGoodsDocumentId: "",
        documentContent: "",
        sort: "",
        isUp: true
      },
      goodsData: [],
      query: {
        pageNum: 1,
        pageSize: 10
      },
      attrName: [],
      tableData: [],
      ruleForm: {
        v1: "",
        v2: "",
        v3: "",
        v4: "",
        v5: "",
        v6: "",
        v7: "",
        v8: ""
      },
      FormDialog: {},
      FormDialogRow: {},
      rules: {}
    };
  },
  methods: {
    /**@function 获取商品详情 */
    getGoodsDetail() {
      let goodsId = this.$route.params.id;
      this.$http.get(this.$api.findGoods + `?goodsId=${goodsId}`).then(rsp => {
        console.log("获取商品详情");
        console.log(rsp.data);
        this.goodsData = rsp.data.data;
        this.attrName = this.goodsData.goodsAttributeDtos;
        this.tableData = this.goodsData.goodsSkuDtos;
        this.tableData.forEach((v, i) => {
          v.commissionLevelsTemp = "";
          v.commissionLevels = {};
        });
        this.setAllFlag = true;
      });
    },
    /**@function 获取佣金等级 */
    getCommissionLevel() {
      this.$http.get(this.$api.findChannelCommissionRateConfList).then(rsp => {
        console.log("获取佣金等级");
        console.log(rsp.data);
        this.commissionLevel = rsp.data.data;
        this.commissionLevel.forEach((v, i) => {
          this.levelNames.push(v.levelName);
        });

        this.cl = this.levelNames.length;
        console.log("this.cl==========" + this.cl);
        // this.attrName = this.goodsData.goodsAttributeDtos;
        // this.tableData = this.goodsData.goodsSkuDtos;
      });
    },
    //===================文案部分开始==========================

    /**@function 获取文案列表 */
    getContentData() {
      console.log("获取文案列表");
      this.queryOfContent.channelGoodsId = this.channelGoodsId;
      this.$http
        .get(this.$api.findChannelGoodsDocumentListPage, {
          params: this.queryOfContent
        })
        .then(rsp => {
          if (rsp.data.flag && rsp.data.data) {
            this.tableDataOfContent = rsp.data.data.list;
            this.total = rsp.data.data.total;
          } else {
            this.$message.error(rsp.data.msg);
            this.tableData = [];
            this.total = 0;
          }
        });
    },
    /**@function 新增文案 */
    addContent() {
      console.log("新增文案");
      this.showDialogOfAdd = true;
    },
    /**@function 修改文案排序号 */
    editSort(row) {
      console.log("修改文案排序号");
      let params = {};
      params.channelGoodsDocumentId = row.channelGoodsDocumentId;
      params.sort = row.sort;
      this.$http
        .get(this.$api.updateChannelGoodsDocumentSort, {
          params: params
        })
        .then(rsp => {
          if (rsp.data.flag) {
            this.getContentData();
            this.$message({
              type: "success",
              message: "修改排序号成功!"
            });
          } else {
            this.$message({
              type: "error",
              message: rsp.data.msg
            });
          }
        });
    },
    /**@function 选择显示状态 */
    selectVal1() {
      console.log("选择显示状态");
      this.queryOfContent.isUp = this.val1;
      this.getContentData();
    },
    /**@function 修改文案按钮 */
    change(row, i) {
      console.log("修改文案按钮");
      this.showDialogOfEdit = true;
      let tempForm = row;
      if (tempForm.isUp == 1) {
        tempForm.isUp = true;
      } else {
        tempForm.isUp = false;
      }
      this.formOfEdit = tempForm;
      console.log(this.formOfEdit);
    },
    /**@function 新增文案_保存按钮 */
    saveDialogOfAdd() {
      console.log("新增文案_保存按钮");
      this.formOfAdd.channelGoodsId = this.channelGoodsId;
      console.log(this.formOfAdd);
      let formDataToJson = JSON.stringify(this.formOfAdd);
      this.$http
        .post(this.$api.addChannelGoodsDocument, formDataToJson)
        .then(rsp => {
          this.showDialogOfAdd = false;
          if (rsp.data.flag) {
            this.$message.success("新增成功！");
            this.getContentData();
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    },
    /**@function 新增文案_取消按钮 */
    cancelDialogOfAdd() {
      this.showDialogOfAdd = false;
    },
    /**@function 修改文案_保存按钮 */
    saveDialogOfEdit() {
      console.log("修改文案_保存按钮");
      let formData = this.formOfEdit;
      if (formData.isUp == true) {
        formData.isUp = formData.isUp = 1;
      } else {
        formData.isUp = formData.isUp = 0;
      }
      formData.content = formData.documentContent;
      delete formData.documentContent;
      let formDataToJson = JSON.stringify(formData);

      console.log(formDataToJson);
      this.$http
        .post(this.$api.updateChannelGoodsDocument, formDataToJson)
        .then(rsp => {
          this.showDialogOfEdit = false;
          if (rsp.data.flag) {
            this.$message.success("修改成功！");
            this.getContentData();
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    },
    /**@function 修改文案_删除按钮 */
    delDialogOfEdit() {
      console.log("修改文案_删除按钮");
    },
    /**@function 修改文案_取消按钮 */
    cancelDialogOfEdit() {
      console.log("修改文案_取消按钮");
      this.showDialogOfEdit = false;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.queryOfContent.pageSize = pageSize;
      this.getContentData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.queryOfContent.pageNum = pageNum;
      this.getContentData();
    },
    //===================文案部分结束==========================
    /**@function 统一设置佣金比例 */
    setAll() {
      this.setAllFlag = true;
      let commissionLevels = {};
      for (let i = 0; i < this.cl; i++) {
        // obj.commissionRateConfId = this.commissionLevel[i].commissionRateConfId;
        // obj.level = this.commissionLevel[i].level;
        // obj.levelName = this.commissionLevel[i].levelName;
        switch (i) {
          case 0:
            commissionLevels.commissionRate1 = this.ruleForm.v1;
            commissionLevels.level1 = this.commissionLevel[i].level;
            commissionLevels.levelName1 = this.commissionLevel[i].levelName;
            break;
          case 1:
            commissionLevels.commissionRate2 = this.ruleForm.v2;
            commissionLevels.level2 = this.commissionLevel[i].level;
            commissionLevels.levelName2 = this.commissionLevel[i].levelName;
            break;
          case 2:
            commissionLevels.commissionRate3 = this.ruleForm.v3;
            commissionLevels.level3 = this.commissionLevel[i].level;
            commissionLevels.levelName3 = this.commissionLevel[i].levelName;
            break;
          case 3:
            commissionLevels.commissionRate4 = this.ruleForm.v4;
            commissionLevels.level4 = this.commissionLevel[i].level;
            commissionLevels.levelName4 = this.commissionLevel[i].levelName;
            break;
          case 4:
            ocommissionLevelsbj.commissionRate5 = this.ruleForm.v5;
            ocommissionLevelsbj.level5 = this.commissionLevel[i].level;
            commissionLevels.levelName5 = this.commissionLevel[i].levelName;
            break;
          case 5:
            commissionLevels.commissionRate6 = this.ruleForm.v6;
            commissionLevels.level6 = this.commissionLevel[i].level;
            commissionLevels.levelName6 = this.commissionLevel[i].levelName;
            break;
          case 6:
            commissionLevels.commissionRate7 = this.ruleForm.v7;
            commissionLevels.level7 = this.commissionLevel[i].level;
            commissionLevels.levelName7 = this.commissionLevel[i].levelName;
            break;
          case 7:
            commissionLevels.commissionRate8 = this.ruleForm.v8;
            commissionLevels.level8 = this.commissionLevel[i].level;
            commissionLevels.levelName8 = this.commissionLevel[i].levelName;
            break;
        }
      }
      console.log(commissionLevels);
      //=======================

      let tableDataTemp = this.tableData;
      this.tableData = [];
      for (let j = 0; j < tableDataTemp.length; j++) {
        tableDataTemp[j].commissionLevels = commissionLevels;
        let commissionLevelsTemp = "";

        if (commissionLevels.level1) {
          commissionLevelsTemp +=
            commissionLevels.levelName1 +
            `:` +
            commissionLevels.commissionRate1 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate1 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level2) {
          commissionLevelsTemp +=
            commissionLevels.levelName2 +
            `:` +
            commissionLevels.commissionRate2 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate2 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level3) {
          commissionLevelsTemp +=
            commissionLevels.levelName3 +
            `:` +
            commissionLevels.commissionRate3 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate3 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level4) {
          commissionLevelsTemp +=
            commissionLevels.levelName4 +
            `:` +
            commissionLevels.commissionRate4 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate4 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level5) {
          commissionLevelsTemp +=
            commissionLevels.levelName5 +
            `:` +
            commissionLevels.commissionRate5 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate5 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level6) {
          commissionLevelsTemp +=
            commissionLevels.levelName6 +
            `:` +
            commissionLevels.commissionRate6 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate6 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level7) {
          commissionLevelsTemp +=
            commissionLevels.levelName7 +
            `:` +
            commissionLevels.commissionRate7 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate7 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }
        if (commissionLevels.level8) {
          commissionLevelsTemp +=
            commissionLevels.levelName8 +
            `:` +
            commissionLevels.commissionRate8 +
            `%(￥` +
            Math.floor(
              commissionLevels.commissionRate8 /
                100 *
                tableDataTemp[j].sellingPrice *
                100
            ) /
              100 +
            "); ";
        }

        // commissionLevels.forEach((vv, ii) => {
        //   commissionLevelsTemp +=
        //     vv.levelName +
        //     `:` +
        //     vv.commissionRate +
        //     `%(￥` +
        //     Math.floor(
        //       vv.commissionRate / 100 * tableDataTemp[j].sellingPrice * 100
        //     ) /
        //       100 +
        //     "); ";
        // });
        tableDataTemp[j].commissionLevelsTemp = commissionLevelsTemp;
      }
      tableDataTemp.forEach((vvv, iii) => {
        this.tableData.push(vvv);
      });
      console.log(this.tableData);
    },

    /**@function 保存 */
    save() {
      console.log("保存");
      console.log(this.tableData);
      let formData = {};
      formData.goodsId = this.$route.params.id;

      if (this.endTime) {
        formData.endUseTime = this.endTime.substring(0, 10) + " 23:59:59";
      } else {
        formData.endUseTime = "";
      }

      formData.channelGoodsCommissionParams = [];
      this.commissionLevel.forEach((v, i) => {
        let channelGoodsCommissionParams = {};
        channelGoodsCommissionParams.commissionRateConfId =
          v.commissionRateConfId;
        switch (i) {
          case 0:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v1;
            break;
          case 1:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v2;
            break;
          case 2:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v3;
            break;
          case 3:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v4;
            break;
          case 4:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v5;
            break;
          case 5:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v6;
            break;
          case 6:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v7;
            break;
          case 7:
            channelGoodsCommissionParams.commissionRate = this.ruleForm.v8;
            break;
        }
        formData.channelGoodsCommissionParams.push(
          channelGoodsCommissionParams
        );
      });

      let goodsSkuIds = [];
      this.goodsData.goodsSkuDtos.forEach((gv, gi) => {
        goodsSkuIds.push(gv.goodsSkuId);
      });
      let channelGoodsSkuAddParams = []; //
      this.tableData.forEach((tv, ti) => {
        let obj = {};
        obj.goodsSkuId = goodsSkuIds[ti];
        obj.channelGoodsCommissionParams = [];

        this.commissionLevel.forEach((v, i) => {
          let channelGoodsCommissionParams = {};
          channelGoodsCommissionParams.commissionRateConfId =
            v.commissionRateConfId;
          switch (i) {
            case 0:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate1;
              break;
            case 1:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate2;
              break;
            case 2:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate3;
              break;
            case 3:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate4;
              break;
            case 4:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate5;
              break;
            case 5:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate6;
              break;
            case 6:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate7;
              break;
            case 7:
              channelGoodsCommissionParams.commissionRate = this.tableData[
                ti
              ].commissionLevels.commissionRate8;
              break;
          }
          obj.channelGoodsCommissionParams.push(channelGoodsCommissionParams);
        });
        channelGoodsSkuAddParams.push(obj);
      });
      formData.channelGoodsSkuAddParams = channelGoodsSkuAddParams;

      console.log("formData====================>>");
      let formDataToJson = JSON.stringify(formData);
      console.log(formDataToJson);

      this.$http
        .post(this.$api.addChannelGoods, formDataToJson)
        .then(rsp => {
          if (rsp.data.flag) {
            console.log(rsp.data);
            this.$message.success("保存成功！");
            this.channelGoodsId = "";
            this.$confirm(
              "保存成功！可选择继续为该商品自定义推荐文案，或选择采用唯柚预设推荐文案，并返回上一页",
              "提示",
              {
                confirmButtonText: "自定义文案",
                cancelButtonText: "返回上一页",
                type: "warning"
              }
            )
              .then(() => {
                this.$message({
                  type: "success",
                  message: "接下来您可以选择为该商品添加推荐文案"
                });
                this.saveFlag = true;
                this.channelGoodsId = rsp.data.data;
              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "返回"
                });
                this.$router.go(-1);
              });
          } else {
            this.$message.error("数据未填写完毕或出错，请重新检查！");
          }
        })
        .catch(err => {
          console.log(`err-------------------`);
          console.log(err);
          this.$message.error(err);
          this.addFlag = false;
        });
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    },
    /**@function 编辑佣金*/
    edit(row, $index) {
      // console.log(row);
      if (this.setAllFlag) {
        this.showDialog = true;
        this.rowIndex = $index;
        this.FormDialogRow = row;
        this.FormDialog = row.commissionLevels;
        console.log(this.FormDialogRow);
        console.log(this.tableData);
      } else {
        this.$message.error("请在上一步设置佣金比例后再执行编辑佣金操作！");
      }
    },
    /**@function 保存弹出框*/
    saveDialog() {
      let commissionLevelsTemp = "";
      let commissionLevels = {};
      if (this.FormDialog.level1) {
        commissionLevels.commissionRate1 = this.FormDialog.commissionRate1;
        commissionLevelsTemp +=
          this.FormDialog.levelName1 +
          `:` +
          this.FormDialog.commissionRate1 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate1 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level2) {
        commissionLevels.commissionRate2 = this.FormDialog.commissionRate2;
        commissionLevelsTemp +=
          this.FormDialog.levelName2 +
          `:` +
          this.FormDialog.commissionRate2 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate2 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level3) {
        commissionLevels.commissionRate3 = this.FormDialog.commissionRate3;
        commissionLevelsTemp +=
          this.FormDialog.levelName3 +
          `:` +
          this.FormDialog.commissionRate3 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate3 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level4) {
        commissionLevels.commissionRate4 = this.FormDialog.commissionRate4;
        commissionLevelsTemp +=
          this.FormDialog.levelName4 +
          `:` +
          this.FormDialog.commissionRate4 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate4 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level5) {
        commissionLevels.commissionRate5 = this.FormDialog.commissionRate5;
        commissionLevelsTemp +=
          this.FormDialog.levelName5 +
          `:` +
          this.FormDialog.commissionRate5 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate5 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level6) {
        commissionLevels.commissionRate6 = this.FormDialog.commissionRate6;
        commissionLevelsTemp +=
          this.FormDialog.levelName6 +
          `:` +
          this.FormDialog.commissionRate6 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate6 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level7) {
        commissionLevels.commissionRate7 = this.FormDialog.commissionRate7;
        commissionLevelsTemp +=
          this.FormDialog.levelName7 +
          `:` +
          this.FormDialog.commissionRate7 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate7 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }
      if (this.FormDialog.level8) {
        commissionLevels.commissionRate8 = this.FormDialog.commissionRate8;
        commissionLevelsTemp +=
          this.FormDialog.levelName8 +
          `:` +
          this.FormDialog.commissionRate8 +
          `%(￥` +
          Math.floor(
            this.FormDialog.commissionRate8 /
              100 *
              this.tableData[this.rowIndex].sellingPrice *
              100
          ) /
            100 +
          "); ";
      }

      this.tableData[this.rowIndex].commissionLevelsTemp = commissionLevelsTemp;
      this.tableData[this.rowIndex].commissionLevels = commissionLevels;
      let tableDataTemp = this.tableData;
      this.tableData = [];
      tableDataTemp.forEach((vvv, iii) => {
        this.tableData.push(vvv);
      });
      this.showDialog = false;

      console.log(this.tableData);
    },
    /**@function 取消保存*/
    cancelDialog() {
      this.showDialog = false;
    }
  },
  created() {
    this.getCommissionLevel();
    this.getGoodsDetail();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.w120 {
  width: 120px;
}
</style>
