<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐列表</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="search-group">
        <el-input v-model="val1" clearable @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="搜索用户/用户编号/商品/商品编号/订单编号" prefix-icon="el-icon-search" class="search-input mb10">
        </el-input>
        <el-select v-model="val2" clearable @change="selectVal2" class="search-select mb10" filterable placeholder="选择订单状态">
          <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
     
        <el-date-picker class="mb10" clearable v-model="val5" @change="selectVal5" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </div>

      <el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号" width="55">
        </el-table-column>
        <el-table-column prop="nickName" label="购买用户">
          <template slot-scope="scope">
            <div> {{scope.row.nickName}}</div>
            <div class="table-gray-text">{{scope.row.userCode}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="goodsName" label="购买商品">
          <template slot-scope="scope">
            <div>{{scope.row.goodsName}}</div>
            <div class="table-gray-text">{{scope.row.goodsNumber}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="sellingPrice" label="商品价格(元)">
        </el-table-column>
        <el-table-column label="商品佣金">
          <template slot-scope="scope">
            <div>{{scope.row.commision}}</div>
            <div class="table-gray-text">{{scope.row.commisionRate}}%</div>
          </template>
        </el-table-column>
        <el-table-column prop="goodsNumber" label="购买数量">
        </el-table-column>
        <el-table-column prop="orderSn" label="订单号">
        </el-table-column>
        <el-table-column prop="orderStatus" label="订单状态">
          <template slot-scope="scope">
            {{ scope.row.orderStatus | changeOrderStatus }}
          </template>
        </el-table-column>
        <el-table-column prop="orderDate" label="购买时间">
        </el-table-column>
      </el-table>

      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeOrderStatus: function(value) {
      if (value == 1) {
        return "待付款";
      }
      if (value == 2) {
        return "待发货";
      }
      if (value == 3) {
        return "待收获";
      }
      if (value == 4) {
        return "已完成";
      }
      if (value == 5) {
        return "已取消";
      }
      return "订单状态异常";
    }
  },
  data() {
    return {
      val1: "", //搜索用户/用户编号/商品/商品编号
      val2: "", //选择机构
      val4: "", //选择佣金等级
      val5: "", //选择日期
      options2: [
        {
          label: "全部",
          value: ""
        },
        {
          label: "待付款",
          value: 1
        },
        {
          label: "待发货",
          value: 2
        },
        {
          label: "待收货",
          value: 3
        },
        {
          label: "已完成",
          value: 4
        },
        {
          label: "已取消",
          value: 5
        }
      ],
      options4: [],
      total: 0,
      pages: 0,
      query: {
        pageNum: 1,
        pageSize: 20,
        commissionRateConfId: "",
        searchName: "",
        channelOrganizationId: "",
        beginTime: "",
        endTime: "",
        orderByGoodsClickCount: "",
        orderByGrossDealCount: "",
        orderByPreDealAmount: "",
        orderByPreSettleAmount: "",
        orderByCommisionRate: "",
        orderByCreateTime: ""
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取购买信息 */
    getData() {
      this.$http
        .get(this.$api.findChannelOrderDetailsList, { params: this.query })
        .then(rsp => {
          console.log("获取购买信息");
          console.log(rsp.data);
          if (rsp.data.data) {
            this.tableData = rsp.data.data.list;
            this.total = rsp.data.data.total;
          } else {
            this.tableData = [];
            this.total = 0;
          }
        });
    },
    /**@function 搜索用户昵称/编号 */
    searchVal1() {
      this.query.searchName = this.val1;
      this.getData();
    },
    /**@function 选择状态 */
    selectVal2() {
      this.query.orderStatus = this.val2;
      this.getData();
    },
    /**@function 选择日期 */
    selectVal5() {
      if (this.val5) {
        this.query.beginDate = this.val5[0];
        this.query.endDate = this.val5[1].substring(0, 10) + " 23:59:59";
      } else {
        this.query.beginDate = this.query.endDate = "";
      }
      this.getData();
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getData();
    }
  },
  created() {
    this.getData();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.table-gray-text {
  color: #999999;
  font-size: 14px;
}
</style>