<template>
	<div>

		<!-- 面包屑导航 -->
		<div class="breadcrumb">
			<div class="breadcrumb-head">推荐管理</div>
			<el-breadcrumb>
				<el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
			</el-breadcrumb>
		</div>

		<div class="content  mb20">
			<div class="content-title">商品基本信息</div>
			<el-row :gutter="20">

				<el-col :span="11">
					<div class="p10">商品名称：汤臣倍健蛋白粉 450g/罐 </div>
					<div class="p10">商品编号：20180122000030</div>
					<div class="p10">所属店铺：汤臣倍健旗舰店</div>
				</el-col>
				<el-col :span="13">
					<div class="p10">商品品牌：汤臣倍健</div>
					<div class="p10">商品分类：医疗保健-滋补养生-保健食品</div>
					<div class="p10">商品价格（元）：368.00</div>
				</el-col>
			</el-row>
		</div>

		<div class="content  mb20">
			<div class="content-title">设置佣金比例</div>
			<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="60px">
				<el-row :gutter="20">
					<el-col :span="6">
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>

					</el-col>
					<el-col :span="6" :offset="5">
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="ruleForm.v1" class="p10"> </el-input>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
		</div>

		<div class="content  mb20">
			<div class="content-title">商品属性</div>
			<el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
				<!-- <el-table-column prop="specName1" :label="attrName[0].attributeName">
				</el-table-column>
				<el-table-column v-if="attrName[1]" prop="specName2" :label="attrName[1].attributeName">
				</el-table-column>
				<el-table-column v-if="attrName[2]" prop="specName3" :label="attrName[2].attributeName">
				</el-table-column> -->
				<el-table-column prop="tv1" label="销售价(元)">
				</el-table-column>
				<el-table-column prop="tv1" label="库存量(件)">
				</el-table-column>
				<el-table-column prop="tv1" label="*佣金比例">
				</el-table-column>
				<el-table-column label="操作">
					<template slot-scope="scope">
						<el-button @click="edit(scope.row,scope.$index)" type="text" size="small" class="orange-txt">编辑佣金</el-button>
					</template>
				</el-table-column>
			</el-table>

			<div class="mt20">
				<el-button type="text"></el-button>
				<div class="fr">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[10, 20, 50, 100]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
					</el-pagination>
				</div>
			</div>
		</div>

		<el-button @click="goBack" class="orange-bg mt20">返 回</el-button>

		<!-- 编辑弹出框 -->
		<el-dialog title="编辑属性佣金" :visible.sync="showDialog">

			<el-row :gutter="20">

				<el-col :span="11">
					<div class="p10">商品名称：SSBX劲能液2.0</div>
					<div class="p10">销售价（元）：199.00</div>
					<div class="p10">库存量：1200</div>

				</el-col>
				<el-col :span="13">
					<div class="p10">颜色：红色</div>
					<div class="p10">尺码：XL</div>
				</el-col>
			</el-row>
			<hr/>
			<div style="font-size: 18px !important;padding-bottom:30px">设置佣金比例</div>
			<el-form :model="FormDialog" :rules="rules" ref="ruleForm" label-width="60px">
				<el-row :gutter="20">
					<el-col :span="6">
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1" > </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1" > </el-input>
						</el-form-item>

					</el-col>
					<el-col :span="6" :offset="5">
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1"> </el-input>
						</el-form-item>
						<el-form-item label="1级" prop="zz">
							<el-input v-model="FormDialog.tv1" > </el-input>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<!-- <div> -->
				<el-button @click="saveDialog" class="purple-bg">保 存</el-button>
				<el-button @click="cancelDialog" class="orange-bg">取 消</el-button>
			</div>
		</el-dialog>

	</div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    }
  },
  data() {
    return {
      showDialog: false,
      data: [],
      total: 0,
      pages: 0,
      query: {
        pageNum: 1,
        pageSize: 10
      },
      tableData: [{ tv1: "11111" }],
      ruleForm: {
        v1: 10
      },
			FormDialog: { tv1: 1, tv2: 2, tv3: true },
			rules:{}
    };
  },
  methods: {
    /**@function 获取导购详情 */
    getGuideDetail() {
      //   this.$http
      //     .get(this.$api.findGoodsListPage, { params: this.query })
      //     .then(rsp => {
      //       //   this.$isot(rsp);
      //       console.log("获取商品列表");
      //       console.log(rsp.data);
      //       this.tableData = rsp.data.data.list;
      //       this.total = rsp.data.data.total;
      //     });
    },
    /**@function 查看订单 */
    check(row) {
      console.log("查看订单-----------");
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      //   this.getGoodsData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      //   this.getGoodsData();
    },
    /**@function 编辑佣金*/
    edit(row, $index) {
      console.log(row);
      this.showDialog = true;
      //   console.log(row.goodsId);
      //   console.log(row.storeId);
      //   this.$router.push({
      //     name: "gcg",
      //     params: { goodsId: row.goodsId, storeId: row.storeId }
      //   });
    },
    /**@function 保存*/
    saveDialog() {},
    /**@function 取消保存*/
    cancelDialog() {
      this.showDialog = false;
    }
  },
  created() {
    // this.getGuideDetail();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
  
}
</style>