<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content  mb20">
      <div class="content-title">商品基本信息</div>
      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">商品名称：{{goodsData.goodsName}}</div>
          <div class="p10">商品编号：{{goodsData.goodsCode}}</div>
          <div class="p10">商品库存：{{goodsData.inventory}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">商品品牌：{{goodsData.goodsBrandName}}</div>
          <div class="p10">商品分类：{{goodsData.goodsCategoryName}}</div>
          <div class="p10">商品价格（元）：{{goodsData.sellingPrice}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">推荐信息</div>
      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">总推荐数：{{goodsData.goodsRecommendCount}}</div>
          <div class="p10">总点击数：{{goodsData.goodsClickCount}}</div>
          <div class="p10">总结算数：{{goodsData.goodsSettleCount}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">总销售额：{{goodsData.grossDealAmount}}</div>
          <div class="p10">总产生佣金（元）：{{goodsData.grossCommisionAmount}}</div>
          <div class="p10">新增时间：{{goodsData.createTime}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">设置推荐截止时间</div>
      <span>截止时间:</span>
      <el-date-picker v-model="endTime" type="date" value-format="yyyy-MM-dd HH:mm:ss" placeholder="选择截止时间">
      </el-date-picker>
      <p style="color:#FFA45B;margin-top:20px;">* 推荐选择时间持续三个月以上</p>
    </div>

    <div class="content  mb20">
      <div class="content-title">设置佣金比例</div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px">
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="佣金比例" prop="v1">
              <el-input v-model="ruleForm.v1" class="w120" @change="setAll"> </el-input>%(￥{{ Math.floor(ruleForm.v1/100*goodsData.sellingPrice* 100) / 100}})
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>

    <div class="content  mb20">
      <div class="content-title">商品属性</div>
      <el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="specName1" :label="attrName[0].attributeName">
        </el-table-column>
        <el-table-column v-if="attrName[1]" prop="specName2" :label="attrName[1].attributeName">
        </el-table-column>
        <el-table-column v-if="attrName[2]" prop="specName3" :label="attrName[2].attributeName">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="commissionRate" label="*佣金比例">
          <template slot-scope="scope">
            <div>{{scope.row.commissionRate / 100}} %</div>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="edit(scope.row,scope.$index)" type="text" size="small" class="orange-txt">编辑佣金</el-button>
          </template>
        </el-table-column>
      </el-table>

    </div>

    <el-button @click="save" class="purple-bg mt10">保 存</el-button>
    <el-button @click="goBack" class="orange-bg mt10">返 回</el-button>


 <div class="content mt20">
      <div class="content-title">推荐文案</div>
      <div class="mt10 mb10">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addContent">新增文案</el-button>
      </div>
      <div class="mt10 mb10">
        <el-select class="mt5 mb5" v-model="val1" filterable clearable placeholder="选择显示状态" @change="selectVal1">
          <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table :data="tableDataOfContent" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号">
        </el-table-column>
        <el-table-column prop="documentContent" label="文案内容" >
        </el-table-column>
        <el-table-column prop="isUp" label="显示状态">
          <template slot-scope="scope">
            {{scope.row.isUp|changeIsUp1}}
          </template>
        </el-table-column>
        <el-table-column prop="sort" label="排序号"  width="120">
          <template slot-scope="scope">
            <el-input placeholder="999" @keyup.enter.native="editSort(scope.row)" @blur="editSort(scope.row)" v-model="scope.row.sort"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作"   width="120">
          <template slot-scope="scope">
            <el-button @click="change(scope.row,scope.$index)" type="text" size="small" class="orange-txt">修改</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="queryOfContent.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="queryOfContent.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

    <!-- 编辑佣金弹出框 -->
    <el-dialog title="编辑属性佣金" :visible.sync="showDialog">

      <el-row :gutter="20">

        <el-col :span="11">
          <div class="p10">商品名称：{{goodsData.goodsName}}</div>
          <div class="p10">销售价（元）：{{FormDialogRow.sellingPrice}}</div>
          <div class="p10">库存量：{{FormDialogRow.inventory}}</div>

        </el-col>
        <el-col :span="13">
          <div class="p10">{{attrName[0].attributeName}}：{{FormDialogRow.specName1}}</div>
          <div v-if="attrName[1]" class="p10">{{attrName[1].attributeName}}：{{FormDialogRow.specName2}}</div>
          <div v-if="attrName[2]" class="p10">{{attrName[2].attributeName}}：{{FormDialogRow.specName3}}</div>
        </el-col>
      </el-row>
      <hr style="color:#E4E7EC;margin:20px;">
      <div style="font-size: 18px !important;margin:20px;">设置佣金比例</div>
      <el-form :model="FormDialog" :rules="rules" ref="FormDialog" label-width="80px">
        <el-row :gutter="20">
          <el-col :span="10">
            <el-form-item label="佣金比例">
              <el-input v-model="FormDialog.commissionRate" class="w120" @input="qqq"> </el-input>%(￥{{Math.floor(FormDialog.commissionRate/100*FormDialogRow.sellingPrice* 100) / 100}})
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- <div> -->
        <el-button @click="saveDialog" class="purple-bg">保 存</el-button>
        <el-button @click="cancelDialog" class="orange-bg">取 消</el-button>
      </div>
    </el-dialog>


  <!-- 新增文案弹出框 -->
    <el-dialog title="新增文案" :visible.sync="showDialogOfAdd">
      <el-form :model="formOfAdd" label-position="left" ref="content" label-width="100px">
        <el-row>
          <el-col>
            <el-form-item label="文案内容" prop="name">
              <el-input type="textarea" :autosize="{ minRows: 6, maxRows: 10}" v-model="formOfAdd.content" placeholder="请输入内容"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row style="display:none">
          <el-col :span="8">
            <el-form-item label="">
              <el-input></el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="saveDialogOfAdd" class="purple-bg">保 存</el-button>
        <el-button @click="cancelDialogOfAdd" class="orange-bg">取 消</el-button>
      </div>
    </el-dialog>
    <!-- 修改文案弹出框 -->
    <el-dialog title="修改文案" :visible.sync="showDialogOfEdit">
      <el-form :model="formOfEdit" label-position="left" ref="showDialogOfEdit" label-width="100px">
        <el-row>
          <el-col>
            <el-form-item label="文案内容" prop="name">
              <el-input type="textarea" :autosize="{ minRows: 6, maxRows: 10}" v-model="formOfEdit.documentContent"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="排序号">
              <el-input v-model="formOfEdit.sort"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item prop="isShow" label="显示状态">
            <el-switch v-model="formOfEdit.isUp">
            </el-switch>
          </el-form-item>
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="saveDialogOfEdit" class="purple-bg">保 存</el-button>
        <!-- <el-button @click="delDialogOfEdit" class="orange-bg">删 除</el-button> -->
        <el-button @click="cancelDialogOfEdit" class="orange-bg">返 回</el-button>
      </div>
    </el-dialog>




  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    },
    changeIsUp1: function(value) {
      if (value == 1) {
        return "显示";
      } else {
        return "不显示";
      }
    }
  },
  data() {
    return {
      channelGoodsId: "",
      saveFlag: false,
      val1: "",
      options1: [{ value: 0, label: "不显示" }, { value: 1, label: "显示" }],
      total: 0,
      queryOfContent: {
        pageNum: 1,
        pageSize: 20,
        channelGoodsId: "",
        isUp: ""
      },
      tableDataOfContent: [],
      showDialogOfAdd: false,
      formOfAdd: {
        channelGoodsId: "",
        content: ""
      },
      showDialogOfEdit: false,
      formOfEdit: {
        channelGoodsDocumentId: "",
        documentContent: "",
        sort: "",
        isUp: true
      },
      endTime: "",
      rowIndex: 0,
      setAllFlag: false,
      cl: 1, //等级数
      levelNames: [],
      commissionLevel: [],
      showDialog: false,
      goodsData: [],
      query: {
        pageNum: 1,
        pageSize: 10
      },
      attrName: [],
      tableData: [],
      ruleForm: {
        v1: "",
        v2: "",
        v3: "",
        v4: "",
        v5: "",
        v6: "",
        v7: "",
        v8: ""
      },
      FormDialog: { commissionRate: 0 },
      FormDialogRow: {},
      rules: {}
    };
  },
  methods: {
    /**@function 获取商品详情 */
    getGoodsDetail() {
      let channelGoodsId = this.$route.params.channelGoodsId;
      this.channelGoodsId = channelGoodsId;
      this.$http
        .get(this.$api.findChannelGoods + `?channelGoodsId=${channelGoodsId}`)
        .then(rsp => {
          console.log("获取商品详情");
          console.log(rsp.data);
          this.goodsData = rsp.data.data;
          this.attrName = rsp.data.data.goodsAttributeDtos;
          console.log("this.tableData========");
          console.log(this.tableData);
          this.tableData = rsp.data.data.channelGoodsSkuDetailDtos;
          this.getContentData();
          this.goodsId = rsp.data.data.goodsId;
        });
    },
    /**@function 获取佣金等级 */
    getCommissionLevel() {
      this.$http.get(this.$api.findChannelCommissionRateConfList).then(rsp => {
        console.log("获取佣金等级");
        console.log(rsp.data);
        this.commissionLevel = rsp.data.data;
        this.cl = this.levelNames.length;
      });
    },
    /**@function 保存 */
    save() {
      var self = this;
      console.log(this.endTime);
      this.$confirm(
        "确认保存后该商品的推荐信息需要重新审核，请确认是否修改？",
        "提示",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }
      )
        .then(() => {
          console.log("保存");
          let formData = {};

          formData.channelGoodsId = self.$route.params.channelGoodsId;
          // formData.goodsId = self.goodsData.goodsId;

          if (self.endTime) {
            formData.endUseTime = self.endTime.substring(0, 10) + " 23:59:59";
          } else {
            formData.endUseTime = "";
          }

          formData.commissionRate = self.ruleForm.v1;
          formData.channelGoodsSkuAddParams = [];
          formData.channelGoodsSkuAddParams.channelGoodsCommissionParams = [];
          console.log(self.tableData);
          for (let i in self.tableData) {
            var obj1 = {};
            obj1.goodsSkuId = self.tableData[i].goodsSkuId;
            var obj2 = {};
            obj2.commissionRate = self.tableData[i].commissionRate;
            formData.channelGoodsSkuAddParams[i] = Object.assign(obj1, obj2);
          }
          console.log("formData");
          console.log(formData);

          // formData.channelGoodsCommissionParams = [];

          // let goodsSkuIds = [];
          // this.goodsData.channelGoodsDetailDto.channelGoodsSkuDetailDtos.forEach(
          //   (gv, gi) => {
          //     goodsSkuIds.push(gv.goodsSkuId);
          //   }
          // );
          // let channelGoodsSkuAddParams = []; //

          // formData.channelGoodsSkuAddParams = channelGoodsSkuAddParams;

          // console.log("formData====================>>");
          // let formDataToJson = JSON.stringify(formData);
          // console.log(formDataToJson);

          self.$http
            .post(self.$api.updateChannelGoods, formData)
            .then(rsp => {
              if (rsp.data.flag) {
                console.log(rsp.data);
                self.$message.success("保存成功！");
                self.$router.go(-1);
              } else {
                self.$message.error(rsp.data.msg);
              }
            })
            .catch(err => {
              console.log(`err-------------------`);
              console.log(err);
              self.$message.error(err);
              self.addFlag = false;
            });
        })
        .catch(() => {
          self.$message({
            type: "info",
            message: "已取消 [保存] 操作"
          });
        });
    },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    },
    qqq() {
      console.log(this.FormDialog);
      console.log(this.tableData);
    },
    // 统一设置
    setAll() {
      if (this.ruleForm.v1) {
        console.log("统一设置佣金比例");
        this.setAllFlag = true;
        let tableData = this.tableData;
        for (let i in tableData) {
          tableData[i].commissionRate = this.ruleForm.v1 * 100;
        }
        this.FormDialog.commissionRate = this.ruleForm.v1;
      }
    },
    /**@function 编辑佣金*/
    edit(row, $index) {
      console.log(`this.tableData   ----------- edit row`);
      console.log(this.tableData);
      console.log(`$index========` + $index);
      if (this.setAllFlag) {
        this.showDialog = true;
        this.rowIndex = $index;
        this.FormDialogRow = row;
        // this.FormDialog = row.commissionLevels;
        console.log(this.FormDialogRow);
        console.log(this.FormDialog);
      } else {
        this.$message.error("请在上一步设置佣金比例后再执行编辑佣金操作！");
      }
    },

    /**@function 取消保存*/
    cancelDialog() {
      this.showDialog = false;
    },
    //===================文案部分开始==========================

    /**@function 获取文案列表 */
    getContentData() {
      console.log("获取文案列表");
      this.queryOfContent.channelGoodsId = this.channelGoodsId;
      this.$http
        .get(this.$api.findChannelGoodsDocumentListPage, {
          params: this.queryOfContent
        })
        .then(rsp => {
          if (rsp.data.flag && rsp.data.data) {
            this.tableDataOfContent = rsp.data.data.list;
            this.total = rsp.data.data.total;
          } else {
            this.$message.error(rsp.data.msg);
            this.tableData = [];
            this.total = 0;
          }
        });
    },
    /**@function 新增文案 */
    addContent() {
      console.log("新增文案");
      this.showDialogOfAdd = true;
    },
    /**@function 修改文案排序号 */
    editSort(row) {
      console.log("修改文案排序号");
      let params = {};
      params.channelGoodsDocumentId = row.channelGoodsDocumentId;
      params.sort = row.sort;
      this.$http
        .get(this.$api.updateChannelGoodsDocumentSort, {
          params: params
        })
        .then(rsp => {
          if (rsp.data.flag) {
            this.getContentData();
            this.$message({
              type: "success",
              message: "修改排序号成功!"
            });
          } else {
            this.$message({
              type: "error",
              message: rsp.data.msg
            });
          }
        });
    },
    saveDialog() {
      console.log("保存");
      this.tableData[this.rowIndex].commissionRate =
        this.FormDialog.commissionRate * 100;
      this.showDialog = false;
      console.log("tableData:");
      console.log(this.tableData);
    },
    /**@function 选择显示状态 */
    selectVal1() {
      console.log("选择显示状态");
      this.queryOfContent.isUp = this.val1;
      this.getContentData();
    },
    /**@function 修改文案按钮 */
    change(row, i) {
      console.log("修改文案按钮");
      this.showDialogOfEdit = true;
      let tempForm = row;
      if (tempForm.isUp == 1) {
        tempForm.isUp = true;
      } else {
        tempForm.isUp = false;
      }
      this.formOfEdit = tempForm;
      console.log(this.formOfEdit);
    },
    /**@function 新增文案_保存按钮 */
    saveDialogOfAdd() {
      console.log("新增文案_保存按钮");
      this.formOfAdd.channelGoodsId = this.channelGoodsId;
      console.log(this.formOfAdd);
      let formDataToJson = JSON.stringify(this.formOfAdd);
      this.$http
        .post(this.$api.addChannelGoodsDocument, formDataToJson)
        .then(rsp => {
          this.showDialogOfAdd = false;
          if (rsp.data.flag) {
            this.$message.success("新增成功！");
            this.getContentData();
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    },
    /**@function 新增文案_取消按钮 */
    cancelDialogOfAdd() {
      this.showDialogOfAdd = false;
    },
    /**@function 修改文案_保存按钮 */
    saveDialogOfEdit() {
      console.log("修改文案_保存按钮");
      let formData = this.formOfEdit;
      if (formData.isUp == true) {
        formData.isUp = formData.isUp = 1;
      } else {
        formData.isUp = formData.isUp = 0;
      }
      formData.content = formData.documentContent;
      delete formData.documentContent;
      let formDataToJson = JSON.stringify(formData);

      console.log(formDataToJson);
      this.$http
        .post(this.$api.updateChannelGoodsDocument, formDataToJson)
        .then(rsp => {
          this.showDialogOfEdit = false;
          if (rsp.data.flag) {
            this.$message.success("修改成功！");
            this.getContentData();
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    },
    /**@function 修改文案_删除按钮 */
    delDialogOfEdit() {
      console.log("修改文案_删除按钮");
    },
    /**@function 修改文案_取消按钮 */
    cancelDialogOfEdit() {
      console.log("修改文案_取消按钮");
      this.showDialogOfEdit = false;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.queryOfContent.pageSize = pageSize;
      this.getContentData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.queryOfContent.pageNum = pageNum;
      this.getContentData();
    }
    //===================文案部分结束==========================
  },
  created() {
    this.getGoodsDetail();
    this.getCommissionLevel();
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
.w120 {
  width: 120px;
}
</style>