<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">商品管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <el-button class="purple-bg mb20" icon="el-icon-plus" @click="addGoods">新增商品</el-button>

      <div class="search-group select_width">
        <el-input v-model="val1" clearable @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="搜索商品名称/编号/品牌" prefix-icon="el-icon-search" class="search-input mb10">
        </el-input>
        <el-cascader class="mb10" clearable placeholder="选择分类" expand-trigger="click" :options="options3" v-model="val3" @change="selectVal3" change-on-select>
        </el-cascader>
        <el-select class="mb10" v-model="val4" clearable @change="selectVal4" filterable placeholder="选择推荐状态">
          <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <el-select class="mb10" v-model="val5" clearable @change="selectVal5" filterable placeholder="选择审核状态">
          <el-option v-for="item in options5" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column prop="goodsName" label="商品名称">
        </el-table-column>
        <el-table-column prop="goodsCode" label="商品编码">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="商品价格(元)">
        </el-table-column>
        <el-table-column prop="goodsRecommendCount" label="总推荐数" sortable>
        </el-table-column>
        <el-table-column prop="goodsClickCount" label="总点击数" sortable>
        </el-table-column>
        <el-table-column prop="goodsSettleCount" label="总结算数" sortable>
        </el-table-column>
        <el-table-column prop="grossDealAmount" label="总销售额(元)" sortable>
        </el-table-column>
        <el-table-column prop="grossCommisionAmount" label="总产生佣金(元)" sortable>
        </el-table-column>

        <el-table-column prop="isUp" label="推荐状态">
          <template slot-scope="scope">
            {{ scope.row.isUp | changeIsUp }}
          </template>
        </el-table-column>
        <el-table-column prop="goodsAudit" label="审核状态">
          <template slot-scope="scope">
            {{ scope.row.goodsAudit | changeGoodsAudit }}
          </template>
        </el-table-column>

        <el-table-column label="操作" width="140">
          <template slot-scope="scope">
            <el-button @click="checkgoods(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button v-if=" scope.row.isUp == '0' && scope.row.goodsAudit == '2'" type="text" size="small" class="purple-txt" ref @click="toggleSalesStatus(scope.row,$event)">上架</el-button>
            <el-button v-if=" scope.row.isUp == '1' && scope.row.goodsAudit == '2' " type="text" size="small" class="orange-txt" ref @click="toggleSalesStatus(scope.row,$event)">下架</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div class="mt20">
        <el-button class="purple-bg" @click="upSelect">批量上架</el-button>
        <el-button class="orange-bg" @click="downSelect">批量下架</el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100, 200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    },
    changeGoodsAudit: function(value) {
      if (value == 2) {
        return "通过";
      } else if (value == 3) {
        return "驳回";
      } else {
        return "未审核";
      }
    }
  },
  data() {
    return {
      val1: "", //搜索商品名称/编号/品牌
      val2: "", //选择店铺
      val3: [], //选择分类
      val4: "", //选择销售状态
      val5: "", //选择审核状态
      multipleSelection: [],
      options3: [
        //分类选项
      ],
      options4: [
        //销售状态选项
        {
          value: "0",
          label: "下架"
        },
        {
          value: "1",
          label: "上架"
        }
      ],
      options5: [
        //审核状态选项
        {
          value: "1",
          label: "未审核"
        },
        {
          value: "2",
          label: "通过"
        },
        {
          value: "3",
          label: "驳回"
        }
      ],
      total: 0,
      pages: 0,
      query: {
        pageNum: 1,
        pageSize: 20,
        name: "",
        goodsCategoryId: "",
        isUp: "",
        goodsAudit: "",
        orderByRecommendCount: "",
        orderByClickCount: "",
        orderBySettleCount: "",
        orderByDealAmount: "",
        orderByCommissionAmount: ""
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取商品列表 */
    getGoodsData() {
      this.$http
        .get(this.$api.findChannelGoodsListPage, { params: this.query })
        .then(rsp => {
          console.log("获取商品列表");
          console.log(rsp.data);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 获取分类下拉列表 */
    getCategoryData() {
      this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
        let orData = rsp.data.data;
        var toget = function(orData) {
          var data = orData;
          var arrl = orData.length;
          var arr = [];
          for (var i = 0; i < arrl; i++) {
            //一级
            var obj1 = {};
            obj1.value = data[i].goodsCategoryId;
            obj1.label = data[i].goodsCategoryName;
            if (data[i].childCategoryList) {
              //是否有2级
              obj1.childrentemp = data[i].childCategoryList;
              obj1.children = [];
              for (var j = 0; j < obj1.childrentemp.length; j++) {
                var obj2 = {};
                obj2.children = [];
                obj2.value = obj1.childrentemp[j].goodsCategoryId;
                obj2.label = obj1.childrentemp[j].goodsCategoryName;
                obj1.children.push(obj2);
                // obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                if (obj1.childrentemp[j].childCategoryList) {
                  //是否有3级
                  obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                  for (var k = 0; k < obj2.childrentemp.length; k++) {
                    var obj3 = {};
                    obj3.value = obj2.childrentemp[k].goodsCategoryId;
                    obj3.label = obj2.childrentemp[k].goodsCategoryName;
                    obj2.children.push(obj3);
                  }
                }
              }
              arr[i] = obj1;
            } else {
              arr[i] = obj1;
            }
          }
          return arr;
        };
        var arr = toget(orData);
        console.log("生成分类数据");
        console.log(arr);
        this.options3 = arr;
      });
    },

    /**@function 新增商品 */
    addGoods() {
      this.$router.push({
        name: "raa",
        params: {}
      });
    },
    /**@function 搜索商品名称/编号/品牌 */
    searchVal1() {
      this.query.name = this.val1;
      this.getGoodsData();
    },

    /**@function 选择分类 */
    selectVal3() {
      console.log(this.val3);
      let l = this.val3.length;
      this.query.goodsCategoryId = this.val3[l - 1];
      this.getGoodsData();
    },
    /**@function 选择销售状态 */
    selectVal4() {
      this.query.isUp = this.val4;
      this.getGoodsData();
    },
    /**@function 选择审核状态 */
    selectVal5() {
      this.query.goodsAudit = this.val5;
      this.getGoodsData();
    },
    /**@function 上架下架 */
    toggleSalesStatus(row, e) {
      console.log(row);
      if (row.isUp == "1") {
        this.$confirm("是否下架该商品？(注意：下架后商品将无法推荐!)", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            console.log("下架商品");
            params.channelGoodsIds = row.channelGoodsId;
            params.channelGoodsStatus = 0;
            this.$http
              .get(this.$api.updateChannelGoodsIsUp, {
                params: params
              })
              .then(rsp => {
                if (rsp.data.flag) {
                  this.getGoodsData();
                  this.$message({
                    type: "warning",
                    message: "下架商品成功!"
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [下架] 操作"
            });
          });
      } else {
        let params = {};
        console.log("上架商品");
        params.channelGoodsIds = row.channelGoodsId;
        params.channelGoodsStatus = 1;
        this.$http
          .get(this.$api.updateChannelGoodsIsUp, {
            params: params
          })
          .then(rsp => {
            if (rsp.data.flag) {
              this.getGoodsData();
              this.$message({
                type: "warning",
                message: "上架商品成功!"
              });
            }
          });
      }
    },
    /**@function 批量上架 */
    upSelect() {
      console.log(this.multipleSelection);
      let flag = true;
      this.multipleSelection.forEach((v, i) => {
        if (v.goodsAudit != 2) {
          flag = false;
        }
      });
      if (this.multipleSelection.length && flag) {
        this.$confirm("是否上架选中商品？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            params.channelGoodsIds = [];
            console.log("上架选中商品");
            for (let i = 0; i < this.multipleSelection.length; i++) {
              params.channelGoodsIds.push(
                this.multipleSelection[i].channelGoodsId
              );
            }
            params.channelGoodsIds = params.channelGoodsIds.join(",");
            params.channelGoodsStatus = 1;
            this.$http
              .get(this.$api.updateChannelGoodsIsUp, {
                params: params
              })
              .then(rsp => {
                if (rsp.data.flag) {
                  this.getGoodsData();
                  this.$message({
                    type: "success",
                    message: "上架选中商品成功!"
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [上架] 操作"
            });
          });
      } else {
        if (!flag) {
          this.$message({
            type: "error",
            message: "所选的商品审核状态必须为通过！"
          });
        } else {
          this.$message({
            type: "error",
            message: "当前未选中任何行！"
          });
        }
      }
    },
    /**@function 批量下架 */
    downSelect() {
      console.log(this.multipleSelection);
      let flag = true;
      this.multipleSelection.forEach((v, i) => {
        if (v.goodsAudit != 2) {
          flag = false;
        }
      });
      if (this.multipleSelection.length && flag) {
        this.$confirm(
          "是否下架选中商品？(注意：下架后商品将无法推荐!)",
          "提示",
          {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          }
        )
          .then(() => {
            let params = {};
            params.channelGoodsIds = [];
            console.log("下架选中商品");
            for (let i = 0; i < this.multipleSelection.length; i++) {
              params.channelGoodsIds.push(
                this.multipleSelection[i].channelGoodsId
              );
            }
            params.channelGoodsIds = params.channelGoodsIds.join(",");
            params.channelGoodsStatus = 0;
            this.$http
              .get(this.$api.updateChannelGoodsIsUp, {
                params: params
              })
              .then(rsp => {
                if (rsp.data.flag) {
                  this.getGoodsData();
                  this.$message({
                    type: "warning",
                    message: "下架选中商品成功!"
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [下架]操作"
            });
          });
      } else {
        if (!flag) {
          this.$message({
            type: "error",
            message: "所选的商品审核状态必须为通过！"
          });
        } else {
          this.$message({
            type: "error",
            message: "当前未选中任何行！"
          });
        }
      }
    },
    /**@function 查看商品 */
    checkgoods(row, $index) {
      this.$router.push({
        name: "rae",
        params: {
          channelGoodsId: row.channelGoodsId
        }
      });
    },
    /**@function 选择行 */
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getGoodsData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getGoodsData();
    }
  },
  created() {
    this.getGoodsData();
    this.getCategoryData();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}

.up-btn {
  position: relative;
}

.file-upload {
  //   background: #4d6cf3;
  position: absolute;
  background: red;
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.select_width {
  .el-cascader {
    width: 240px;
  }
}
</style>