<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐列表</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content  mb20">
      <div class="content-title">推荐用户信息</div>
      <el-row :gutter="20">
        <el-col :span="3">
          <img class="br" :src="userData.headImgUrl" width="100" height="100" alt="用户头像">
        </el-col>
        <el-col :span="8">
          <div class="p10">用户名称：{{userData.nickName}}</div>
          <div class="p10">用户编号：{{userData.channelUserCode}}</div>
          <div class="p10">用户性别：{{userData.sex|changeSex}}</div>
          <div class="p10">用户所在地：{{userData.province||''}}{{userData.city||''}}</div>
        </el-col>
        <el-col :span="8">
          <div class="p10">用户手机号：{{userData.phone}}</div>
          <div class="p10">所属机构：{{userData.channelOrganizationName}}</div>
          <div class="p10">机构编号：{{userData.channelOrganizationCode}}</div>
          <div class="p10">佣金等级：{{userData.levelName}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">推荐商品信息</div>
      <el-row :gutter="20">
        <el-col :span="11">
          <div class="p10">商品名称：{{goodsData.goodsName}}</div>
          <div class="p10">商品编号：{{goodsData.goodsCode}}</div>
          <div class="p10">所属店铺：{{goodsData.storeName}}</div>
          <div class="p10">商品品牌：{{goodsData.goodsBrandCnName}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">商品分类：{{goodsData.goodsCategoryNames}}</div>
          <div class="p10">商品价格（元）：{{goodsData.sellingPrice}}</div>
          <div class="p10">佣金比例：{{goodsData.commisionRate?(goodsData.commisionRate+'%'):''}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">推荐信息</div>
      <el-row :gutter="20">
        <el-col :span="11">
          <div class="p10">推荐渠道：{{recommendationData.modeType?(recommendationData.modeType+"  "+recommendationData.modeValue):''}}</div>
          <div class="p10">点击次数：{{recommendationData.goodsClickCount}}</div>
          <div class="p10">付款笔数：{{recommendationData.grossDealCount}}</div>
        </el-col>
        <el-col :span="13">
          <div class="p10">成交预估收入（元）：{{recommendationData.preDealAmount}}</div>
          <div class="p10">结算预估收入（元）：{{recommendationData.preSettleAmount}}</div>
          <div class="p10">推荐时间：{{recommendationData.createTime}}</div>
        </el-col>
      </el-row>
    </div>

    <div class="content  mb20">
      <div class="content-title">点击用户</div>
      <el-table :data="tableData1" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号" width="55">
        </el-table-column>
        <el-table-column prop="nickName" label="用户昵称">
        </el-table-column>
        <el-table-column prop="sex" label="用户性别">
          <template slot-scope="scope">
            {{scope.row.sex|changeSex}}
          </template>
        </el-table-column>
        <el-table-column label="所在地">
          <template slot-scope="scope">
            {{scope.row.province+scope.row.city}}
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="点击时间">
        </el-table-column>
      </el-table>

      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1" :current-page="query1.pageNum" :page-sizes="[ 20, 50, 100,200]" :page-size="query1.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total1">
          </el-pagination>
        </div>
      </div>
    </div>

    <div class="content  mb20">
      <div class="content-title">付款用户</div>
      <el-table :data="tableData2" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号" width="55">
        </el-table-column>
        <el-table-column prop="nickName" label="用户昵称">
        </el-table-column>
        <el-table-column prop="channelUserCode" label="用户编号">
        </el-table-column>
        <el-table-column prop="buyInfo" label="购买信息">
        </el-table-column>
        <el-table-column prop="tv1" label="付款金额（元）">
        </el-table-column>
        <el-table-column prop="tv1" label="成交预估收入（元）">
        </el-table-column>
        <el-table-column prop="orderSn" label="订单编号">
        </el-table-column>
        <el-table-column prop="orderStatus" label="订单状态">
        </el-table-column>
        <el-table-column prop="createTime" label="订单创建时间">
        </el-table-column>
        <!-- <el-table-column label="操作">
					<template slot-scope="scope">
						<el-button @click="check(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看订单</el-button>
					</template>
				</el-table-column> -->

      </el-table>

      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange2" @current-change="handleCurrentChange2" :current-page="query2.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query2.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total2">
          </el-pagination>
        </div>
      </div>
    </div>

    <el-button @click="goBack" class="orange-bg mt20">返 回</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    },
    changeSex: function(value) {
      if (value == 1) {
        return "男";
      } else {
        return "女";
      }
    }
  },
  data() {
    return {
      userData: {},
      goodsData: {},
      recommendationData: {},
      total1: 0,
      pages1: 0,
      total2: 0,
      pages2: 0,
      query1: {
        pageNum: 1,
        pageSize: 20,
        channelRecordId: ""
      },
      query2: {
        pageNum: 1,
        pageSize: 20,
        channelRecordId: "",
        orderStatus: 1,
        settleStatus: 2
      },
      tableData1: [],
      attrName: [],
      tableData2: []
    };
  },
  methods: {
    /**@function 获取详情 */
    getInfo() {
      // if (this.$route.params.channelRecordModeStatisticsId) {
        this.$http
          .get(this.$api.findChannelRecordDto, { params: this.$route.params })
          .then(rsp => {
            console.log("获取详情");
            console.log(rsp.data);
            this.userData = rsp.data.data.channelUserDto;
            this.goodsData = rsp.data.data.channelGoodsInfo;
            this.recommendationData =
              rsp.data.data.channelRecordModeStatisticsDto;
          });
      // } else {
      //   this.$message.error("无法获取该用户的详情！");
      // }
    },
    /**@function 获取点击用户 */
    getTableData1() {
      if (!this.$route.params.channelRecordId) {
        return;
      }
      this.query1.channelRecordId = this.$route.params.channelRecordId;
      this.$http
        .get(this.$api.findChannelUserRelationByChannelRecordId, {
          params: this.query1
        })
        .then(rsp => {
          console.log("获取点击用户");
          console.log(rsp.data);
          this.tableData1 = rsp.data.data.list;
          this.total1 = rsp.data.data.total;
        });
    },
    /**@function 获取付款用户 */
    getTableData2() {
      this.query2.channelRecordId = this.$route.params.channelRecordId;
      this.$http
        .get(this.$api.findChannelRecordOrdersRelationList, {
          params: this.query2
        })
        .then(rsp => {
          console.log("获取付款用户");
          console.log(rsp.data);
          this.tableData2 = rsp.data.data.list;
          this.total2 = rsp.data.data.total;
          let data = rsp.data.data.list;
          for (let i = 0; i < data.length; i++) {
            let buyInfo = "";
            if (data[i].spec3 != null) {
              buyInfo = `${data[i].spec3}/${data[i].spec2}/${data[i].spec1}(${
                data[i].goodsNumber
              })`;
              this.tableData2[i].push(buyInfo);
            }
          }
        });
    },
    /**@function 获取导购详情 */
    getRecommendationDetaill() {
      this.getInfo();
      this.getTableData1();
      this.getTableData2();
    },
    /**@function 查看订单 */
    // check(row) {
    //   console.log("查看订单-----------");
    // },
    /**@function 返回 */
    goBack() {
      this.$router.go(-1);
    },
    /**@function 分页1 */
    handleSizeChange1(pageSize) {
      this.query1.pageSize = pageSize;
      this.getRecommendationDetaill();
    },
    /**@function 分页1 */
    handleCurrentChange1(pageNum) {
      this.query1.pageNum = pageNum;
      this.getRecommendationDetaill();
    },
    /**@function 分页2*/
    handleSizeChange2(pageSize) {
      this.query2.pageSize = pageSize;
      this.getRecommendationDetaill();
    },
    /**@function 分页2 */
    handleCurrentChange2(pageNum) {
      this.query2.pageNum = pageNum;
      this.getRecommendationDetaill();
    }
  },
  created() {
    this.getRecommendationDetaill();
    // console.table(this.$route.params);
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
</style>