<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐列表</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="search-group">
        <el-input v-model="val1" clearable @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="用户/商品/及其编号" prefix-icon="el-icon-search" class="search-input mb10">
        </el-input>
        <el-select v-model="val2" clearable @change="selectVal2" class="search-select mb10" filterable placeholder="选择机构">
          <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <el-select v-model="val4" clearable @change="selectVal4" class="search-select mb10" filterable placeholder="选择佣金等级">
          <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <el-date-picker class="mb10" clearable v-model="val5" @change="selectVal5" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </div>

      <el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" label="序号" width="55">
        </el-table-column>
        <el-table-column prop="nickName" label="推荐用户">
          <template slot-scope="scope">
            <div> {{scope.row.nickName}}</div>
            <div class="table-gray-text">{{scope.row.channelUserCode|changeOrganization}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="channelOrganizationName" label="所属机构">
          <template slot-scope="scope">
            <div>{{scope.row.channelOrganizationName|changeOrganization}}</div>
            <div class="table-gray-text">{{scope.row.channelOrganizationCode|changeOrganization}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="goodsName" label="推荐商品">
          <template slot-scope="scope">
            <div>{{scope.row.goodsName}}</div>
            <div class="table-gray-text">{{scope.row.goodsCode|changeOrganization}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="sellingPrice" label="商品价格(元)">
        </el-table-column>
        <el-table-column label="佣金比例">
          <template slot-scope="scope">
            <div>{{scope.row.commisionRate}}%</div>
            <div class="table-gray-text">{{scope.row.levelName}}</div>
          </template>
        </el-table-column>
        <el-table-column prop="modeValue" label="推荐渠道">
          <template slot-scope="scope">
            {{scope.row.modeValue||'未知'}}
          </template>
        </el-table-column>
        <el-table-column prop="channelRecordModeStatisticsDto.goodsClickCount" label="点击数">
        </el-table-column>
        <el-table-column prop="channelRecordModeStatisticsDto.grossDealCount" label="付款笔数">
        </el-table-column>
        <el-table-column prop="channelRecordModeStatisticsDto.preDealAmount" label="成交预估(元)">
        </el-table-column>
        <el-table-column prop="channelRecordModeStatisticsDto.preSettleAmount" label="结算预估(元)">
        </el-table-column>
        <el-table-column prop="createTime" label="推荐时间">
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <!-- <el-button v-if="scope.row.channelRecordModeStatisticsDto.channelRecordModeStatisticsId" @click="check(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看</el-button> -->
            <el-button @click="check(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看</el-button>
          </template>
        </el-table-column>
      </el-table>

      <div class="mt20">
        <el-button type="text"></el-button>
        <div class="fr">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeOrganization: function(value) {
      if (value == null) {
        return "无";
      } else {
        return value;
      }
    },
    changeOrganizationType: function(value) {
      if (value == 1) {
        return "用户";
      } else if (value == 2) {
        return "群";
      } else if (value == 3) {
        return "二维码";
      } else {
        return "未获取";
      }
    }
  },
  data() {
    return {
      val1: "", //搜索用户/用户编号/商品/商品编号
      val2: "", //选择机构
      val4: "", //选择佣金等级
      val5: "", //选择日期
      options2: [
        //机构选项
      ],
      options4: [
        //佣金等级选项
      ],
      total: 0,
      pages: 0,
      query: {
        pageNum: 1,
        pageSize: 20,
        commissionRateConfId: "",
        searchName: "",
        channelOrganizationId: "",
        beginTime: "",
        endTime: "",
        orderByGoodsClickCount: "",
        orderByGrossDealCount: "",
        orderByPreDealAmount: "",
        orderByPreSettleAmount: "",
        orderByCommisionRate: "",
        orderByCreateTime: ""
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取导购列表 */
    getData() {
      this.$http
        .get(this.$api.findChannelRecordList, { params: this.query })
        .then(rsp => {
          console.log("获取商品列表");
          console.log(rsp.data);
          if (rsp.data.data) {
            this.tableData = rsp.data.data.list;
            this.total = rsp.data.data.total;
          } else {
            this.tableData = [];
            this.total = 0;
          }
        });
    },
    /**@function 获取机构下拉列表 */
    getOrganization() {
      this.$http.get(this.$api.findAllChannelOrganization).then(rsp => {
        console.log("获取机构下拉列表");

        let data = rsp.data.data;
        let keys = [];
        let values = [];
        data.forEach((v, k) => {
          values.push(v.channelOrganizationId);
          keys.push(v.channelOrganizationName);
        });
        for (let i = 0; i < keys.length; i++) {
          let obj = {};
          obj.value = values[i];
          obj.label = keys[i];
          this.options2.push(obj);
        }
        console.log(this.options2);
      });
    },
    /**@function 获取佣金等级下拉列表 */
    getCommissionLevel() {
      this.$http.get(this.$api.findChannelCommissionRateConfList).then(rsp => {
        console.log("获取佣金等级下拉列表");
        console.log(rsp.data);
        let data = rsp.data.data;
        let keys = [];
        let values = [];
        data.forEach((v, k) => {
          keys.push(v.levelName);
          values.push(v.commissionRateConfId);
        });
        for (let i = 0; i < keys.length; i++) {
          let obj = {};
          obj.value = values[i];
          obj.label = keys[i];
          this.options4.push(obj);
        }
        console.log(this.options4);
      });
    },
    /**@function 搜索用户昵称/编号 */
    searchVal1() {
      this.query.searchName = this.val1;
      this.getData();
    },
    /**@function 选择机构 */
    selectVal2() {
      console.log(`channelOrganizationId==============` + this.val2);
      this.query.channelOrganizationId = this.val2;
      this.getData();
    },
    /**@function 选择佣金等级 */
    selectVal4() {
      this.query.commissionRateConfId = this.val4;
      this.getData();
    },
    /**@function 选择日期 */
    selectVal5() {
      if (this.val5) {
        this.query.beginDate = this.val5[0];
        this.query.endDate = this.val5[1].substring(0, 10) + " 23:59:59";
      } else {
        this.query.beginDate = this.query.endDate = "";
      }
      this.getData();
    },
    /**@function 查看导购*/
    check(row, $index) {
      console.log(`row==============`);
      console.log(row);
      this.$router.push({
        name: "rrd",
        params: {
          channelUserId: row.channelUserId,
          channelGoodsId: row.channelGoodsId,
          channelRecordModeStatisticsId:
            row.channelRecordModeStatisticsDto.channelRecordModeStatisticsId,
          userId: row.userId,
          channelRecordId: row.channelRecordId
        }
      });
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getData();
    },
    /**@function 分页 */
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getData();
    }
  },
  created() {
    this.getData();
    this.getOrganization();
    this.getCommissionLevel();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.table-gray-text {
  color: #999999;
  font-size: 14px;
}
</style>