<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">推荐列表</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content h500">

      <div class="search-group">
        <el-date-picker class="mb10" clearable v-model="val2" @change="selectVal2" type="daterange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </div>

      <el-table class="mb40" :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="channelGoodsCount" label="总商品量">
        </el-table-column>
        <el-table-column prop="goodsSettleCount" label="商品总结算量">
        </el-table-column>
        <el-table-column prop="userSettleCount" label="商品总结算用户量">
        </el-table-column>
      </el-table>

      <el-table :data="tableData" tooltip-effect="dark" style="width: 100%">
        <el-table-column prop="totalDealAmount" label="总销售额（元）">
        </el-table-column>
        <el-table-column prop="totalCommissionAmount" label="总产生佣金额（元）">
        </el-table-column>
      </el-table>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "启用";
      } else {
        return "停用";
      }
    }
  },
  data() {
    return {
      val2: [], //选择日期
      query: {},
      tableData: []
    };
  },
  methods: {
    /**@function 获取报告 */
    getGuideData() {
      this.$http
        .get(this.$api.findStatistics, { params: this.query })
        .then(rsp => {
          console.log("获取报告");
          console.log(rsp);
          if (rsp.data.flag) {
            this.tableData = [];
            this.tableData.push(rsp.data.data);
          } else {
            this.$message.error(rsp.data.msg);
          }
        });
    },

    /**@function 选择日期 */
    selectVal2() {
      if (this.val2) {
        this.query.beginDate = this.val2[0];
        this.query.endDate = this.val2[1].substring(0, 10) + " 23:59:59";
      } else {
        this.query.beginDate = this.query.endDate = "";
      }
      this.getGuideData();
    }
  },
  created() {
    this.getGuideData();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}

.up-btn {
  position: relative;
}

.file-upload {
  //   background: #4d6cf3;
  position: absolute;
  background: red;
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
</style>