// 引入自定义字体图标
@font-face {
    font-family: 'iconfont';  /* project id 559836 */
    src: url('//at.alicdn.com/t/font_559836_j71opt5oocs4te29.eot');
    src: url('//at.alicdn.com/t/font_559836_j71opt5oocs4te29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_559836_j71opt5oocs4te29.woff') format('woff'),
    url('//at.alicdn.com/t/font_559836_j71opt5oocs4te29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_559836_j71opt5oocs4te29.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


html,
body,
main {
    height: 100%;
}

//侧边栏一级菜单hover颜色
.el-submenu__title:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
//侧边栏向右向下图标
.el-aside .el-icon-arrow-down,.el-aside .el-icon-arrow-right{
    color: #fff  !important;
    font-size: 14px;
}
.el-menu-item{
    background: rgba(0, 0, 0, 0) !important;
    padding-left: 20px !important;
}

// 面包屑样式
.breadcrumb{
    .breadcrumb-head{
        font-size: 22px;
        font-family:MicrosoftYaHei;
        color:rgba(48,49,51,1);
        margin-bottom: 20px;
    }
    margin-bottom: 20px;
    .el-breadcrumb__inner{
        color: #909399 !important;
    }
}

//
.content{
    // border: 1px solid #e0e3e7;
    box-shadow: 2px 0px 8px RGBA(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
}
//设置content之间的间距
.content1{
    margin-bottom: 20px;
}

// 紫色背景
.purple-bg{
    background: #4D6CF3;
    color: #fff;
}
// 紫色字体
.purple-txt{
    color: #4d6cf3;
}
//橙色背景
.orange-bg{
    background: #FF7F00;
    color: #fff;
}
// 紫色字体
.orange-txt{
    color: #FF7F00;
}

// 输入搜索框设置宽
.search-input{
    width: 200px !important;
}
//选择搜索框设置宽
.search-select{
    width: 160px !important;
}

//设置表头背景颜色
.el-table thead th {
    background: #F7F7F7;
}

// 查看商品页轮播图高度
.check_goods .el-carousel__container {
    height: 380px !important;
}

.pr{
    position: relative;
}
.pa{
    position: absolute;
}



.upload-demo{
    & .el-upload-list--picture .el-upload-list__item {
    width: 52px;
    display: inline-block;}
    & .el-upload-list__item-name{
        display: none !important
    }
}


.addcarousel{
   & .el-upload-list__item-thumbnail,
   & .el-upload--picture-card,
   & .el-upload-list__item-actions,
   & .el-upload-list__item{
    width: 375px !important;
    height: 160px !important;
   }
}
// 宽度100%
.w100{
    width: 100%;
}
// flex布局
.flex{
  display: flex;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-bt{
  justify-content: space-between;
}
.flex-ais{
  align-items: flex-start;
}
.flex-aie{
  align-items: flex-end;
}
.flex-aic{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}

//边距
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.ml10{
    margin-left: 10px;
}
.ml20{
    margin-left: 20px;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}
.p10{
    padding: 10px;
}

//圆形
.br{
    border-radius: 50%;
}

//浮动
.fl{
    float: left
}
.fr{
    float: right
}

//鼠标点击的小手
.pointer{
    cursor: pointer;
}

// 字体大小
.f22{
    font-size: 22px;
}
.f24{
    font-size: 24px;
}
.f26{
    font-size: 26px;
}
.f28{
    font-size: 28px;
}
.f30{
    font-size: 30px;
}
.f32{
    font-size: 32px!important
}
.f34{
    font-size: 34px!important
}

// 字体颜色
.c333{
    color: #333;
}
.c666{
    color: #333;
}
.c999{
    color: #333;
}

// 上传图片框
//.avatar-uploader .el-upload {
//  border: 1px dashed #d9d9d9;
//  border-radius: 6px;
//  cursor: pointer;
//  position: relative;
//  overflow: hidden;
//}
//.avatar-uploader .el-upload:hover {
//  border-color: #409eff;
//}
//.avatar-uploader-icon {
//  font-size: 28px;
//  color: #8c939d;
//  width: 178px;
//  height: 178px;
//  line-height: 178px;
//  text-align: center;
//  border: 1px dashed #d7d7d7;
//  border-radius: 6px;
//}
//.avatar {
//  width: 178px;
//  height: 178px;
//  display: block;
//}
