<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">轮播图管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1 addcarousel">

      <div class="content-title">填写轮播图信息</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">

        <el-row>
          <el-col :span='8'>
            <el-form-item label="轮播图标题" prop="title">
              <el-input v-model.trim="ruleForm.name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="addcarousel-pic-input" style="height:200px">
          <el-col>
            <el-form-item label="轮播图图片">
              <el-upload :action="uploadApi"
               with-credentials
               name="upload_file"
               :data=upload_data
               list-type="picture-card"
               :before-upload="beforeAvatarUpload"
               :on-success="uploadImgHandler"
               :file-list="upImgs"
                :on-remove="handleRemove" :limit="1">
                <i class="el-icon-plus"></i>
                <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*320px；格式:jpg、png；大小：200KB以内</div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>

        <!-- <el-row>
          <el-form-item label="持续时间">
            <el-col :span='8'>
              <el-date-picker v-model="keepTime" type="daterange" range-separator="至" start-placeholder="轮播图开始日期" end-placeholder="轮播图结束日期" value-format="yyyy-MM-dd HH:mm:ss">
              </el-date-picker>
            </el-col>
          </el-form-item>
        </el-row> -->

        <el-row>
          <el-col :span='8'>
            <el-form-item label="排序号" prop="sort">
              <el-input type="number" v-model="ruleForm.index"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>

    </div>

    <!-- <div class="content content1">
      <div class="content-title">编辑广告跳转商品列表</div>
      <el-button class="purple-bg" @click="addGoods">新增</el-button>
      <div class="search-group" style="margin-top:20px">
        <el-input v-model.trim="val1" placeholder="请输入商品编号添加商品" prefix-icon="el-icon-search" class="search-input" @change="searchVal1" clearable>
        </el-input>
         <el-select clearable v-model="val2" @change="selectVal2" filterable placeholder="选择分类">
            <el-option v-for="(item, index) in options2" :key="index" :label="item.label" :value="item.value" class="search-select">
            </el-option>
        </el-select>
        <el-select clearable v-model="val3" @change="selectVal3" filterable placeholder="选择销售状态">
            <el-option v-for="(item, index) in options3" :key="index" :label="item.label" :value="item.value" class="search-select">
            </el-option>
        </el-select>
        <el-select clearable v-model="val4" @change="selectVal4" filterable placeholder="选择添加状态">
            <el-option v-for="(item, index) in options4" :key="index" :label="item.label" :value="item.value" class="search-select">
            </el-option>
        </el-select>
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'brand', order: 'descending'}">
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column prop="goodsName" label="名称">
        </el-table-column>
        <el-table-column prop="goodsCode" label="编号">
        </el-table-column>
        <el-table-column label="图片" width="70">
          <template slot-scope="scope">
            <img :src="scope.row.goodsCarouselImages[0]" width="52" height="52" />
          </template>
        </el-table-column>
        <el-table-column prop="goodsBrandName" label="品牌">
        </el-table-column>
        <el-table-column prop="goodsCategoryName" label="分类">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="isUp" label="销售状态">
          <template slot-scope="scope">
            {{scope.row.isUp|changeIsUp}}
          </template>
        </el-table-column>
        <el-table-column prop="stock" label="排序号" sortable width="140">
					<template slot-scope="scope">
						<el-input v-model="scope.row.stock" placeholder="999"></el-input>
					</template>
				</el-table-column>

        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="checkGoods(scope.row)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button type="text" size="small" class="orange-txt" @click="delGoods(scope.row)">删除</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px">
        <el-button class="orange-bg" @click="delSelected">批量删除</el-button>

        <div class="pagination">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="400">
					</el-pagination>
				</div>
      </div>

    </div> -->
    <el-button class="purple-bg" @click="save">保存</el-button>
    <!-- <el-button class="purple-bg" @click="saveAndAdd">保存并继续新增</el-button> -->
    <el-button class="orange-bg" @click="cancel">取消</el-button>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    }
  },
  data() {
    return {
      uploadApi: this.$uploadApi, //图片上传api
      upload_data: { file_type: 10 },
      upImgs: [],
      keepTime: "",
      getGoodsIds: [],
      multipleSelection: [],
      val1: "",
      val2: "",
      val3: "",
      val4: "",
      options2: [],
      options3: [
        {
          value: "1",
          label: "上线"
        },
        {
          value: "0",
          label: "下线"
        }
      ],
      options4: [
        {
          value: "1",
          label: "已添加"
        },
        {
          value: "0",
          label: "未添加"
        }
      ],
      ruleForm: {
        name:"",
        index: "",
        goods_ids: 0,
        shop_id: "",
        image: "",
        type: 1
      },
      rules: {},
      value8: "",
      tableData: []
    };
  },
  methods: {
    /**@function 查看 */
    checkGoods(row) {
      console.log("查看商品");
      console.log(row);
      this.$router.push({
        name: "gc",
        params: { id: row.goodsId }
      });
    },
    /**@function 删除当前行 */
    delGoods(row) {
      console.log(row.goodsId);
      this.$confirm("是否删除？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let i = this.getGoodsIds.indexOf(row.goodsId);
          this.getGoodsIds.splice(i, 1);
          let index = this.tableData.indexOf(row);
          if (index > -1) {
            this.tableData.splice(index, 1);
            this.$message({
              type: "warning",
              message: "删除成功!"
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除操作"
          });
        });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 图片 */
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    /**@function 控制上传文件规格 */
    beforeAvatarUpload(file) {
      console.log("控制上传文件规格");
      console.log(file);
      const isType = file.type == "image/jpeg" || "image/png";
      const isLt = file.size / 1024 / 1024 < 2;
      if (!isType) {
        this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
      }
      if (!isLt) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return isType && isLt;
    },  
    /**@function 图片上传成功事件 */
    uploadImgHandler(res) {
      console.log("图片上传成功事件");
      console.log(res);

      this.ruleForm.image = this.$imgApi + res.data.file_md5;
    },
    /**@function 保存 */
    save() {
      console.log(this.ruleForm);

       let postData = this.$qs.stringify({
          name:this.ruleForm.name,
          goods_ids: this.ruleForm.goods_ids,
          image: this.ruleForm.image,
          index: this.ruleForm.index,
          shop_id: this.ruleForm.shop_id,
          type:10
        });
      console.log("保存");
      console.log(postData);
      this.$http.post(this.$api.addAdImage, postData).then(rsp => {
        // this.$isot(rsp); //登录超时处理函数
        if (rsp.data.result==0) {
          console.log(rsp.data);
          this.$message.success("保存成功！");
          //  保存成功后跳转
          // console.log(rsp.data.data.adImageId);
          this.$router.push({
            name: 'cc'
          });
        } else {
          this.$message.error("数据未填写完毕或出错，请重新检查！");
        }
      });
    },
    // /**@function 保存并新增 */
    // saveAndAdd() {
    //   console.log(this.ruleForm);
    //   this.save();
    //   console.log("跳转");
    //   //  保存成功后刷新本页。。。
    //   this.$router.go(0);
    // },
    /**@function 取消 */
    cancel() {
      this.$confirm("取消后将直接返回上一页面，请确认是否取消？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "取消成功!"
          });
          this.$router.go(-1);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "放弃 [取消] 操作!"
          });
        });
    },
    /**@function 根据商品ID获取商品详情并添加到table中 */
    getGoodsById(id) {
      this.$http(this.$api.findGoods + `?goodsId=${id}`).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
        this.tableData.push(rsp.data.data);
        console.log("根据商品ID查询商品");
        //  console.log(this.tableData)
        console.log(rsp.data);
      });
    },
    /**@function 根据编号获取商品ID，再根据ID添加商品 */
    addGoods() {
      console.log(this.val1);
      this.$http(
        this.$api.findGoodsByGoodsCode + `?goodsCode=${this.val1}`
      ).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
        console.log("添加商品");
        console.log(rsp.data);
        // console.log(rsp.data.data[0]);
        if (!rsp.data.data[0]) {
          this.$message.error("商品编号错误！");
          return false;
        }
        let id = rsp.data.data[0];
        //判断商品是已添加过
        if (this.getGoodsIds.indexOf(id) != -1) {
          this.$message.error("该商品已在表中！");
        } else {
          this.getGoodsById(id);
          this.getGoodsIds.push(id);
        }
      });
      //   商品编号错误则$message提示
    },
    /**@function 搜索val1 */
    searchVal1() {
      console.log(this.val1);
    },
    /**@function 选择val2 */
    selectVal2() {
      console.log(this.val2);
    },
    /**@function 选择val3 */
    selectVal3() {
      console.log(this.val3);
    },
    selectVal4() {
      console.log(this.val3);
    },
    /**@function 批量删除 */
    delSelected() {
      if (this.multipleSelection.length != 0) {
        this.$confirm("是否批量删除？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            // this.$message({
            //   type: "warning",
            //   message: "删除成功!"
            // });
            console.log("批量删除");
            console.log(this.multipleSelection);

            for (let i = 0; i < this.multipleSelection.length; i++) {
              // let i = this.getGoodsIds.indexOf(
              //   this.multipleSelection[i].goodsId
              // );
              this.getGoodsIds.splice(i, 1);
              let index = this.tableData.indexOf(this.multipleSelection[i]);
              if (index > -1) {
                this.tableData.splice(index, 1);
              }
            }
            this.$message({
              type: "warning",
              message: "删除成功!"
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除操作"
            });
          });
      } else {
        this.$message({
          type: "error",
          message: "当前未选中任何行！"
        });
      }
    }
  },
  created() {
    console.log("shop_id");
    console.log(window.sessionStorage.getItem("shop_id"));
    var shop_id = window.sessionStorage.getItem("shop_id");
    this.ruleForm.shop_id = shop_id;
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}

// .addcarousel-pic-input{
//     height: 400px;
// }
</style>
