<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">轮播图管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1 addcarousel">

      <div class="content-title">填写轮播图信息</div>

      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">

        <el-row>
          <el-col :span='8'>
            <el-form-item label="轮播图标题" prop="title">
              <el-input v-model.trim="ruleForm.title"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row class="addcarousel-pic-input" style="height:200px">
          <el-col>
            <el-form-item label="轮播图图片">
              <el-upload :action="imgApi" list-type="picture-card" :before-upload="beforeAvatarUpload" :on-success="uploadImgHandler" :file-list="upImgs" :on-remove="handleRemove" :limit="1">
                <i class="el-icon-plus"></i>
                <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*320px；格式:jpg、png；大小：200KB以内</div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-form-item label="持续时间">
            <el-col :span='8'>
              <el-date-picker v-model="keepTime" type="daterange" range-separator="至" start-placeholder="轮播图开始日期" end-placeholder="轮播图结束日期" value-format="yyyy-MM-dd HH:mm:ss">
              </el-date-picker>
            </el-col>
          </el-form-item>
        </el-row>

        <el-row>
          <el-col :span='8'>
            <el-form-item label="排序号" prop="sort">
              <el-input type="number" v-model="ruleForm.sort"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
      <el-button class="purple-bg" @click="save">保存</el-button>
      <el-button class="orange-bg" @click="cancle">取消</el-button>
    </div>

    <div class="content content1">
      <div class="content-title">编辑轮播图跳转商品列表</div>

      <div class="search-group">
        <!-- <el-input v-model.trim="val1" placeholder="请输入商品编号添加商品" prefix-icon="el-icon-search" class="search-input" clearable>
        </el-input> -->
        <el-button icon="el-icon-plus" class="purple-bg" @click="addGoods">添加</el-button>
      </div>

      <!-- <div class="search-group">
        <el-input v-model.trim="val1" clearable @blur="searchVal1" @keyup.enter.native="searchVal1" placeholder="搜索广告名称" prefix-icon="el-icon-search" class="search-input">
        </el-input>

        <el-select v-model="val2" clearable filterable placeholder="选择广告状态" @change="selectVal2">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">
          </el-option>
        </el-select>

        <el-date-picker v-model="val3" clearable @change="selectVal3" type="daterange" range-separator="至" start-placeholder="选择开始日期" end-placeholder="选择结束日期">
        </el-date-picker>

      </div> -->

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'brand', order: 'descending'}">
        <el-table-column type="selection">
        </el-table-column>
        <el-table-column prop="goodsName" label="名称">
        </el-table-column>
        <el-table-column prop="goodsCode" label="编号">
        </el-table-column>
        <el-table-column label="图片" width="70">
          <template slot-scope="scope">
            <img :src="scope.row.imageUrl" width="52" height="52" />
          </template>
        </el-table-column>
        <el-table-column prop="goodsBrandName" label="品牌">
        </el-table-column>
        <el-table-column prop="categoryName" label="分类">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价(元)">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量(件)">
        </el-table-column>
        <el-table-column prop="isUp" label="销售状态">
          <template slot-scope="scope">
            {{scope.row.isUp|changeIsUp}}
          </template>
        </el-table-column>
        <!-- <el-table-column prop="stock" label="排序号" sortable width="140">
					<template slot-scope="scope">
						<el-input v-model="scope.row.stock" placeholder="999"></el-input>
					</template>
				</el-table-column> -->

        <el-table-column label="操作">
          <template slot-scope="scope">
            <!-- <el-button @click="checkGoods(scope.row)" type="text" size="small" class="purple-txt">查看</el-button> -->
            <el-button type="text" size="small" class="orange-txt" @click="delGoods(scope.row)">删除</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px">
        <!-- <el-button class="orange-bg" @click="delSelected">批量删除</el-button> -->

        <!-- <div class="pagination">
					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="400">
					</el-pagination>
				</div> -->
      </div>

    </div>
    <el-button  class="orange-bg" @click="delSelected">批量删除</el-button>
    <el-button  class="orange-bg" @click="goBack">返回</el-button>

  </div>
</template>

<script>
  export default {
    filters: {
      changeIsUp: function(value) {
        if (value == 1) {
          return "上架";
        } else {
          return "下架";
        }
      }
    },
    data() {
      return {
        imgApi: this.$imgApi, //图片上传api
        carouselDetail: {}, //获取广告的详情
        upImgs: [],
        keepTime: [],
        getGoodsIds: [],
        multipleSelection: [],
        val1: "",
        val2: "",
        val3: "",
        ruleForm: {
          title: "",
          imgUrl: "",
          jumpType: "",
          jumpTypeParam: "",
          sort: 999,
          beginUseTime: "",
          endUseTime: "",
          goodsIds: ""
        },
        rules: {
          title: [{ required: true, message: "请输入广告标题", trigger: "blur" }],
          sort: [
            { required: true, message: "请输入排序号", trigger: "blur" },
            {
              pattern: /^\d+$/,
              message: "请输入数字",
              trigger: "blur"
            }
          ]
        },
        value8: "",
        tableData: [],
        query: {
          pageNum: 1,
          pageSize: 999,
          name: "",
          goodsCategoryId: "",
          isUp: "",
          goodsAudit: "",
          storeAdImageId: "",
          adImageId: ""
        }
      };
    },
    methods: {
      /**@function 获取广告详情 */
      getCarouselDetail() {
        let id = this.$route.params.id;
        this.$http
          .get(this.$api.findStoreAdImage, {
            params: { adImageId: this.$route.params.id }
          })
          .then(rsp => {
            console.log("获取广告详情");
            console.log(rsp.data);
            this.carouselDetail = rsp.data.data;
            let upImgsObj = {};
            upImgsObj.name = upImgsObj.url = this.carouselDetail.imgUrl;
            this.upImgs.push(upImgsObj);
            this.ruleForm.imgUrl = this.carouselDetail.imgUrl; //图片存入ruleForm
            this.ruleForm.title = this.carouselDetail.title;
            this.ruleForm.sort = this.carouselDetail.sort;
            this.keepTime.push(this.carouselDetail.beginUseTime);
            this.keepTime.push(this.carouselDetail.endUseTime);
          });
      },
      /**@function 获取广告商品列表 */
      getGoodsList() {
        this.query.storeAdImageId = this.$route.params.id;
        this.$http
          .get(this.$api.findGoodsListPage, { params: this.query })
          .then(rsp => {
            console.log("获取广告商品列表");
            console.log(rsp.data);
            this.tableData = rsp.data.data.list;
            //   this.total = rsp.data.data.total;
          });
      },
      /**@function 查看 */
      // checkGoods(row) {
      //   console.log("查看商品");
      //   console.log(row);
      //   this.$router.push({
      //     name: "gc",
      //     params: { id: row.goodsId }
      //   });
      // },
      /**@function 删除当前行 */
      delGoods(row) {
        console.log(row.goodsId);
        this.$confirm("是否删除？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            params.adImageId = this.$route.params.id;
            params.goodsIds = row.goodsId;
            this.$http
              .get(this.$api.delStoreAdImageGoodsBatch, { params: params })
              .then(rsp => {
                this.$isot(rsp); //登录超时处理函数
                if (rsp.data.flag) {
                  this.$message({
                    type: "warning",
                    message: "删除成功!"
                  });
                  this.getGoodsList();
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除操作"
            });
          });
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      /**@function 图片 */
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      /**@function 控制上传文件规格 */
      beforeAvatarUpload(file) {
        console.log("控制上传文件规格");
        console.log(file);
        const isType = file.type === "image/jpeg" || "image/png";
        const isLt = file.size / 1024 / 1024 < 2;
        if (!isType) {
          this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
        }
        if (!isLt) {
          this.$message.error("上传图片大小不能超过 2MB!");
        }
        return isType && isLt;
      },
      /**@function 图片上传成功事件 */
      uploadImgHandler(data) {
        console.log("图片上传成功事件");
        // console.log(data);
        this.ruleForm.imgUrl = data.data[0].fileUrl;
        console.log(this.ruleForm.imgUrl);
      },
      /**@function 保存 */
      save() {
        let params = {};

        params.adImageId = this.carouselDetail.adImageId;
        params.title = this.ruleForm.title;
        params.imgUrl = this.ruleForm.imgUrl;
        params.jumpType = 2;
        params.sort = this.ruleForm.sort;
        params.beginUseTime = this.keepTime[0];
        params.endUseTime = this.keepTime[1].substring(0, 10) + " 23:59:59";

        console.log("保存");
        console.log(params);
        let formDataToJson = JSON.stringify(params);
        this.$http
          .post(this.$api.updateStoreAdImage, formDataToJson)
          .then(rsp => {
            this.$isot(rsp); //登录超时处理函数
            if (rsp.data.flag) {
              console.log(rsp.data);
              this.$message.success("保存成功！");
              //  保存成功后跳转
              this.$router.go(-1);
            } else {
              this.$message.error("数据未填写完毕或出错，请重新检查！");
            }
          });
      },
      /**@function 取消 */
      cancle() {
        this.$confirm("取消后将直接返回上一页面，请确认是否取消？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.$message({
              type: "success",
              message: "取消成功!"
            });
            this.$router.go(-1);
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "放弃 [取消] 操作!"
            });
          });
      },
      /**@function 根据商品ID添加*/
      getGoodsById(id) {
        let params = {};
        params.storeAdImageId = this.$route.params.id;
        params.goodsId = id;
        this.$http
          .get(this.$api.addStoreAdImageOneGoods, { params: params })
          .then(rsp => {
            this.$isot(rsp); //登录超时处理函数
            if (rsp.data.flag) {
              this.$message({
                type: "success",
                message: "添加成功!"
              });
              this.getGoodsList();
            }
          });
      },
      /**@function 根据编号获取商品ID，再根据ID添加商品 */
      addGoods() {
        this.$router.push({
          name: "cmad",
          params: { adImageId: this.$route.params.id }
        });
        // console.log(this.val1);
        // this.$http(
        //   this.$api.findGoodsByGoodsCode + `?goodsCode=${this.val1}`
        // ).then(rsp => {
        //   this.$isot(rsp); //登录超时处理函数
        //   console.log("添加商品");
        //   console.log(rsp.data);
        //   // console.log(rsp.data.data[0]);
        //   if (!rsp.data.data[0]) {
        //     this.$message.error("商品编号错误！");
        //     return false;
        //   }
        //   let id = rsp.data.data[0];
        //   //判断商品是已添加过
        //   if (this.getGoodsIds.indexOf(id) != -1) {
        //     this.$message.error("该商品已在表中！");
        //   } else {
        //     this.getGoodsById(id);
        //     //   this.getGoodsIds.push(id);
        //   }
        // });
        // //   商品编号错误则$message提示
      },
      /**@function 返回 */
      goBack() {
        this.$router.go(-1);
      },
      /**@function 搜索val2 */
      searchVal2() {
        console.log(this.val2);
      },
      /**@function 选择val3 */
      selectVal3() {
        console.log(this.val3);
      },
      /**@function 批量删除 */
      delSelected() {
        if (this.multipleSelection.length != 0) {
          this.$confirm("是否批量删除？", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              console.log("批量删除");
              console.log(this.multipleSelection);
              var goodsIds = "";
              this.multipleSelection.forEach(function(o, i) {
                goodsIds = o.goodsId + "," + goodsIds;
              });
              this.$http
                .get(this.$api.delStoreAdImageGoodsBatch, {
                  params: {
                    goodsIds: goodsIds,
                    adImageId: this.$route.params.id
                  }
                })
                .then(rsp => {
                  this.$isot(rsp); //登录超时处理函数
                  if (rsp.data.flag) {
                    this.$message({
                      type: "warning",
                      message: "删除成功!"
                    });
                    this.getGoodsList();
                  }
                });
            })
            .catch(() => {
              this.$message({
                type: "info",
                message: "已取消删除操作"
              });
            });
        } else {
          this.$message({
            type: "error",
            message: "当前未选中任何行！"
          });
        }
      }
    },
    created() {
      this.getCarouselDetail();
      this.getGoodsList();
    }
  };
</script>

<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }
  .pagination {
    float: right;
  }
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }

  // .addcarousel-pic-input{
  //     height: 400px;
  // }
</style>

