<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">轮播图管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">

      <div class="btn-group">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addCarousel">新增横幅广告图</el-button>
      </div>

      <div class="search-group">
        <!--<el-input v-model.trim="val1" clearable @blur="searchVal1" @keyup.enter.native="searchVal1" placeholder="搜索广告名称" prefix-icon="el-icon-search" class="search-input">-->
        <!--</el-input>-->

        <el-select v-model="val2" clearable filterable placeholder="选择横幅广告状态" @change="selectVal2">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" class="search-select">
          </el-option>
        </el-select>

        <el-date-picker v-model="val3" clearable @change="selectVal3" type="daterange" range-separator="至" start-placeholder="选择开始日期" end-placeholder="选择结束日期">
        </el-date-picker>

      </div>

      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'sort_no', order: 'descending'}">
        <el-table-column type="index" label="序号">
        </el-table-column>
        <el-table-column prop="title" label="横幅广告图名称">
        </el-table-column>
        <el-table-column label="图片" width="260">
          <template slot-scope="scope">
            <img :src="scope.row.imgUrl" width="240" />
          </template>
        </el-table-column>
        <el-table-column label="横幅广告图持续时间">
          <template slot-scope="scope">
            {{scope.row.beginUseTime}} 至 {{scope.row.endUseTime}}
          </template>
        </el-table-column>
        <el-table-column prop="sort" label="排序号" sortable>
          <template slot-scope="scope">
            <el-input :disabled="true" @keyup.enter.native="changeSort(scope.row)" v-model="scope.row.sort" placeholder="999"></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="isUp" label="横幅广告图状态">
          <template slot-scope="scope">
            {{scope.row.isUp|changeIsUp}}
          </template>

        </el-table-column>

        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="checkcarousel(scope.row)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button v-if=" scope.row.isUp != '1' " type="text" size="small" class="purple-txt" ref @click="toggle(scope.row,$event)">上线</el-button>
            <el-button v-if=" scope.row.isUp == '1' " type="text" size="small" class="orange-txt" ref @click="toggle(scope.row,$event)">下线</el-button>
          </template>
        </el-table-column>

      </el-table>

      <div style="margin-top: 20px">
        <el-button type="text" disabled>

        </el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="query.pageNum" :page-sizes="[20, 50, 100,200]" :page-size="query.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上线";
      } else {
        return "下线";
      }
    }
  },
  data() {
    return {
      total: 0,
      pages: 0,
      multipleSelection: [],
      val1: "",
      val2: "",
      val3: "",
      options: [
        {
          value: "1",
          label: "上线"
        },
        {
          value: "0",
          label: "下线"
        }
      ],
      value8: "",
      query: {
        pageNum: 1,
        pageSize: 20,
        title: "",
        isUp: "",
        beginUseTime: "",
        endUseTime: ""
      },
      tableData: []
    };
  },
  methods: {
    /**@function 获取广告列表 */
    getCarouselList() {
      this.$http
        .get(this.$api.findAdImageListPage, { params: {shop_id:this.shop_id}})
        .then(rsp => {
          this.$isot(rsp); //登录超时处理函数
          console.log("获取广告列表");
          console.log(rsp.data);
          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    },
    /**@function 查看 */
    checkcarousel(row) {
      this.$router.push({
        name: "ccia",
        params: { id: row.adImageId }
      });
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(pageSize) {
      this.query.pageSize = pageSize;
      this.getCarouselList();
    },
    handleCurrentChange(pageNum) {
      this.query.pageNum = pageNum;
      this.getCarouselList();
    },
    /**@function 新增商品 */
    addCarousel() {
      this.$router.push("/carousel/addindexadimg");
    },
    /**@function 搜索 */
    searchVal1() {
      this.query.title = this.val1;
      this.getCarouselList();
    },
    /**@function 选择 */
    selectVal2() {
      this.query.isUp = this.val2;
      this.getCarouselList();
    },
    selectVal3() {
      if (this.val3) {
        this.query.beginUseTime = this.val3[0];
        this.query.endUseTime = this.val3[1].substring(0, 10) + " 23:59:59";
      } else {
        this.query.beginUseTime = this.query.endUseTime = "";
      }
      this.getCarouselList();
    },
    /**@function 修改排序号 */
    changeSort(row) {
      console.log("修改排序号");
      console.log(row);
    },
    /**@function 上线下线请求函数 */
    toggleIsUp(adImageId, status) {
      this.$http(
        this.$api.updateStoreAdImageStauts +
          `/?adImageId=${adImageId}&status=${status}`
      ).then(rsp => {
        this.$isot(rsp); //登录超时处理函数
      });
    },
    /**@function 上线下线 */
    toggle(row, e) {
      if (row.isUp == "1") {
        this.$confirm("是否下线广告？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            let params = {};
            console.log("下线广告");
            params.adImageId = row.adImageId;
            params.status = 0;
            this.$http
              .get(this.$api.updateStoreAdImageStauts, {
                params: params
              })
              .then(rsp => {
                this.$isot(rsp); //登录超时处理函数
                this.getCarouselList();
              });
            this.$message({
              type: "warning",
              message: "下线广告成功!"
            });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消 [下线] 操作"
            });
          });
      } else {
        let params = {};
        params.adImageId = row.adImageId;
        params.status = 1;
        this.$http
          .get(this.$api.updateStoreAdImageStauts, { params: params })
          .then(rsp => {
            this.$isot(rsp); //登录超时处理函数
            this.getCarouselList();
          });
        this.$message({
          type: "success",
          message: "上线广告成功!"
        });
      }
    }
  },
  created() {
    console.log("shop_id");
    console.log(window.sessionStorage.getItem("shop_id"));
    var shop_id = window.sessionStorage.getItem("shop_id");
    this.shop_id = shop_id;
    this.getCarouselList();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}
</style>
