<template>
    <div>

        <!-- 面包屑导航 -->
        <div class="breadcrumb">
            <div class="breadcrumb-head">小程序管理</div>
            <el-breadcrumb>
                <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
            </el-breadcrumb>
        </div>

        <div class="content">

            <!--<div class="btn-group">-->
            <!--<el-input v-model="val1" placeholder="请输入商品编号添加热门推荐" class="search-input">-->
            <!--</el-input>-->
            <!--<el-button icon="el-icon-plus" class="purple-bg" @click="addGoods">添加</el-button>-->
            <!--</div>-->
            <!--<div class="content-title">添加热门推荐商品</div>-->

            <div class="search-group">
                <el-input @keyup.enter.native="searchVal2" v-model.trim="val2" @blur="searchVal2" clearable placeholder="搜索商品名称/编号/品牌" prefix-icon="el-icon-search" class="search-input">
                </el-input>
                <el-cascader class="mb10" clearable placeholder="选择分类" expand-trigger="click" :options="options4" v-model="val4" @change="selectVal4" change-on-select>
                </el-cascader>
                <el-select clearable v-model="val5" @change="selectVal5" filterable placeholder="选择销售状态">
                    <el-option v-for="(item, index) in options5" :key="index" :label="item.label" :value="item.value" class="search-select">
                    </el-option>
                </el-select>
                <!--<el-select  v-model="val6" @change="selectVal6" filterable placeholder="选择添加状态">-->
                <!--<el-option v-for="(item, index) in options6" :key="index" :label="item.label" :value="item.value"-->
                <!--class="search-select">-->
                <!--</el-option>-->
                <!--</el-select>-->
            </div>

            <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection">
                </el-table-column>
                <el-table-column prop="goodsName" label="名称">
                </el-table-column>
                <el-table-column prop="imageUrl" label="图片" width="70">
                    <template slot-scope="scope">
                        <img :src="scope.row.imageUrl" width="52" height="52" />
                    </template>
                </el-table-column>
                <el-table-column prop="goodsCode" label="编号">
                </el-table-column>
                <el-table-column prop="storeName" label="店铺">
                </el-table-column>
                <el-table-column prop="goodsBrandName" label="品牌">
                </el-table-column>
                <el-table-column prop="categoryName" label="分类">
                </el-table-column>
                <el-table-column prop="originalPrice" label="原价(元)">
                </el-table-column>
                <el-table-column prop="sellingPrice" label="销售价(元)">
                </el-table-column>
                <el-table-column prop="inventory" label="库存量(件)">
                </el-table-column>
                <el-table-column prop="goodsResource.isUp" label="销售状态">
                    <template slot-scope="scope">
                        {{ scope.row.isUp | changeIsUp }}
                    </template>
                </el-table-column>

                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button @click="checkgoods(scope.row,scope.$index)" type="text" size="small" class="purple-txt">查看</el-button>
                        <el-button type="text" size="small" class="orange-txt" @click="addGoods(scope.row)" v-if="scope.row.isStoreAdGoods==0">添加</el-button>
                    </template>
                </el-table-column>

            </el-table>

            <div style="margin-top: 20px">
                <el-button class="orange-bg" @click="addSelect">批量添加</el-button>
                <div class="pagination">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :page-sizes="[20, 30, 50, 100]" layout="total, sizes, prev, pager, next, jumper" :page-size="query.pageSize" :current-page="query.pageNum" :total="total">
                    </el-pagination>
                </div>
            </div>

        </div>
        <el-button class="orange-bg mt20" @click="goBack">返回</el-button>
    </div>
</template>

<script>
export default {
  filters: {
    changeIsUp: function(value) {
      if (value == 1) {
        return "上架";
      } else {
        return "下架";
      }
    }
  },
  data() {
    return {
      query: {
        pageNum: 1,
        pageSize: 20,
        hasAdd: 0
      },
      total: 0,
      val1: "",
      val2: "",
      val3: "",
      val4: [],
      val5: "",
      val6: 0,
      multipleSelection: [],
      options3: [],
      options4: [],
      options5: [
        {
          value: 1,
          label: "上架"
        },
        {
          value: 0,
          label: "下架"
        }
      ],
      options6: [
        {
          value: 1,
          label: "已添加"
        },
        {
          value: 0,
          label: "未添加"
        }
      ],
      adImageId: "",
      tableData: [],
      currentPage: 1
    };
  },
  methods: {
    /**@function 添加商品 */
    addGoods(row) {
      console.log(row);
      this.$http
        .get(this.$api.addStoreAdImageOneGoods, {
          params: { goodsIds: row.goodsId, storeAdImageId: this.adImageId }
        })
        .then(rsp => {
          console.log("添加轮播图商品");
          console.log(rsp);
          if (rsp.data.flag) {
            this.$message({
              type: "success",
              message: "添加商品成功"
            });
            this.getAdImageGoodsList();
          } else {
            this.$message({
              type: "error",
              message: rsp.data.msg
            });
          }
        });
    },
    /**@function 获取分类下拉列表 */
    getCategoryData() {
      this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
        console.log("获取分类下拉列表");
        console.log(rsp.data);
        let orData = rsp.data.data;

        let toget = function(orData) {
          let data = orData;
          let arrl = orData.length;
          let arr = [];
          for (let i = 0; i < arrl; i++) {
            //一级
            let obj1 = {};
            obj1.value = data[i].id;
            obj1.label = data[i].name;
            if (data[i].children != null) {
              //有2级
              obj1.childrentemp = data[i].children;
              obj1.children = [];
              for (let j = 0; j < obj1.childrentemp.length; j++) {
                let obj2 = {};
                obj2.value = obj1.childrentemp[j].id;
                obj2.label = obj1.childrentemp[j].name;
                obj1.children.push(obj2);
                if (obj1.childrentemp[j].children != null) {
                  //有3级
                  obj2.children = [];
                  obj2.childrentemp = obj1.childrentemp[j].children;
                  for (let k = 0; k < obj2.childrentemp.length; k++) {
                    let obj3 = {};
                    obj3.value = obj2.childrentemp[k].id;
                    obj3.label = obj2.childrentemp[k].name;
                    obj2.children.push(obj3);
                  }
                } else {
                  //没有3级
                }
              }
              arr[i] = obj1;
            } else {
              //没有2级
              arr[i] = obj1;
            }
          }
          return arr;
        };
        let arr = toget(orData);
        console.log("生成分类数据");
        console.log(arr);
        this.options4 = arr;
      });
    },
    /**@function 搜索商品名称/编号/品牌 */
    searchVal2() {
      console.log(this.val2);
      this.query.name = this.val2;
      this.getAdImageGoodsList();
    },
    /**@function 选择店铺 */
    selectVal3() {
      this.query.storeId = this.val3;
      this.getAdImageGoodsList();
    },
    /**@function 选择分类 */
    selectVal4() {
      console.log(this.val4);
      let l = this.val4.length;
      this.query.goodsCategoryId = this.val4[l - 1];
      this.getAdImageGoodsList();
    },
    /**@function 选择销售状态 */
    selectVal5() {
      console.log(this.val5);
      this.query.isUp = this.val5;
      this.getAdImageGoodsList();
    },
    // 选择添加状态
    // selectVal6() {
    //     console.log(this.val6);
    //     this.query.hasAdd = this.val6;
    //     this.getHotGoodsList();
    // },

    /**@function 批量添加 */
    addSelect() {
      if (this.multipleSelection.length != 0) {
        this.$confirm("是否添加选中的商品？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            var goodsIds = "";
            this.multipleSelection.forEach(function(o, i) {
              goodsIds = o.goodsId + "," + goodsIds;
            });
            this.$http
              .get(this.$api.addStoreAdImageOneGoods, {
                params: { goodsIds: goodsIds, storeAdImageId: this.adImageId }
              })
              .then(rsp => {
                console.log("添加轮播图商品");
                console.log(rsp);
                if (rsp.data.flag) {
                  this.$message({
                    type: "success",
                    message: "添加商品成功!"
                  });
                  this.getAdImageGoodsList();
                } else {
                  this.$message({
                    type: "error",
                    message: rsp.data.msg
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消"
            });
          });
      } else {
        this.$message({
          type: "error",
          message: "当前未选中任何行！"
        });
      }
    },
    /**@function 查看商品 */
    checkgoods(row, $index) {
      console.log(row);
      console.log($index);
      this.$router.push({
        name: "gc",
        params: {
          id: row.goodsId
        }
      });
    },
    /**@function 选择赋值 */
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    /**@function 分页 */
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.query.pageSize = val;
      this.getAdImageGoodsList();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.query.pageNum = val;
      this.getAdImageGoodsList();
    },
    /**@function 返回 */
    goBack() {
      this.$router.push({
        name: "cck",
        params: { id: this.adImageId }
      });
    },
    //  获取轮播图商品列表
    getAdImageGoodsList() {
      var self = this;
      this.$http
        .get(this.$api.findAdImageGoodsPageList, { params: this.query })
        .then(rsp => {
          console.log("轮播图商品列表");
          console.log(rsp);

          this.tableData = rsp.data.data.list;
          this.total = rsp.data.data.total;
        });
    }
  },
  created() {
    var adImageId = this.$route.params.adImageId;
    console.log("轮播图ID");
    console.log(adImageId);
    this.query.adImageId = adImageId;
    this.adImageId = adImageId;
    this.getAdImageGoodsList();
    this.getCategoryData();
  }
};
</script>

<style scoped lang="less">
.btn-group,
.search-group {
  margin-bottom: 20px;
}
.pagination {
  float: right;
}

.up-btn {
  position: relative;
}

.file-upload {
  position: absolute;
  background: red;
  color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
</style>