<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">活动管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1 addcarousel">
      <div class="btn-group">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addActivityGoods">添加商品</el-button>
      </div>
      <div class="search-group">
        <el-input v-model.trim="val1" @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="搜索商品名称 / 编号 / 品牌" prefix-icon="el-icon-search" class="search-input" clearable>
        </el-input>
        <el-cascader class="mt5 mb5" clearable placeholder="选择平台分类" expand-trigger="click" :options="val4Options" v-model="val4" @change="selectVal2" change-on-select>
        </el-cascader>
        <el-select v-model="val3" clearable @change="selectVal3" class="search-select mb10" filterable placeholder="选择店铺分类">
          <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>

      </div>
      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'sort_no', order: 'descending'}">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="goodsName" label="名称" width="100px">
        </el-table-column>
        <el-table-column prop="img" label="图片" width="150px;">
          <template slot-scope="scope">
            <img src="scope.row.goodsImageUrl" alt="" style="width:60px;height:60px;">
          </template>
        </el-table-column>
        <el-table-column prop="goodsCode" label="编号" width="150px;">
        </el-table-column>
        <el-table-column prop="storeCategoryName" label="店铺分类" width="150px;">
        </el-table-column>
        <el-table-column prop="goodsBrandCnName" label="品牌" width="150px;">
        </el-table-column>
        <el-table-column prop="storeName" label="分类" width="150px;">
        </el-table-column>
        <el-table-column prop="originalPrice" label="原价（元）" width="150px">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价（元）" width="150px">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量（件）" width="150px">
        </el-table-column>
        <el-table-column prop="sort" label="排序号" sortable width="150px">
          <template slot-scope="scope">
            <el-input v-model="scope.row.sort" placeholder="999" @keyup.enter.native="changeSort(scope.row)" @blur="changeSort(scope.row)" style="width: 80px"></el-input>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="checkOrganization(scope.row)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button @click="cancel(scope.row,scope.$index)" type="text" size="small" class="orange-txt">删除</el-button>
          </template>
        </el-table-column>

      </el-table>
      <div style="margin-top: 20px">
        <el-button class="orange-bg" @click="deleteSelect">批量删除</el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>


</template>
<script>
  export default {
    data() {
      return {
        query: {
          pageNum: 1,
          pageSize: 10
        },
        total: 0,
        val1: "",
        val2: [],
        val3: [],
        val4: [],
        val4Options: [],
        options2: [],
        options3: [],
        currentPage: 1,
        tableData: [],
        deletestr: ""
      };
    },
    methods: {
      // 获取分类商品
      getAsortGoods() {
        this.$http
          .get(this.$api.findStoreGoodsListByChannelCategory, {
            params: this.query
          })
          .then(rsp => {
            console.log("获取分类商品");
            console.log(rsp);
            let list = [];
            for (let i in rsp.data.data.list) {
              let obj = {};
              obj = Object.assign(
                rsp.data.data.list[i],
                rsp.data.data.list[i].storeGoodsInfo
              );
              list.push(obj);
            }
            this.total = rsp.data.data.total;
            this.tableData = list;
          });
      },
      /**@function 获取分类下拉列表 */
      getCateChanelgoryData() {
        this.$http.get(this.$api.findGoodsCategoryList).then(rsp => {
          let orData = rsp.data.data;
          var toget = function(orData) {
            var data = orData;
            var arrl = orData.length;
            var arr = [];
            for (var i = 0; i < arrl; i++) {
              //一级
              var obj1 = {};
              obj1.value = data[i].goodsCategoryId;
              obj1.label = data[i].goodsCategoryName;
              if (data[i].childCategoryList) {
                //是否有2级
                obj1.childrentemp = data[i].childCategoryList;
                obj1.children = [];
                for (var j = 0; j < obj1.childrentemp.length; j++) {
                  var obj2 = {};
                  obj2.children = [];
                  obj2.value = obj1.childrentemp[j].goodsCategoryId;
                  obj2.label = obj1.childrentemp[j].goodsCategoryName;
                  obj1.children.push(obj2);
                  // obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                  if (obj1.childrentemp[j].childCategoryList) {
                    //是否有3级
                    obj2.childrentemp = obj1.childrentemp[j].childCategoryList;
                    for (var k = 0; k < obj2.childrentemp.length; k++) {
                      var obj3 = {};
                      obj3.value = obj2.childrentemp[k].goodsCategoryId;
                      obj3.label = obj2.childrentemp[k].goodsCategoryName;
                      obj2.children.push(obj3);
                    }
                  }
                }
                arr[i] = obj1;
              } else {
                arr[i] = obj1;
              }
            }
            return arr;
          };
          var arr = toget(orData);
          console.log("生成分类数据");
          console.log(arr);
          this.val4Options = arr;
        });
      },
      /**@function 获取分类下拉列表 */
      getCategoryData() {
        this.$http
          .get(this.$api.findStoreCategoryList, {
            params: this.query
          })
          .then(rsp => {
            console.log("获取分类下拉列表");
            console.log(rsp);
            console.log(rsp.data.data);
            let data = rsp.data.data;
            let list = [];
            for (let i in data) {
              list.push({
                label: data[i].storeCategoryName,
                value: data[i].storeCategoryId
              });
            }
            this.options3 = list;
          });
      },
      /**@function 搜索名称/编号/品牌 */
      searchVal1() {
        console.log(this.val1);
        this.query.searchName = this.val1;
        this.getAsortGoods();
      },
      /**@function 选择分类 */
      selectVal2() {
        let l = this.val4.length;
        this.query.goodsCategoryId = this.val4[l - 1];
        this.getAsortGoods();
      },
      /**@function 选择店铺 */
      selectVal3() {
        this.query.storeCategoryId = this.val3;
        this.getAsortGoods();
      },

      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log(this.multipleSelection);
        let str = "";
        for (let i in this.multipleSelection) {
          str = str + this.multipleSelection[i].storeGoodsCategoryId + ",";
        }
        str = str.substring(0, str.length - 1);
        console.log(str);
        this.deletestr = str;
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.query.pageSize = val;
        this.getAsortGoods();
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.query.pageNum = val;
        this.getAsortGoods();
      },
      // 添加商品
      addActivityGoods() {
        this.$router.push("/activity/addactivitygoods");
      },
      // 查看详情
      checkOrganization(row) {
        this.$router.push({
          name: "agd",
          params: {
            goodsId: row.goodsId,
            storeCategoryId: row.storeCategoryId,
            storeGoodsCategoryId: row.storeGoodsCategoryId
          }
        });
      },
      // 修改排序号
      changeSort(row) {
        this.$http
          .get(this.$api.updateStoreGoodsCategorySort, {
            params: {
              storeGoodsCategoryId: row.storeGoodsCategoryId,
              sort: row.sort
            }
          })
          .then(rsp => {
            console.log("获取保存状态");
            console.log(rsp);
            if (rsp.data.flag == true) {
              this.$message({
                type: "success",
                message: "修改成功"
              });
            } else {
              this.$message({
                type: "error",
                message: "修改失败"
              });
            }
          });
      },
      // 删除
      cancel(row, index) {
        this.$confirm("确认删除?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            console.log(row.channelGoodsCategoryId);
            this.$http
              .get(this.$api.deleteStoreGoodsCategoryGoods, {
                params: {
                  storeGoodsCategoryIds: row.storeGoodsCategoryId
                }
              })
              .then(rsp => {
                console.log("获取删除状态");
                console.log(rsp);
                if (rsp.data.flag == true) {
                  this.$message({
                    type: "success",
                    message: "删除成功。"
                  });
                  this.getAsortGoods();
                } else {
                  this.$message({
                    type: "error",
                    message: "删除失败。"
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除"
            });
          });
      },
      // 批量删除
      deleteSelect() {
        this.$confirm("确认删除多行?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.$http
              .get(this.$api.deleteStoreGoodsCategoryGoods, {
                params: {
                  storeGoodsCategoryIds: this.deletestr
                }
              })
              .then(rsp => {
                console.log("获取删除状态");
                console.log(rsp);
                if (rsp.data.flag == true) {
                  this.$message({
                    type: "success",
                    message: "删除成功。"
                  });
                  this.getAsortGoods();
                } else {
                  this.$message({
                    type: "error",
                    message: "删除失败。"
                  });
                }
              });
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消删除"
            });
          });
      }
    },
    created: function() {
      this.getCategoryData();
      this.getAsortGoods();
      this.getCateChanelgoryData();
      console.log("val4Options");
      console.log(this.val4Options);
    }
  };
</script>
<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }
  .pagination {
    float: right;
  }
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }
</style>
