1<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">活动管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content content1">
      <div class="content-title">新增活动</div>
      <el-form :model="ruleForm" :rules="rules" ref="formData" label-width="120px">
        <el-row>
          <el-col :span='6'>
            <el-form-item label="活动名称" prop="storeCategoryName">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="addcarousel-pic-input" style="height:200px">
          <el-col>
            <el-form-item label="活动图片">
              <el-upload
                  with-credentials
                  name="upload_file"
                  :data=upload_data
                  :action="uploadApi"
                  list-type="picture-card"
                  :before-upload="beforeAvatarUpload"
                  :on-success="uploadImgHandler"
                  :file-list="imageUrl"
                  :on-remove="handleRemove"
                  :limit="1">
                <i class="el-icon-plus"></i>
                <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*320px；格式:jpg、png；大小：200KB以内</div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <!--<el-row>-->
          <!--<el-col :span='6'>-->
            <!--<el-form-item label="排序号" prop="sort">-->
              <!--<el-input v-model="ruleForm.index"></el-input>-->
            <!--</el-form-item>-->
          <!--</el-col>-->
        <!--</el-row>-->
      </el-form>
    </div>
    <el-button class="purple-bg" @click="save">保存</el-button>
    <el-button class="orange-bg" @click="cancal">取消</el-button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        isEdit:0,
        activity_id:'',
        shop_id:"",
        uploadApi: this.$uploadApi, //图片上传api
        upload_data: { file_type: 10 },
        imageUrl:[],
        ruleForm: {
          name: "",
          index: "",
          image:"",
          goods_ids:0
        },
        rules: {
          name: [
            { required: true, message: "必填", trigger: "blur" }
          ],
          sort: [{ required: true, message: "必填", trigger: "blur" }]
        }
      };
    },
    methods: {
      change() {
        //   todo
      },
      /**@function 图片 */
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      /**@function 控制上传文件规格 */
      beforeAvatarUpload(file) {
        console.log("控制上传文件规格");
        console.log(file);
        const isType = file.type == "image/jpeg" || "image/png";
        const isLt = file.size / 1024 / 1024 < 2;
        if (!isType) {
          this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
        }
        if (!isLt) {
          this.$message.error("上传图片大小不能超过 2MB!");
        }
        return isType && isLt;
      },

      // 图片上传成功
      uploadImgHandler(res){
        console.log('图片上传成功');
        console.log(res)
        this.ruleForm.image = this.$imgApi + res.data.file_md5;
      },
      save() {
        console.log(this.ruleForm);
        let postData = this.$qs.stringify({
          name:this.ruleForm.name,
          goods_ids: this.ruleForm.goods_ids,
          image: this.ruleForm.image,
          index: this.ruleForm.index,
          shop_id: this.shop_id,
        });
        if(this.isEdit){

          this.$http.post(this.$api.editActivity, postData).then(rsp => {
            // this.$isot(rsp); //登录超时处理函数
            if (rsp.data.result==0) {
              console.log(rsp.data);
              this.$message.success("修改成功！");
              //  保存成功后跳转
              // console.log(rsp.data.data.adImageId);
              this.$router.push({
                name: 'ama'
              });
            } else {
              this.$message.error("数据未填写完毕或出错，请重新检查！");
            }
          })
        }else {
          this.$http.post(this.$api.insertActivity, postData).then(rsp => {
            // this.$isot(rsp); //登录超时处理函数
            if (rsp.data.result==0) {
              console.log(rsp.data);
              this.$message.success("保存成功！");
              //  保存成功后跳转
              // console.log(rsp.data.data.adImageId);
              this.$router.push({
                name: 'ama'
              });
            } else {
              this.$message.error("数据未填写完毕或出错，请重新检查！");
            }
          })
        }
      },
      cancal() {
        this.$router.go(-1);
      }
    },
    created() {
      console.log("shop_id");
      console.log(window.sessionStorage.getItem("shop_id"));
      var shop_id = window.sessionStorage.getItem("shop_id");
      this.shop_id = shop_id;
      if(this.$route.params.activity_id){
          this.isEdit=1;
        this.activity_id = this.$route.params.activity_id;
        this.$http.get(this.$api.findActivityInfo, {
          params: {
            shop_id: this.shop_id,
            activity_id: this.activity_id
          }
        }).then(rsp => {
          console.log('获取单个活动信息');
          console.log(rsp);
          let upImgObj = {};
          upImgObj.name = upImgObj.url = rsp.data.data.activity_info.image;
          this.imageUrl.push(upImgObj);
          this.ruleForm=rsp.data.data.activity_info
          console.log(this.ruleForm);
        })
      }
    }
  };
</script>

<style scoped lang="less">
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }
</style>
