<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">活动管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content content1 addcarousel">
      <div class="content-title">选择新增商品所属活动</div>
      <el-select v-model="val0" filterable placeholder="选择新增商品所属活动" @change="selectVal0" clearable>
        <el-option v-for="item in options0" :key="item.value" :label="item.label" :value="item.value" class="search-select">
        </el-option>
      </el-select>
    </div>

    <div class="content content1 addcarousel">
      <div class="content-title">选择商品范围</div>
      <div class="search-group">
        <el-input v-model.trim="val1" @keyup.enter.native="searchVal1" @blur="searchVal1" placeholder="搜索商品名称 / 编号 / 品牌" prefix-icon="el-icon-search" class="search-input" clearable>
        </el-input>
        <el-select v-model="val3" clearable @change="selectVal3" class="search-select mb10" filterable placeholder="选择店铺分类">
          <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <el-select v-model="val4" filterable placeholder="选择添加状态" @change="selectVal4" clearable>
          <el-option v-for="item in options4" :key="item.value" :label="item.label" :value="item.value" class="search-select">
          </el-option>
        </el-select>

      </div>
      <el-table ref="singleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" :default-sort="{prop: 'sort_no', order: 'descending'}">
        <el-table-column type="selection" width="55"></el-table-column>
        <el-table-column prop="goodsName" label="商品名称" width="180px">
        </el-table-column>
        <el-table-column prop="goodsImageUrl" label="图片" width="180px">
          <template slot-scope="scope">
            <img :src="scope.row.goodsImageUrl" alt="">
          </template>
        </el-table-column>
        <el-table-column prop="goodsBrandName" label="品牌" width="180px">
        </el-table-column>
        <el-table-column prop="categoryName" label="分类" width="180px">
        </el-table-column>
        <el-table-column prop="originalPrice" label="原价（元）" width="180px">
        </el-table-column>
        <el-table-column prop="sellingPrice" label="销售价（元）" width="180px">
        </el-table-column>
        <el-table-column prop="inventory" label="库存量（件）" width="180px">
        </el-table-column>
        <el-table-column prop="hasAdd" label="添加状态" width="150px">
          <template slot-scope="scope">
            {{ scope.row.hasAdd | changehasAdd }}
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button @click="checkOrganization(scope.row)" type="text" size="small" class="purple-txt">查看</el-button>
            <el-button v-if="scope.row.hasAdd==0" @click="add(scope.row,scope.$index)" type="text" size="small" class="purple-txt">添加</el-button>
          </template>
        </el-table-column>

      </el-table>
      <div style="margin-top: 20px">
        <el-button class="purple-bg" @click="AddSelect">批量添加</el-button>
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>

    </div>
    <el-button class="orange-bg" @click="goBack">返回</el-button>
  </div>


</template>
<script>
  export default {
    filters: {
      changehasAdd: function(value) {
        if (value == 1) {
          return "已添加";
        } else {
          return "未添加";
        }
      }
    },
    data() {
      return {
        query: {
          pageNum: 1,
          pageSize: 10
        },
        total: 0,
        val0: "",
        val1: "",
        val2: "",
        val3: [],
        val4: "",
        options0: [],
        options2: [],
        options3: [],
        options4: [
          {
            value: "1",
            label: "已添加"
          },
          {
            value: "0",
            label: "未添加"
          }
        ],
        currentPage: 1,
        tableData: [],
        addStr: ""
      };
    },
    methods: {
      // 获取分类商品添加商品列表
      getStoreCategoryGoodsAddListPage() {
        this.$http
          .get(this.$api.findStoreCategoryGoodsAddListPage, {
            params: this.query
          })
          .then(rsp => {
            console.log("获取分类商品添加商品列表");
            console.log(rsp);
            this.tableData = rsp.data.data.list;
            this.total = rsp.data.data.total;
          });
      },
      /**@function 获取分类下拉列表 */
      getCategoryData() {
        this.$http
          .get(this.$api.findStoreCategoryList, {
            params: this.query
          })
          .then(rsp => {
            console.log("获取分类下拉列表");
            console.log(rsp);
            console.log(rsp.data.data);
            let data = rsp.data.data;
            let list = [];
            for (let i in data) {
              list.push({
                label: data[i].storeCategoryName,
                value: data[i].storeCategoryId
              });
            }
            this.options3 = list;
          });
      },
      // 获取选择新增商品所属分类
      getAllChannelCategory() {
        this.$http
          .get(this.$api.findStoreCategoryList, {
            params: this.query
          })
          .then(rsp => {
            console.log("获取选择新增商品所属分类");
            console.log(rsp);
            console.log(rsp.data.data);
            let data = rsp.data.data;
            let list = [];
            for (let i in data) {
              list.push({
                label: data[i].storeCategoryName,
                value: data[i].storeCategoryId
              });
            }
            this.options0 = list;
          });
      },
      // 选择选择新增商品所属分类
      selectVal0() {
        console.log(this.val0);
      },
      /**@function 搜索名称/编号/品牌 */
      searchVal1() {
        console.log(this.val1);
        this.query.searchName = this.val1;
        this.getStoreCategoryGoodsAddListPage();
      },
      // 搜索分类
      selectVal3() {
        this.query.goodsCategoryId = this.val3;
        this.getStoreCategoryGoodsAddListPage();
      },
      /**@function 选择添加状态 */
      selectVal4() {
        console.log(this.val4);
        this.query.hasAdd = this.val4;
        this.getStoreCategoryGoodsAddListPage();
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
        console.log(this.multipleSelection);
        let str = "";
        for (let i in this.multipleSelection) {
          str = str + this.multipleSelection[i].goodsId + ",";
        }
        str = str.substring(0, str.length - 1);
        console.log(str);
        this.addStr = str;
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
        this.query.pageSize = val;
        this.getStoreCategoryGoodsAddListPage();
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
        this.query.pageNum = val;
        this.getStoreCategoryGoodsAddListPage();
      },
      // 查看详情
      checkOrganization(row) {
        this.$router.push({
          name: "aagd",
          params: {
            goodsId: row.goodsId,
            storeCategoryId: row.storeCategoryId,
            storeGoodsCategoryId: row.storeGoodsCategoryId
          }
        });
      },
      // 添加
      add(row, index) {
        this.$confirm("确认添加?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            if (this.val0) {
              this.$http
                .get(this.$api.insertStoreGoodsCategoryGoods, {
                  params: {
                    storeCategoryId: this.val0,
                    goodsIds: row.goodsId
                  }
                })
                .then(rsp => {
                  console.log("获取添加状态");
                  console.log(rsp);
                  if (rsp.data.flag == true) {
                    this.$message({
                      type: "success",
                      message: "添加成功。"
                    });
                    this.getStoreCategoryGoodsAddListPage();
                  } else {
                    this.$message({
                      type: "error",
                      message: "添加失败。"
                    });
                  }
                });
            } else {
              this.$message({
                type: "error",
                message: "选择添加分类"
              });
            }
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消添加"
            });
          });
      },
      // 批量添加
      AddSelect() {
        this.$confirm("确认添加?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            if (this.val0) {
              this.$http
                .get(this.$api.insertStoreGoodsCategoryGoods, {
                  params: {
                    storeCategoryId: this.val0,
                    goodsIds: this.addStr
                  }
                })
                .then(rsp => {
                  console.log("获取添加状态");
                  console.log(rsp);
                  if (rsp.data.flag == true) {
                    this.$message({
                      type: "success",
                      message: "添加成功。"
                    });

                    this.getStoreCategoryGoodsAddListPage();
                  } else {
                    this.$message({
                      type: "error",
                      message: "添加失败。"
                    });
                  }
                });
            } else {
              this.$message({
                type: "error",
                message: "选择添加分类"
              });
            }
          })
          .catch(() => {
            this.$message({
              type: "info",
              message: "已取消添加"
            });
          });
      },
      goBack() {
        this.$router.push("/assort/goods");
      }
    },
    created: function() {
      this.getStoreCategoryGoodsAddListPage();
      this.getCategoryData();
      this.getAllChannelCategory();
    }
  };
</script>
<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }
  .pagination {
    float: right;
  }
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }
</style>
