1<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">活动管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content content1">
      <div class="content-title">修改活动</div>
      <el-form :model="asortData" :rules="rules" ref="asortData" label-width="120px">
        <el-row>
          <el-col :span='6'>
            <el-form-item label="活动名称" prop="storeCategoryName">
              <el-input v-model="asortData.storeCategoryName"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row class="addcarousel-pic-input" style="height:200px">
          <el-col>
            <el-form-item label="活动图片">
              <el-upload :action="imgApi" list-type="picture-card" :before-upload="beforeAvatarUpload" :on-success="uploadImgHandler" :file-list="upImgs" :on-remove="handleRemove" :limit="1">
                <i class="el-icon-plus"></i>
                <div slot="tip" class="el-upload__tip orange-txt">**图片尺寸：750*320px；格式:jpg、png；大小：200KB以内</div>
              </el-upload>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='6'>
            <el-form-item label="排序号" prop="sort">
              <el-input v-model="asortData.sort"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='6'>
            <el-form-item label="显示状态" prop="showState">
              <el-switch
                v-model="value3"
                active-color="#4D6CF3"
                active-text="显示">
              </el-switch>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <el-button class="purple-bg" @click="save('asortData')">保存</el-button>
    <el-button class="orange-bg" @click="cancal">取消</el-button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        showState: "",
        value3: true,
        asortData: {
          storeCategoryName: "",
          sort: ""
        },
        rules: {
          storeCategoryName: [
            { required: true, message: "必填", trigger: "blur" }
          ],
          sort: [{ required: true, message: "必填", trigger: "blur" }]
        }
      };
    },
    methods: {
      // 获取分类信息查看
      getStoreCategory() {
        this.$http
          .get(this.$api.findStoreCategory, {
            params: {
              storeCategoryId: this.$route.params.storeCategoryId
            }
          })
          .then(rsp => {
            console.log("获取分类信息查看");
            console.log(rsp);
            console.log(rsp.data.data);
            this.asortData.storeCategoryName = rsp.data.data.storeCategoryName;
            this.asortData.sort = rsp.data.data.sort;
            this.value3 = rsp.data.data.isUp == 1 ? true : false;
          });
      },
      change() {
        //   todo
      },
      save(formName) {
        this.$refs[formName].validate(valid => {
          if (valid) {
            this.$http
              .get(this.$api.updateStoreCategory, {
                params: {
                  storeCategoryId: this.$route.params.storeCategoryId,
                  storeCategoryName: this.asortData.storeCategoryName,
                  sort: this.asortData.sort,
                  isUp: this.value3 == true ? "1" : "0"
                }
              })
              .then(rsp => {
                console.log("获取分类修改信息");
                console.log(rsp);
                if (rsp.data.flag == true) {
                  this.$message({
                    type: "success",
                    message: "保存成功"
                  });
                  this.$router.go(-1);
                } else {
                  this.$message({
                    type: "error",
                    message: "保存失败"
                  });
                }
              });
          } else {
            this.$message({
              type: "error",
              message: "请按要求填写。"
            });
            return false;
          }
        });
      },
      cancal() {
        this.$router.go(-1);
      }
    },
    created() {
      this.getStoreCategory();
    }
  };
</script>

<style scoped lang="less">
  .content {
    & .content-title {
      font-size: 18px;
      font-family: MicrosoftYaHei-Bold;
      color: rgba(96, 98, 102, 1);
      font-weight: bold;
      margin: 0 10px 20px;
    }
  }
</style>
