1<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">活动管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="content">
      <div class="btn-group">
        <el-button icon="el-icon-plus" class="purple-bg" @click="addActivity">新增活动</el-button>
      </div>
      <div class="search-group select_width">
        <el-select v-model="val1" clearable @change="selectVal1" filterable placeholder="选择活动" class="search-select mb10">
          <el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
        <el-select v-model="val2" clearable @change="selectVal2" filterable placeholder="选择显示状态" class="search-select mb10">
          <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </div>

      <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" style="width: 100%" >
        <el-table-column type="index" label="序号" width="100">
        </el-table-column>
        <el-table-column prop="name" label="活动名称" width="200">
        </el-table-column>
        <el-table-column label="图片" width="300">
          <template slot-scope="scope">
            <img :src="scope.row.image" width="150" height="150"/>
          </template>
        </el-table-column>
        <el-table-column prop="isUp" label="显示状态">
          <template slot-scope="scope">
            {{ scope.row.isUp | changeIsUp }}
          </template>
        </el-table-column>
        <el-table-column prop="sort" sortable label="排序号">
          <template slot-scope="scope">
            <el-input v-model="scope.row.sort" placeholder="999" @keyup.enter.native="changeSort(scope.row)" @blur="changeSort(scope.row)" style="width: 80px"></el-input>
          </template>
        </el-table-column>

        <el-table-column label="操作" width="140">
          <template slot-scope="scope">
            <el-button @click="change(scope.row)" type="text" size="small" class="purple-txt">修改</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div style="margin-top: 20px;height:40px;">
        <div class="pagination">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="10" layout="total, sizes, prev, pager, next, jumper" :total="total">
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    filters: {
      changeIsUp: function(value) {
        if (value == 1) {
          return "显示";
        } else {
          return "隐藏";
        }
      }
    },
    data() {
      return {
        shop_id:"",
        val1: "",
        val2: "",
        options1: [],
        options2: [
          {
            label: "显示",
            value: 1
          },
          {
            label: "隐藏",
            value: 0
          }
        ],
        tableData: [{ Num: "1" }],
        query: {
          pageNum: 1,
          pageSize: 20
        },
        total: 0,
        currentPage: 1
      };
    },
    methods: {
      // 获取活动列表
      getActivityList() {
        this.$http
          .get(this.$api.findActivityList, {
            params: {shop_id:this.shop_id}
          })
          .then(rsp => {
            console.log("获取活动列表");
            console.log(rsp);
            this.tableData = rsp.data.data.activity_list;
          });
      },

      // 新增活动
      addActivity(){
          this.$router.push({name:'ac'})
      },
      /**@function 搜索商户分类id */
      selectVal1() {
        this.query.storeCategoryId = this.val1;
        this.getStoreCategoryListPage();
      },
      /**@function 选择是否上线 */
      selectVal2() {
        console.log(this.val2);
        this.query.isUp = this.val2;
        this.getStoreCategoryListPage();
      },
      /**@function 选择行 */
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      /**@function 分页 */
      handleSizeChange(pageSize) {
        this.query.pageSize = pageSize;
        this.getGoodsData();
      },
      /**@function 分页 */
      handleCurrentChange(pageNum) {
        this.query.pageNum = pageNum;
        this.getGoodsData();
      },
      // 修改活动
      change(row){
        console.log(row);
        this.$router.push({
           name:'ac',
           params:{ activity_id: row.activity_id }
         })
      }
    },
    created() {
      console.log('shop_id');
      console.log(window.sessionStorage.getItem('shop_id'));
      var shop_id = window.sessionStorage.getItem('shop_id');
      this.shop_id = shop_id;
      this.getActivityList()
    }
  };
</script>

<style scoped lang="less">
  .btn-group,
  .search-group {
    margin-bottom: 20px;
  }
  .pagination {
    float: right;
  }

  .up-btn {
    position: relative;
  }

  .file-upload {
    //   background: #4d6cf3;
    position: absolute;
    background: red;
    color: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .select_width {
    .el-cascader {
      width: 240px;
    }
  }
</style>
