<template>
  <div style="overflow-x:hidden">
    <el-menu style="background:rgba(0,0,0,0)" background-color="transparent" text-color="#eee" active-text-color="#eee"
             unique-opened router :default-openeds="['商品管理']">
      <!-- 头像 -->
      <!--<div style="text-align:center;margin-top:30px;width: 10px;height: 10px;"><img src="../../../img/avator.jpg" alt="唯柚Logo"></div>-->
      <div class="avator">
        <img src="../../../img/avator.jpg" alt="">
        <p>{{user_name}}</p>
      </div>

      <el-submenu index="商品管理">
        <template slot="title">
          <span class="iconfont">&#xe679;&nbsp;&nbsp;</span>
          商品管理
        </template>
        <el-menu-item index="/goods/goods" class="el-icon-arrow-right">&nbsp;&nbsp;商品列表
        </el-menu-item>
      </el-submenu>
      <el-submenu index="分类管理">
        <template slot="title">
          <span class="iconfont">&#xe67d;&nbsp;&nbsp;</span>
          分类管理
        </template>
        <el-menu-item index="/assort/manage" class="el-icon-arrow-right">&nbsp;&nbsp;分类管理
        </el-menu-item>
        <el-menu-item index="/assort/goods" class="el-icon-arrow-right">&nbsp;&nbsp;分类商品
        </el-menu-item>
      </el-submenu>

      <el-submenu index="订单管理">
        <template slot="title">
          <span class="iconfont">&#xe67a;&nbsp;&nbsp;</span>
          订单管理
        </template>
        <el-menu-item index="/oders/total" class="el-icon-arrow-right">&nbsp;&nbsp;全部订单
        </el-menu-item>
        <el-menu-item index="/oders/tobeshipped" class="el-icon-arrow-right">&nbsp;&nbsp;待发货订单
        </el-menu-item>
        <el-menu-item index="/oders/tobereceived" class="el-icon-arrow-right">&nbsp;&nbsp;待收货订单
        </el-menu-item>
        <el-menu-item index="/oders/completed" class="el-icon-arrow-right">&nbsp;&nbsp;已完成订单
        </el-menu-item>
        <el-menu-item index="/oders/cancel" class="el-icon-arrow-right">&nbsp;&nbsp;取消订单
        </el-menu-item>
      </el-submenu>
      <el-submenu index="首页管理">
        <template slot="title">
          <span class="iconfont">&#xe67c;&nbsp;&nbsp;</span>
          首页管理
        </template>
        <el-menu-item index="/carousel/carousel" class="el-icon-arrow-right">&nbsp;&nbsp;轮播图管理
        </el-menu-item>
        <el-menu-item index="/carousel/indexAdImg" class="el-icon-arrow-right">&nbsp;&nbsp;横幅广告管理
        </el-menu-item>
      </el-submenu>
      <el-submenu index="活动管理" >
        <template slot="title">
        <span class="iconfont">&#xe67d;&nbsp;&nbsp;</span>
        活动管理
          </template>
        <el-menu-item index="/activity/myactivity" class="el-icon-arrow-right">&nbsp;&nbsp;活动列表
        </el-menu-item>
        <el-menu-item index="/activity/activitygoods" class="el-icon-arrow-right">&nbsp;&nbsp;活动商品
        </el-menu-item>
      </el-submenu>
      <!-- <el-submenu index="活动管理" >
        <template slot="title">
          <span class="iconfont">&#xe67d;&nbsp;&nbsp;</span>
          活动管理
        </template>
        <el-menu-item index="/activity/myactivity" class="el-icon-arrow-right">&nbsp;&nbsp;活动列表
        </el-menu-item>
        <el-menu-item index="/activity/activitygoods" class="el-icon-arrow-right">&nbsp;&nbsp;活动商品
        </el-menu-item>
      </el-submenu> -->
      <el-submenu index="优惠券管理" >
        <template slot="title">
          <span class="iconfont">&#xe67d;&nbsp;&nbsp;</span>
          优惠券管理
        </template>
        <el-menu-item index="/coupon/couponList" class="el-icon-arrow-right">&nbsp;&nbsp;优惠券列表
        </el-menu-item>
        <el-menu-item index="/activity/activitygoods" class="el-icon-arrow-right">&nbsp;&nbsp;活动商品
        </el-menu-item>
      </el-submenu>
      <el-submenu index="商户设置">
        <template slot="title">
          <span class="iconfont">&#xe67b;&nbsp;&nbsp;</span>
          商户设置
        </template>
        <el-menu-item index="/shop/merchant" class="el-icon-arrow-right">&nbsp;&nbsp;基本信息
        </el-menu-item>
        <el-menu-item index="/shop/staff" class="el-icon-arrow-right">&nbsp;&nbsp;职员管理
        </el-menu-item>
        <el-menu-item index="/shop/logistics" class="el-icon-arrow-right">&nbsp;&nbsp;物流管理
        </el-menu-item>
      </el-submenu>
      <!--<el-submenu index="推荐管理">-->
      <!--<template slot="title">-->
      <!--<span class="el-icon-star-on">&nbsp;&nbsp;</span>-->
      <!--推荐管理-->
      <!--</template>-->
      <!--<el-menu-item index="/recommendation/buyInformation" class="el-icon-arrow-right">&nbsp;&nbsp;购买数据-->
      <!--</el-menu-item>-->
      <!--&lt;!&ndash; <el-menu-item index="/recommendation/recommendation" class="el-icon-arrow-right">&nbsp;&nbsp;推荐列表-->
      <!--</el-menu-item> &ndash;&gt;-->
      <!--<el-menu-item index="/recommendation/goods" class="el-icon-arrow-right">&nbsp;&nbsp;商品管理-->
      <!--</el-menu-item>-->
      <!--<el-menu-item index="/recommendation/report" class="el-icon-arrow-right">&nbsp;&nbsp;数据报表-->
      <!--</el-menu-item>-->
      <!--</el-submenu>-->
    </el-menu>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user_name: "",
        storeLogo: "",
        storeName: ""
      };
    },
    methods: {},
    created() {
      // this.$router.push("/goods/goods");
      this.userName = sessionStorage.getItem("userName");
      this.storeName = sessionStorage.getItem("storeName");
      this.storeLogo = sessionStorage.getItem("storeLogo");
    }
  };
</script>

<style scoped lang="less">
  .avator {
    width: 200px;
    height: 200px;
    transform: translate(60px, 25px);
    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    & p {
      transform: translateX(-55px);
      text-align: center;
      color: #fff;
    }
  }

  .sub-to {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .el-menu,
  .el-menu-item,
  .el-submenu,
  .el-submenu__title,
  .left_nav {
    width: 220px;
  }

  //侧边栏二级菜单hover背景
  .el-menu-item:hover,
  .el-menu-item:focus {
    background: rgba(0, 0, 0, 0.3) !important;
  }

  //修改左侧导航栏二级菜单点击后的样式
  .el-menu-item.is-active {
    background: rgba(0, 0, 0, 0.3) !important;
  }
</style>
