1<template>
  <div>

    <!-- 面包屑导航 -->
    <div class="breadcrumb">
      <div class="breadcrumb-head">优惠券管理</div>
      <el-breadcrumb>
        <el-breadcrumb-item v-for="(item,i) in $route.meta" :key="i">{{item}}</el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <div class="content content1">
      <div class="content-title">新增优惠券</div>
      <el-form :model="formData" :rules="rules" ref="formData" label-width="120px">
        <el-row>
          <el-col :span='8'>
            <el-form-item label="优惠券名称" prop="storeCategoryName">
              <el-input v-model="formData.name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="优惠券说明" prop="storeCategoryName">
              <el-input v-model="formData.explain" type="textarea"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="优惠券类型" prop="storeCategoryName">
              <el-select class="mt5 mb5" v-model="formData.type" filterable clearable placeholder="选择优惠券类型">
                <el-option v-for="item in type" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8'>
            <el-form-item label="使用金额" prop="storeCategoryName">
              <el-input v-model="formData.condition"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='8' v-if="formData.type==20">
            <el-form-item label="满减金额" prop="storeCategoryName">
              <el-input v-model="formData.money"></el-input>
            </el-form-item> 
          </el-col>
        </el-row>
        
      </el-form>
    </div>
    <el-button class="purple-bg" @click="save">保存</el-button>
    <el-button class="orange-bg" @click="cancal">取消</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isEdit: 0,
      activity_id: "",
      shop_id: "",
      uploadApi: this.$uploadApi, //图片上传api
      upload_data: { file_type: 10 },
      imageUrl: [],
      formData: {
        name: "",
        index: "",
        image: "",
        goods_ids: 0
      },
      rules: {
        name: [{ required: true, message: "必填", trigger: "blur" }],
        sort: [{ required: true, message: "必填", trigger: "blur" }]
      },
      type:[{
        label:'满额立减',
        value:20
      },{
        label:'满额包邮',
        value:10
      }]
    };
  },
  methods: {
    change() {
      //   todo
    },
    /**@function 图片 */
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    /**@function 控制上传文件规格 */
    beforeAvatarUpload(file) {
      console.log("控制上传文件规格");
      console.log(file);
      const isType = file.type == "image/jpeg" || "image/png";
      const isLt = file.size / 1024 / 1024 < 2;
      if (!isType) {
        this.$message.error("上传图片只能是 JPG 或者 PNG 格式!");
      }
      if (!isLt) {
        this.$message.error("上传图片大小不能超过 2MB!");
      }
      return isType && isLt;
    },

    // 图片上传成功
    uploadImgHandler(res) {
      console.log("图片上传成功");
      console.log(res);
      this.ruleForm.image = this.$imgApi + res.data.file_md5;
    },
    save() {
      console.log(this.formData);
      let postData = this.$qs.stringify({
        name: this.formData.name,
        explain: this.formData.explain,
        type: this.formData.type,
        condition: this.formData.condition,
        money: this.formData.money,
        shop_id: this.shop_id
      });
      if (this.isEdit) {
        this.$http.post(this.$api.addCoupon, postData).then(rsp => {
          // this.$isot(rsp); //登录超时处理函数
          if (rsp.data.result == 0) {
            console.log(rsp.data);
            this.$message.success("修改成功！");
            //  保存成功后跳转
            // console.log(rsp.data.data.adImageId);
            this.$router.push({
              name: "ama"
            });
          } else {
            this.$message.error("数据未填写完毕或出错，请重新检查！");
          }
        });
      } else {
        this.$http.post(this.$api.addCoupon, postData).then(rsp => {
          // this.$isot(rsp); //登录超时处理函数
          if (rsp.data.result == 0) {
            console.log(rsp.data);
            this.$message.success("保存成功！");
            //  保存成功后跳转
            // console.log(rsp.data.data.adImageId);
            this.$router.push({
              name: "ama"
            });
          } else {
            this.$message.error("数据未填写完毕或出错，请重新检查！");
          }
        });
      }
    },
    cancal() {
      this.$router.go(-1);
    }
  },
  created() {
    console.log("shop_id");
    console.log(window.sessionStorage.getItem("shop_id"));
    var shop_id = window.sessionStorage.getItem("shop_id");
    this.shop_id = shop_id;
    if (this.$route.params.activity_id) {
      this.isEdit = 1;
      this.activity_id = this.$route.params.activity_id;
      this.$http
        .get(this.$api.findActivityInfo, {
          params: {
            shop_id: this.shop_id,
            activity_id: this.activity_id
          }
        })
        .then(rsp => {
          console.log("获取单个活动信息");
          console.log(rsp);
          let upImgObj = {};
          upImgObj.name = upImgObj.url = rsp.data.data.activity_info.image;
          this.imageUrl.push(upImgObj);
          this.ruleForm = rsp.data.data.activity_info;
          console.log(this.ruleForm);
        });
    }
  }
};
</script>

<style scoped lang="less">
.content {
  & .content-title {
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    color: rgba(96, 98, 102, 1);
    font-weight: bold;
    margin: 0 10px 20px;
  }
}
</style>
